=begin
#The Plaid API

#The Plaid REST API. Please see https://plaid.com/docs/api for more details.

The version of the OpenAPI document: 2020-09-14_1.16.6

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.1.0

=end

require 'cgi'

module Plaid
  class PlaidApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve real-time balance data
    # The `/accounts/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints may return a balance object, only `/accounts/balance/get` forces the available and current balance fields to be refreshed rather than cached. This endpoint can be used for existing Items that were added via any of Plaid’s other products. This endpoint can be used as long as Link has been initialized with any other product, `balance` itself is not a product that can be used to initialize Link.
    # @param accounts_balance_get_request [AccountsBalanceGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AccountsGetResponse]
    def accounts_balance_get(accounts_balance_get_request, opts = {})
      data, _status_code, _headers = accounts_balance_get_with_http_info(accounts_balance_get_request, opts)
      data
    end

    # Retrieve real-time balance data
    # The &#x60;/accounts/balance/get&#x60; endpoint returns the real-time balance for each of an Item&#39;s accounts. While other endpoints may return a balance object, only &#x60;/accounts/balance/get&#x60; forces the available and current balance fields to be refreshed rather than cached. This endpoint can be used for existing Items that were added via any of Plaid’s other products. This endpoint can be used as long as Link has been initialized with any other product, &#x60;balance&#x60; itself is not a product that can be used to initialize Link.
    # @param accounts_balance_get_request [AccountsBalanceGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountsGetResponse, Integer, Hash)>] AccountsGetResponse data, response status code and response headers
    def accounts_balance_get_with_http_info(accounts_balance_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.accounts_balance_get ...'
      end
      # verify the required parameter 'accounts_balance_get_request' is set
      if @api_client.config.client_side_validation && accounts_balance_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'accounts_balance_get_request' when calling PlaidApi.accounts_balance_get"
      end
      # resource path
      local_var_path = '/accounts/balance/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(accounts_balance_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountsGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.accounts_balance_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#accounts_balance_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve accounts
    # The `/accounts/get`  endpoint can be used to retrieve information for any linked Item. Note that some information is nullable. Plaid will only return active bank accounts, i.e. accounts that are not closed and are capable of carrying a balance.  This endpoint retrieves cached information, rather than extracting fresh information from the institution. As a result, balances returned may not be up-to-date; for realtime balance information, use `/accounts/balance/get` instead.
    # @param accounts_get_request [AccountsGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AccountsGetResponse]
    def accounts_get(accounts_get_request, opts = {})
      data, _status_code, _headers = accounts_get_with_http_info(accounts_get_request, opts)
      data
    end

    # Retrieve accounts
    # The &#x60;/accounts/get&#x60;  endpoint can be used to retrieve information for any linked Item. Note that some information is nullable. Plaid will only return active bank accounts, i.e. accounts that are not closed and are capable of carrying a balance.  This endpoint retrieves cached information, rather than extracting fresh information from the institution. As a result, balances returned may not be up-to-date; for realtime balance information, use &#x60;/accounts/balance/get&#x60; instead.
    # @param accounts_get_request [AccountsGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountsGetResponse, Integer, Hash)>] AccountsGetResponse data, response status code and response headers
    def accounts_get_with_http_info(accounts_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.accounts_get ...'
      end
      # verify the required parameter 'accounts_get_request' is set
      if @api_client.config.client_side_validation && accounts_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'accounts_get_request' when calling PlaidApi.accounts_get"
      end
      # resource path
      local_var_path = '/accounts/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(accounts_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountsGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve information about a Plaid application
    # Allows financial institutions to retrieve information about Plaid clients for the purpose of building control-tower experiences
    # @param application_get_request [ApplicationGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplicationGetResponse]
    def application_get(application_get_request, opts = {})
      data, _status_code, _headers = application_get_with_http_info(application_get_request, opts)
      data
    end

    # Retrieve information about a Plaid application
    # Allows financial institutions to retrieve information about Plaid clients for the purpose of building control-tower experiences
    # @param application_get_request [ApplicationGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplicationGetResponse, Integer, Hash)>] ApplicationGetResponse data, response status code and response headers
    def application_get_with_http_info(application_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.application_get ...'
      end
      # verify the required parameter 'application_get_request' is set
      if @api_client.config.client_side_validation && application_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'application_get_request' when calling PlaidApi.application_get"
      end
      # resource path
      local_var_path = '/application/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.application_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#application_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Asset Report Audit Copy
    # Plaid can provide an Audit Copy of any Asset Report directly to a participating third party on your behalf. For example, Plaid can supply an Audit Copy directly to Fannie Mae on your behalf if you participate in the Day 1 Certainty™ program. An Audit Copy contains the same underlying data as the Asset Report.  To grant access to an Audit Copy, use the `/asset_report/audit_copy/create` endpoint to create an `audit_copy_token` and then pass that token to the third party who needs access. Each third party has its own `auditor_id`, for example `fannie_mae`. You’ll need to create a separate Audit Copy for each third party to whom you want to grant access to the Report.
    # @param asset_report_audit_copy_create_request [AssetReportAuditCopyCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssetReportAuditCopyCreateResponse]
    def asset_report_audit_copy_create(asset_report_audit_copy_create_request, opts = {})
      data, _status_code, _headers = asset_report_audit_copy_create_with_http_info(asset_report_audit_copy_create_request, opts)
      data
    end

    # Create Asset Report Audit Copy
    # Plaid can provide an Audit Copy of any Asset Report directly to a participating third party on your behalf. For example, Plaid can supply an Audit Copy directly to Fannie Mae on your behalf if you participate in the Day 1 Certainty™ program. An Audit Copy contains the same underlying data as the Asset Report.  To grant access to an Audit Copy, use the &#x60;/asset_report/audit_copy/create&#x60; endpoint to create an &#x60;audit_copy_token&#x60; and then pass that token to the third party who needs access. Each third party has its own &#x60;auditor_id&#x60;, for example &#x60;fannie_mae&#x60;. You’ll need to create a separate Audit Copy for each third party to whom you want to grant access to the Report.
    # @param asset_report_audit_copy_create_request [AssetReportAuditCopyCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetReportAuditCopyCreateResponse, Integer, Hash)>] AssetReportAuditCopyCreateResponse data, response status code and response headers
    def asset_report_audit_copy_create_with_http_info(asset_report_audit_copy_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.asset_report_audit_copy_create ...'
      end
      # verify the required parameter 'asset_report_audit_copy_create_request' is set
      if @api_client.config.client_side_validation && asset_report_audit_copy_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'asset_report_audit_copy_create_request' when calling PlaidApi.asset_report_audit_copy_create"
      end
      # resource path
      local_var_path = '/asset_report/audit_copy/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_report_audit_copy_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetReportAuditCopyCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.asset_report_audit_copy_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#asset_report_audit_copy_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an Asset Report Audit Copy
    # `/asset_report/audit_copy/get` allows auditors to get a copy of an Asset Report that was previously shared via the `/asset_report/audit_copy/create` endpoint.  The caller of `/asset_report/audit_copy/create` must provide the `audit_copy_token` to the auditor.  This token can then be used to call `/asset_report/audit_copy/create`.
    # @param asset_report_audit_copy_get_request [AssetReportAuditCopyGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssetReportGetResponse]
    def asset_report_audit_copy_get(asset_report_audit_copy_get_request, opts = {})
      data, _status_code, _headers = asset_report_audit_copy_get_with_http_info(asset_report_audit_copy_get_request, opts)
      data
    end

    # Retrieve an Asset Report Audit Copy
    # &#x60;/asset_report/audit_copy/get&#x60; allows auditors to get a copy of an Asset Report that was previously shared via the &#x60;/asset_report/audit_copy/create&#x60; endpoint.  The caller of &#x60;/asset_report/audit_copy/create&#x60; must provide the &#x60;audit_copy_token&#x60; to the auditor.  This token can then be used to call &#x60;/asset_report/audit_copy/create&#x60;.
    # @param asset_report_audit_copy_get_request [AssetReportAuditCopyGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetReportGetResponse, Integer, Hash)>] AssetReportGetResponse data, response status code and response headers
    def asset_report_audit_copy_get_with_http_info(asset_report_audit_copy_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.asset_report_audit_copy_get ...'
      end
      # verify the required parameter 'asset_report_audit_copy_get_request' is set
      if @api_client.config.client_side_validation && asset_report_audit_copy_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'asset_report_audit_copy_get_request' when calling PlaidApi.asset_report_audit_copy_get"
      end
      # resource path
      local_var_path = '/asset_report/audit_copy/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_report_audit_copy_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetReportGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.asset_report_audit_copy_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#asset_report_audit_copy_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove Asset Report Audit Copy
    # The `/asset_report/audit_copy/remove` endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Asset Report, the Asset Report itself and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
    # @param asset_report_audit_copy_remove_request [AssetReportAuditCopyRemoveRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssetReportAuditCopyRemoveResponse]
    def asset_report_audit_copy_remove(asset_report_audit_copy_remove_request, opts = {})
      data, _status_code, _headers = asset_report_audit_copy_remove_with_http_info(asset_report_audit_copy_remove_request, opts)
      data
    end

    # Remove Asset Report Audit Copy
    # The &#x60;/asset_report/audit_copy/remove&#x60; endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the &#x60;audit_copy_token&#x60; associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Asset Report, the Asset Report itself and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
    # @param asset_report_audit_copy_remove_request [AssetReportAuditCopyRemoveRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetReportAuditCopyRemoveResponse, Integer, Hash)>] AssetReportAuditCopyRemoveResponse data, response status code and response headers
    def asset_report_audit_copy_remove_with_http_info(asset_report_audit_copy_remove_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.asset_report_audit_copy_remove ...'
      end
      # verify the required parameter 'asset_report_audit_copy_remove_request' is set
      if @api_client.config.client_side_validation && asset_report_audit_copy_remove_request.nil?
        fail ArgumentError, "Missing the required parameter 'asset_report_audit_copy_remove_request' when calling PlaidApi.asset_report_audit_copy_remove"
      end
      # resource path
      local_var_path = '/asset_report/audit_copy/remove'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_report_audit_copy_remove_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetReportAuditCopyRemoveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.asset_report_audit_copy_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#asset_report_audit_copy_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an Asset Report
    # The `/asset_report/create` endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the `asset_report_token` return value to the `/asset_report/get` or `/asset_report/pdf/get` endpoints.  The Asset Report takes some time to be created and is not available immediately after calling `/asset_report/create`. When the Asset Report is ready to be retrieved using `/asset_report/get` or `/asset_report/pdf/get`, Plaid will fire a `PRODUCT_READY` webhook. For full details of the webhook schema, see [Asset Report webhooks](/docs/api/webhooks/#Assets-webhooks).  The `/asset_report/create` endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the `/asset_report/refresh` endpoint.
    # @param asset_report_create_request [AssetReportCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssetReportCreateResponse]
    def asset_report_create(asset_report_create_request, opts = {})
      data, _status_code, _headers = asset_report_create_with_http_info(asset_report_create_request, opts)
      data
    end

    # Create an Asset Report
    # The &#x60;/asset_report/create&#x60; endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the &#x60;asset_report_token&#x60; return value to the &#x60;/asset_report/get&#x60; or &#x60;/asset_report/pdf/get&#x60; endpoints.  The Asset Report takes some time to be created and is not available immediately after calling &#x60;/asset_report/create&#x60;. When the Asset Report is ready to be retrieved using &#x60;/asset_report/get&#x60; or &#x60;/asset_report/pdf/get&#x60;, Plaid will fire a &#x60;PRODUCT_READY&#x60; webhook. For full details of the webhook schema, see [Asset Report webhooks](/docs/api/webhooks/#Assets-webhooks).  The &#x60;/asset_report/create&#x60; endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the &#x60;/asset_report/refresh&#x60; endpoint.
    # @param asset_report_create_request [AssetReportCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetReportCreateResponse, Integer, Hash)>] AssetReportCreateResponse data, response status code and response headers
    def asset_report_create_with_http_info(asset_report_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.asset_report_create ...'
      end
      # verify the required parameter 'asset_report_create_request' is set
      if @api_client.config.client_side_validation && asset_report_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'asset_report_create_request' when calling PlaidApi.asset_report_create"
      end
      # resource path
      local_var_path = '/asset_report/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_report_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetReportCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.asset_report_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#asset_report_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Filter Asset Report
    # By default, an Asset Report will contain all of the accounts on a given Item. In some cases, you may not want the Asset Report to contain all accounts. For example, you might have the end user choose which accounts are relevant in Link using the Select Account view, which you can enable in the dashboard. Or, you might always exclude certain account types or subtypes, which you can identify by using the `/accounts/get` endpoint. To narrow an Asset Report to only a subset of accounts, use the `/asset_report/filter` endpoint.  To exclude certain Accounts from an Asset Report, first use the `/asset_report/create` endpoint to create the report, then send the `asset_report_token` along with a list of `account_ids` to exclude to the `/asset_report/filter` endpoint, to create a new Asset Report which contains only a subset of the original Asset Report's data.  Because Asset Reports are immutable, calling `/asset_report/filter` does not alter the original Asset Report in any way; rather, `/asset_report/filter` creates a new Asset Report with a new token and id. Asset Reports created via `/asset_report/filter` do not contain new Asset data, and are not billed.  Plaid will fire a [`PRODUCT_READY`](/docs/api/webhooks) webhook once generation of the filtered Asset Report has completed.
    # @param asset_report_filter_request [AssetReportFilterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssetReportFilterResponse]
    def asset_report_filter(asset_report_filter_request, opts = {})
      data, _status_code, _headers = asset_report_filter_with_http_info(asset_report_filter_request, opts)
      data
    end

    # Filter Asset Report
    # By default, an Asset Report will contain all of the accounts on a given Item. In some cases, you may not want the Asset Report to contain all accounts. For example, you might have the end user choose which accounts are relevant in Link using the Select Account view, which you can enable in the dashboard. Or, you might always exclude certain account types or subtypes, which you can identify by using the &#x60;/accounts/get&#x60; endpoint. To narrow an Asset Report to only a subset of accounts, use the &#x60;/asset_report/filter&#x60; endpoint.  To exclude certain Accounts from an Asset Report, first use the &#x60;/asset_report/create&#x60; endpoint to create the report, then send the &#x60;asset_report_token&#x60; along with a list of &#x60;account_ids&#x60; to exclude to the &#x60;/asset_report/filter&#x60; endpoint, to create a new Asset Report which contains only a subset of the original Asset Report&#39;s data.  Because Asset Reports are immutable, calling &#x60;/asset_report/filter&#x60; does not alter the original Asset Report in any way; rather, &#x60;/asset_report/filter&#x60; creates a new Asset Report with a new token and id. Asset Reports created via &#x60;/asset_report/filter&#x60; do not contain new Asset data, and are not billed.  Plaid will fire a [&#x60;PRODUCT_READY&#x60;](/docs/api/webhooks) webhook once generation of the filtered Asset Report has completed.
    # @param asset_report_filter_request [AssetReportFilterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetReportFilterResponse, Integer, Hash)>] AssetReportFilterResponse data, response status code and response headers
    def asset_report_filter_with_http_info(asset_report_filter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.asset_report_filter ...'
      end
      # verify the required parameter 'asset_report_filter_request' is set
      if @api_client.config.client_side_validation && asset_report_filter_request.nil?
        fail ArgumentError, "Missing the required parameter 'asset_report_filter_request' when calling PlaidApi.asset_report_filter"
      end
      # resource path
      local_var_path = '/asset_report/filter'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_report_filter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetReportFilterResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.asset_report_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#asset_report_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an Asset Report
    # The `/asset_report/get` endpoint retrieves the Asset Report in JSON format. Before calling `/asset_report/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](/docs/api/webhooks) webhook to fire, indicating that the Report is ready to be retrieved.  By default, an Asset Report includes transaction descriptions as returned by the bank, as opposed to parsed and categorized by Plaid. You can also receive cleaned and categorized transactions, as well as additional insights like merchant name or location information. We call this an Asset Report with Insights. An Asset Report with Insights provides transaction category, location, and merchant information in addition to the transaction strings provided in a standard Asset Report.  To retrieve an Asset Report with Insights, call the `/asset_report/get` endpoint with `include_insights` set to `true`.
    # @param asset_report_get_request [AssetReportGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssetReportGetResponse]
    def asset_report_get(asset_report_get_request, opts = {})
      data, _status_code, _headers = asset_report_get_with_http_info(asset_report_get_request, opts)
      data
    end

    # Retrieve an Asset Report
    # The &#x60;/asset_report/get&#x60; endpoint retrieves the Asset Report in JSON format. Before calling &#x60;/asset_report/get&#x60;, you must first create the Asset Report using &#x60;/asset_report/create&#x60; (or filter an Asset Report using &#x60;/asset_report/filter&#x60;) and then wait for the [&#x60;PRODUCT_READY&#x60;](/docs/api/webhooks) webhook to fire, indicating that the Report is ready to be retrieved.  By default, an Asset Report includes transaction descriptions as returned by the bank, as opposed to parsed and categorized by Plaid. You can also receive cleaned and categorized transactions, as well as additional insights like merchant name or location information. We call this an Asset Report with Insights. An Asset Report with Insights provides transaction category, location, and merchant information in addition to the transaction strings provided in a standard Asset Report.  To retrieve an Asset Report with Insights, call the &#x60;/asset_report/get&#x60; endpoint with &#x60;include_insights&#x60; set to &#x60;true&#x60;.
    # @param asset_report_get_request [AssetReportGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetReportGetResponse, Integer, Hash)>] AssetReportGetResponse data, response status code and response headers
    def asset_report_get_with_http_info(asset_report_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.asset_report_get ...'
      end
      # verify the required parameter 'asset_report_get_request' is set
      if @api_client.config.client_side_validation && asset_report_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'asset_report_get_request' when calling PlaidApi.asset_report_get"
      end
      # resource path
      local_var_path = '/asset_report/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_report_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetReportGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.asset_report_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#asset_report_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a PDF Asset Report
    # The `/asset_report/pdf/get` endpoint retrieves the Asset Report in PDF format. Before calling `/asset_report/pdf/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](/docs/api/webhooks) webhook to fire, indicating that the Report is ready to be retrieved.  The response to `/asset_report/pdf/get` is the PDF binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.  [View a sample PDF Asset Report with Insights](https://plaid.com/documents/sample-asset-report.pdf).
    # @param asset_report_pdf_get_request [AssetReportPDFGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def asset_report_pdf_get(asset_report_pdf_get_request, opts = {})
      data, _status_code, _headers = asset_report_pdf_get_with_http_info(asset_report_pdf_get_request, opts)
      data
    end

    # Retrieve a PDF Asset Report
    # The &#x60;/asset_report/pdf/get&#x60; endpoint retrieves the Asset Report in PDF format. Before calling &#x60;/asset_report/pdf/get&#x60;, you must first create the Asset Report using &#x60;/asset_report/create&#x60; (or filter an Asset Report using &#x60;/asset_report/filter&#x60;) and then wait for the [&#x60;PRODUCT_READY&#x60;](/docs/api/webhooks) webhook to fire, indicating that the Report is ready to be retrieved.  The response to &#x60;/asset_report/pdf/get&#x60; is the PDF binary data. The &#x60;request_id&#x60;  is returned in the &#x60;Plaid-Request-ID&#x60; header.  [View a sample PDF Asset Report with Insights](https://plaid.com/documents/sample-asset-report.pdf).
    # @param asset_report_pdf_get_request [AssetReportPDFGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def asset_report_pdf_get_with_http_info(asset_report_pdf_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.asset_report_pdf_get ...'
      end
      # verify the required parameter 'asset_report_pdf_get_request' is set
      if @api_client.config.client_side_validation && asset_report_pdf_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'asset_report_pdf_get_request' when calling PlaidApi.asset_report_pdf_get"
      end
      # resource path
      local_var_path = '/asset_report/pdf/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_report_pdf_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.asset_report_pdf_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#asset_report_pdf_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refresh an Asset Report
    # An Asset Report is an immutable snapshot of a user's assets. In order to \"refresh\" an Asset Report you created previously, you can use the `/asset_report/refresh` endpoint to create a new Asset Report based on the old one, but with the most recent data available.  The new Asset Report will contain the same Items as the original Report, as well as the same filters applied by any call to `/asset_report/filter`. By default, the new Asset Report will also use the same parameters you submitted with your original `/asset_report/create` request, but the original `days_requested` value and the values of any parameters in the `options` object can be overridden with new values. To change these arguments, simply supply new values for them in your request to `/asset_report/refresh`. Submit an empty string (\"\") for any previously-populated fields you would like set as empty.
    # @param asset_report_refresh_request [AssetReportRefreshRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssetReportRefreshResponse]
    def asset_report_refresh(asset_report_refresh_request, opts = {})
      data, _status_code, _headers = asset_report_refresh_with_http_info(asset_report_refresh_request, opts)
      data
    end

    # Refresh an Asset Report
    # An Asset Report is an immutable snapshot of a user&#39;s assets. In order to \&quot;refresh\&quot; an Asset Report you created previously, you can use the &#x60;/asset_report/refresh&#x60; endpoint to create a new Asset Report based on the old one, but with the most recent data available.  The new Asset Report will contain the same Items as the original Report, as well as the same filters applied by any call to &#x60;/asset_report/filter&#x60;. By default, the new Asset Report will also use the same parameters you submitted with your original &#x60;/asset_report/create&#x60; request, but the original &#x60;days_requested&#x60; value and the values of any parameters in the &#x60;options&#x60; object can be overridden with new values. To change these arguments, simply supply new values for them in your request to &#x60;/asset_report/refresh&#x60;. Submit an empty string (\&quot;\&quot;) for any previously-populated fields you would like set as empty.
    # @param asset_report_refresh_request [AssetReportRefreshRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetReportRefreshResponse, Integer, Hash)>] AssetReportRefreshResponse data, response status code and response headers
    def asset_report_refresh_with_http_info(asset_report_refresh_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.asset_report_refresh ...'
      end
      # verify the required parameter 'asset_report_refresh_request' is set
      if @api_client.config.client_side_validation && asset_report_refresh_request.nil?
        fail ArgumentError, "Missing the required parameter 'asset_report_refresh_request' when calling PlaidApi.asset_report_refresh"
      end
      # resource path
      local_var_path = '/asset_report/refresh'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_report_refresh_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetReportRefreshResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.asset_report_refresh",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#asset_report_refresh\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an Asset Report
    # The `/item/remove` endpoint allows you to invalidate an `access_token`, meaning you will not be able to create new Asset Reports with it. Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove them specifically.  The `/asset_report/remove` endpoint allows you to remove an Asset Report. Removing an Asset Report invalidates its `asset_report_token`, meaning you will no longer be able to use it to access Report data or create new Audit Copies. Removing an Asset Report does not affect the underlying Items, but does invalidate any `audit_copy_tokens` associated with the Asset Report.
    # @param asset_report_remove_request [AssetReportRemoveRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssetReportRemoveResponse]
    def asset_report_remove(asset_report_remove_request, opts = {})
      data, _status_code, _headers = asset_report_remove_with_http_info(asset_report_remove_request, opts)
      data
    end

    # Delete an Asset Report
    # The &#x60;/item/remove&#x60; endpoint allows you to invalidate an &#x60;access_token&#x60;, meaning you will not be able to create new Asset Reports with it. Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove them specifically.  The &#x60;/asset_report/remove&#x60; endpoint allows you to remove an Asset Report. Removing an Asset Report invalidates its &#x60;asset_report_token&#x60;, meaning you will no longer be able to use it to access Report data or create new Audit Copies. Removing an Asset Report does not affect the underlying Items, but does invalidate any &#x60;audit_copy_tokens&#x60; associated with the Asset Report.
    # @param asset_report_remove_request [AssetReportRemoveRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetReportRemoveResponse, Integer, Hash)>] AssetReportRemoveResponse data, response status code and response headers
    def asset_report_remove_with_http_info(asset_report_remove_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.asset_report_remove ...'
      end
      # verify the required parameter 'asset_report_remove_request' is set
      if @api_client.config.client_side_validation && asset_report_remove_request.nil?
        fail ArgumentError, "Missing the required parameter 'asset_report_remove_request' when calling PlaidApi.asset_report_remove"
      end
      # resource path
      local_var_path = '/asset_report/remove'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_report_remove_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetReportRemoveResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.asset_report_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#asset_report_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve auth data
    # The `/auth/get` endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item's checking and savings accounts, along with high-level account data and balances when available.  Note: This request may take some time to complete if `auth` was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.
    # @param auth_get_request [AuthGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthGetResponse]
    def auth_get(auth_get_request, opts = {})
      data, _status_code, _headers = auth_get_with_http_info(auth_get_request, opts)
      data
    end

    # Retrieve auth data
    # The &#x60;/auth/get&#x60; endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item&#39;s checking and savings accounts, along with high-level account data and balances when available.  Note: This request may take some time to complete if &#x60;auth&#x60; was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.
    # @param auth_get_request [AuthGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthGetResponse, Integer, Hash)>] AuthGetResponse data, response status code and response headers
    def auth_get_with_http_info(auth_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.auth_get ...'
      end
      # verify the required parameter 'auth_get_request' is set
      if @api_client.config.client_side_validation && auth_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_get_request' when calling PlaidApi.auth_get"
      end
      # resource path
      local_var_path = '/auth/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.auth_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#auth_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get balance of your Bank Transfer account
    # Use the `/bank_transfer/balance/get` endpoint to see the available balance in your bank transfer account. Debit transfers increase this balance once their status is posted. Credit transfers decrease this balance when they are created.  The transactable balance shows the amount in your account that you are able to use for transfers, and is essentially your available balance minus your minimum balance.  Note that this endpoint can only be used with FBO accounts, when using Bank Transfers in the Full Service configuration. It cannot be used on your own account when using Bank Transfers in the BTS Platform configuration.
    # @param bank_transfer_balance_get_request [BankTransferBalanceGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BankTransferBalanceGetResponse]
    def bank_transfer_balance_get(bank_transfer_balance_get_request, opts = {})
      data, _status_code, _headers = bank_transfer_balance_get_with_http_info(bank_transfer_balance_get_request, opts)
      data
    end

    # Get balance of your Bank Transfer account
    # Use the &#x60;/bank_transfer/balance/get&#x60; endpoint to see the available balance in your bank transfer account. Debit transfers increase this balance once their status is posted. Credit transfers decrease this balance when they are created.  The transactable balance shows the amount in your account that you are able to use for transfers, and is essentially your available balance minus your minimum balance.  Note that this endpoint can only be used with FBO accounts, when using Bank Transfers in the Full Service configuration. It cannot be used on your own account when using Bank Transfers in the BTS Platform configuration.
    # @param bank_transfer_balance_get_request [BankTransferBalanceGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankTransferBalanceGetResponse, Integer, Hash)>] BankTransferBalanceGetResponse data, response status code and response headers
    def bank_transfer_balance_get_with_http_info(bank_transfer_balance_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.bank_transfer_balance_get ...'
      end
      # verify the required parameter 'bank_transfer_balance_get_request' is set
      if @api_client.config.client_side_validation && bank_transfer_balance_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'bank_transfer_balance_get_request' when calling PlaidApi.bank_transfer_balance_get"
      end
      # resource path
      local_var_path = '/bank_transfer/balance/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bank_transfer_balance_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransferBalanceGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.bank_transfer_balance_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#bank_transfer_balance_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel a bank transfer
    # Use the `/bank_transfer/cancel` endpoint to cancel a bank transfer.  A transfer is eligible for cancelation if the `cancellable` property returned by `/bank_transfer/get` is `true`.
    # @param bank_transfer_cancel_request [BankTransferCancelRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BankTransferCancelResponse]
    def bank_transfer_cancel(bank_transfer_cancel_request, opts = {})
      data, _status_code, _headers = bank_transfer_cancel_with_http_info(bank_transfer_cancel_request, opts)
      data
    end

    # Cancel a bank transfer
    # Use the &#x60;/bank_transfer/cancel&#x60; endpoint to cancel a bank transfer.  A transfer is eligible for cancelation if the &#x60;cancellable&#x60; property returned by &#x60;/bank_transfer/get&#x60; is &#x60;true&#x60;.
    # @param bank_transfer_cancel_request [BankTransferCancelRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankTransferCancelResponse, Integer, Hash)>] BankTransferCancelResponse data, response status code and response headers
    def bank_transfer_cancel_with_http_info(bank_transfer_cancel_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.bank_transfer_cancel ...'
      end
      # verify the required parameter 'bank_transfer_cancel_request' is set
      if @api_client.config.client_side_validation && bank_transfer_cancel_request.nil?
        fail ArgumentError, "Missing the required parameter 'bank_transfer_cancel_request' when calling PlaidApi.bank_transfer_cancel"
      end
      # resource path
      local_var_path = '/bank_transfer/cancel'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bank_transfer_cancel_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransferCancelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.bank_transfer_cancel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#bank_transfer_cancel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a bank transfer
    # Use the `/bank_transfer/create` endpoint to initiate a new bank transfer.
    # @param bank_transfer_create_request [BankTransferCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BankTransferCreateResponse]
    def bank_transfer_create(bank_transfer_create_request, opts = {})
      data, _status_code, _headers = bank_transfer_create_with_http_info(bank_transfer_create_request, opts)
      data
    end

    # Create a bank transfer
    # Use the &#x60;/bank_transfer/create&#x60; endpoint to initiate a new bank transfer.
    # @param bank_transfer_create_request [BankTransferCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankTransferCreateResponse, Integer, Hash)>] BankTransferCreateResponse data, response status code and response headers
    def bank_transfer_create_with_http_info(bank_transfer_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.bank_transfer_create ...'
      end
      # verify the required parameter 'bank_transfer_create_request' is set
      if @api_client.config.client_side_validation && bank_transfer_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'bank_transfer_create_request' when calling PlaidApi.bank_transfer_create"
      end
      # resource path
      local_var_path = '/bank_transfer/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bank_transfer_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransferCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.bank_transfer_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#bank_transfer_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List bank transfer events
    # Use the `/bank_transfer/event/list` endpoint to get a list of bank transfer events based on specified filter criteria.
    # @param bank_transfer_event_list_request [BankTransferEventListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BankTransferEventListResponse]
    def bank_transfer_event_list(bank_transfer_event_list_request, opts = {})
      data, _status_code, _headers = bank_transfer_event_list_with_http_info(bank_transfer_event_list_request, opts)
      data
    end

    # List bank transfer events
    # Use the &#x60;/bank_transfer/event/list&#x60; endpoint to get a list of bank transfer events based on specified filter criteria.
    # @param bank_transfer_event_list_request [BankTransferEventListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankTransferEventListResponse, Integer, Hash)>] BankTransferEventListResponse data, response status code and response headers
    def bank_transfer_event_list_with_http_info(bank_transfer_event_list_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.bank_transfer_event_list ...'
      end
      # verify the required parameter 'bank_transfer_event_list_request' is set
      if @api_client.config.client_side_validation && bank_transfer_event_list_request.nil?
        fail ArgumentError, "Missing the required parameter 'bank_transfer_event_list_request' when calling PlaidApi.bank_transfer_event_list"
      end
      # resource path
      local_var_path = '/bank_transfer/event/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bank_transfer_event_list_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransferEventListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.bank_transfer_event_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#bank_transfer_event_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sync bank transfer events
    # `/bank_transfer/event/sync` allows you to request up to the next 25 bank transfer events that happened after a specific `event_id`. Use the `/bank_transfer/event/sync` endpoint to guarantee you have seen all bank transfer events. 
    # @param bank_transfer_event_sync_request [BankTransferEventSyncRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BankTransferEventSyncResponse]
    def bank_transfer_event_sync(bank_transfer_event_sync_request, opts = {})
      data, _status_code, _headers = bank_transfer_event_sync_with_http_info(bank_transfer_event_sync_request, opts)
      data
    end

    # Sync bank transfer events
    # &#x60;/bank_transfer/event/sync&#x60; allows you to request up to the next 25 bank transfer events that happened after a specific &#x60;event_id&#x60;. Use the &#x60;/bank_transfer/event/sync&#x60; endpoint to guarantee you have seen all bank transfer events. 
    # @param bank_transfer_event_sync_request [BankTransferEventSyncRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankTransferEventSyncResponse, Integer, Hash)>] BankTransferEventSyncResponse data, response status code and response headers
    def bank_transfer_event_sync_with_http_info(bank_transfer_event_sync_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.bank_transfer_event_sync ...'
      end
      # verify the required parameter 'bank_transfer_event_sync_request' is set
      if @api_client.config.client_side_validation && bank_transfer_event_sync_request.nil?
        fail ArgumentError, "Missing the required parameter 'bank_transfer_event_sync_request' when calling PlaidApi.bank_transfer_event_sync"
      end
      # resource path
      local_var_path = '/bank_transfer/event/sync'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bank_transfer_event_sync_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransferEventSyncResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.bank_transfer_event_sync",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#bank_transfer_event_sync\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a bank transfer
    # The `/bank_transfer/get` fetches information about the bank transfer corresponding to the given `bank_transfer_id`.
    # @param bank_transfer_get_request [BankTransferGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BankTransferGetResponse]
    def bank_transfer_get(bank_transfer_get_request, opts = {})
      data, _status_code, _headers = bank_transfer_get_with_http_info(bank_transfer_get_request, opts)
      data
    end

    # Retrieve a bank transfer
    # The &#x60;/bank_transfer/get&#x60; fetches information about the bank transfer corresponding to the given &#x60;bank_transfer_id&#x60;.
    # @param bank_transfer_get_request [BankTransferGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankTransferGetResponse, Integer, Hash)>] BankTransferGetResponse data, response status code and response headers
    def bank_transfer_get_with_http_info(bank_transfer_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.bank_transfer_get ...'
      end
      # verify the required parameter 'bank_transfer_get_request' is set
      if @api_client.config.client_side_validation && bank_transfer_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'bank_transfer_get_request' when calling PlaidApi.bank_transfer_get"
      end
      # resource path
      local_var_path = '/bank_transfer/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bank_transfer_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransferGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.bank_transfer_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#bank_transfer_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List bank transfers
    # Use the `/bank_transfer/list` endpoint to see a list of all your bank transfers and their statuses. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired bank transfers. 
    # @param bank_transfer_list_request [BankTransferListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BankTransferListResponse]
    def bank_transfer_list(bank_transfer_list_request, opts = {})
      data, _status_code, _headers = bank_transfer_list_with_http_info(bank_transfer_list_request, opts)
      data
    end

    # List bank transfers
    # Use the &#x60;/bank_transfer/list&#x60; endpoint to see a list of all your bank transfers and their statuses. Results are paginated; use the &#x60;count&#x60; and &#x60;offset&#x60; query parameters to retrieve the desired bank transfers. 
    # @param bank_transfer_list_request [BankTransferListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankTransferListResponse, Integer, Hash)>] BankTransferListResponse data, response status code and response headers
    def bank_transfer_list_with_http_info(bank_transfer_list_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.bank_transfer_list ...'
      end
      # verify the required parameter 'bank_transfer_list_request' is set
      if @api_client.config.client_side_validation && bank_transfer_list_request.nil?
        fail ArgumentError, "Missing the required parameter 'bank_transfer_list_request' when calling PlaidApi.bank_transfer_list"
      end
      # resource path
      local_var_path = '/bank_transfer/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bank_transfer_list_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransferListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.bank_transfer_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#bank_transfer_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Migrate account into Bank Transfers
    # As an alternative to adding Items via Link, you can also use the `/bank_transfer/migrate_account` endpoint to migrate known account and routing numbers to Plaid Items.  Note that Items created in this way are not compatible with endpoints for other products, such as `/accounts/balance/get`, and can only be used with Bank Transfer endpoints.  If you require access to other endpoints, create the Item through Link instead.  Access to `/bank_transfer/migrate_account` is not enabled by default; to obtain access, contact your Plaid Account Manager.
    # @param bank_transfer_migrate_account_request [BankTransferMigrateAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BankTransferMigrateAccountResponse]
    def bank_transfer_migrate_account(bank_transfer_migrate_account_request, opts = {})
      data, _status_code, _headers = bank_transfer_migrate_account_with_http_info(bank_transfer_migrate_account_request, opts)
      data
    end

    # Migrate account into Bank Transfers
    # As an alternative to adding Items via Link, you can also use the &#x60;/bank_transfer/migrate_account&#x60; endpoint to migrate known account and routing numbers to Plaid Items.  Note that Items created in this way are not compatible with endpoints for other products, such as &#x60;/accounts/balance/get&#x60;, and can only be used with Bank Transfer endpoints.  If you require access to other endpoints, create the Item through Link instead.  Access to &#x60;/bank_transfer/migrate_account&#x60; is not enabled by default; to obtain access, contact your Plaid Account Manager.
    # @param bank_transfer_migrate_account_request [BankTransferMigrateAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankTransferMigrateAccountResponse, Integer, Hash)>] BankTransferMigrateAccountResponse data, response status code and response headers
    def bank_transfer_migrate_account_with_http_info(bank_transfer_migrate_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.bank_transfer_migrate_account ...'
      end
      # verify the required parameter 'bank_transfer_migrate_account_request' is set
      if @api_client.config.client_side_validation && bank_transfer_migrate_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'bank_transfer_migrate_account_request' when calling PlaidApi.bank_transfer_migrate_account"
      end
      # resource path
      local_var_path = '/bank_transfer/migrate_account'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bank_transfer_migrate_account_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransferMigrateAccountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.bank_transfer_migrate_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#bank_transfer_migrate_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Categories
    # Send a request to the `/categories/get`  endpoint to get detailed information on categories returned by Plaid. This endpoint does not require authentication.
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [CategoriesGetResponse]
    def categories_get(body, opts = {})
      data, _status_code, _headers = categories_get_with_http_info(body, opts)
      data
    end

    # Get Categories
    # Send a request to the &#x60;/categories/get&#x60;  endpoint to get detailed information on categories returned by Plaid. This endpoint does not require authentication.
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CategoriesGetResponse, Integer, Hash)>] CategoriesGetResponse data, response status code and response headers
    def categories_get_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.categories_get ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PlaidApi.categories_get"
      end
      # resource path
      local_var_path = '/categories/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CategoriesGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PlaidApi.categories_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#categories_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create payment token
    # The `/payment_initiation/payment/token/create` endpoint has been deprecated. New Plaid customers will be unable to use this endpoint, and existing customers are encouraged to migrate to the newer, `link_token`-based flow. The recommended flow is to provide the `payment_id` to `/link/token/create`, which returns a `link_token` used to initialize Link.  The `/payment_initiation/payment/token/create` is used to create a `payment_token`, which can then be used in Link initialization to enter a payment initiation flow. You can only use a `payment_token` once. If this attempt fails, the end user aborts the flow, or the token expires, you will need to create a new payment token. Creating a new payment token does not require end user input.
    # @param payment_initiation_payment_token_create_request [PaymentInitiationPaymentTokenCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentInitiationPaymentTokenCreateResponse]
    def create_payment_token(payment_initiation_payment_token_create_request, opts = {})
      data, _status_code, _headers = create_payment_token_with_http_info(payment_initiation_payment_token_create_request, opts)
      data
    end

    # Create payment token
    # The &#x60;/payment_initiation/payment/token/create&#x60; endpoint has been deprecated. New Plaid customers will be unable to use this endpoint, and existing customers are encouraged to migrate to the newer, &#x60;link_token&#x60;-based flow. The recommended flow is to provide the &#x60;payment_id&#x60; to &#x60;/link/token/create&#x60;, which returns a &#x60;link_token&#x60; used to initialize Link.  The &#x60;/payment_initiation/payment/token/create&#x60; is used to create a &#x60;payment_token&#x60;, which can then be used in Link initialization to enter a payment initiation flow. You can only use a &#x60;payment_token&#x60; once. If this attempt fails, the end user aborts the flow, or the token expires, you will need to create a new payment token. Creating a new payment token does not require end user input.
    # @param payment_initiation_payment_token_create_request [PaymentInitiationPaymentTokenCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentInitiationPaymentTokenCreateResponse, Integer, Hash)>] PaymentInitiationPaymentTokenCreateResponse data, response status code and response headers
    def create_payment_token_with_http_info(payment_initiation_payment_token_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.create_payment_token ...'
      end
      # verify the required parameter 'payment_initiation_payment_token_create_request' is set
      if @api_client.config.client_side_validation && payment_initiation_payment_token_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_initiation_payment_token_create_request' when calling PlaidApi.create_payment_token"
      end
      # resource path
      local_var_path = '/payment_initiation/payment/token/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_initiation_payment_token_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentInitiationPaymentTokenCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.create_payment_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#create_payment_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a deposit switch when not using Plaid Exchange.'
    # This endpoint provides an alternative to `/deposit_switch/create` for customers who have not yet fully integrated with Plaid Exchange. Like `/deposit_switch/create`, it creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
    # @param deposit_switch_alt_create_request [DepositSwitchAltCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DepositSwitchAltCreateResponse]
    def deposit_switch_alt_create(deposit_switch_alt_create_request, opts = {})
      data, _status_code, _headers = deposit_switch_alt_create_with_http_info(deposit_switch_alt_create_request, opts)
      data
    end

    # Create a deposit switch when not using Plaid Exchange.&#39;
    # This endpoint provides an alternative to &#x60;/deposit_switch/create&#x60; for customers who have not yet fully integrated with Plaid Exchange. Like &#x60;/deposit_switch/create&#x60;, it creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
    # @param deposit_switch_alt_create_request [DepositSwitchAltCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DepositSwitchAltCreateResponse, Integer, Hash)>] DepositSwitchAltCreateResponse data, response status code and response headers
    def deposit_switch_alt_create_with_http_info(deposit_switch_alt_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.deposit_switch_alt_create ...'
      end
      # verify the required parameter 'deposit_switch_alt_create_request' is set
      if @api_client.config.client_side_validation && deposit_switch_alt_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_switch_alt_create_request' when calling PlaidApi.deposit_switch_alt_create"
      end
      # resource path
      local_var_path = '/deposit_switch/alt/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(deposit_switch_alt_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DepositSwitchAltCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.deposit_switch_alt_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#deposit_switch_alt_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a deposit switch
    # This endpoint creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
    # @param deposit_switch_create_request [DepositSwitchCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DepositSwitchCreateResponse]
    def deposit_switch_create(deposit_switch_create_request, opts = {})
      data, _status_code, _headers = deposit_switch_create_with_http_info(deposit_switch_create_request, opts)
      data
    end

    # Create a deposit switch
    # This endpoint creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
    # @param deposit_switch_create_request [DepositSwitchCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DepositSwitchCreateResponse, Integer, Hash)>] DepositSwitchCreateResponse data, response status code and response headers
    def deposit_switch_create_with_http_info(deposit_switch_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.deposit_switch_create ...'
      end
      # verify the required parameter 'deposit_switch_create_request' is set
      if @api_client.config.client_side_validation && deposit_switch_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_switch_create_request' when calling PlaidApi.deposit_switch_create"
      end
      # resource path
      local_var_path = '/deposit_switch/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(deposit_switch_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DepositSwitchCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.deposit_switch_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#deposit_switch_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a deposit switch
    # This endpoint returns information related to how the user has configured their payroll allocation and the state of the switch. You can use this information to build logic related to the user's direct deposit allocation preferences.
    # @param deposit_switch_get_request [DepositSwitchGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DepositSwitchGetResponse]
    def deposit_switch_get(deposit_switch_get_request, opts = {})
      data, _status_code, _headers = deposit_switch_get_with_http_info(deposit_switch_get_request, opts)
      data
    end

    # Retrieve a deposit switch
    # This endpoint returns information related to how the user has configured their payroll allocation and the state of the switch. You can use this information to build logic related to the user&#39;s direct deposit allocation preferences.
    # @param deposit_switch_get_request [DepositSwitchGetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DepositSwitchGetResponse, Integer, Hash)>] DepositSwitchGetResponse data, response status code and response headers
    def deposit_switch_get_with_http_info(deposit_switch_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.deposit_switch_get ...'
      end
      # verify the required parameter 'deposit_switch_get_request' is set
      if @api_client.config.client_side_validation && deposit_switch_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_switch_get_request' when calling PlaidApi.deposit_switch_get"
      end
      # resource path
      local_var_path = '/deposit_switch/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(deposit_switch_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DepositSwitchGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientId', 'plaidVersion', 'secret']

      new_options = opts.merge(
        :operation => :"PlaidApi.deposit_switch_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidApi#deposit_switch_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a deposit switch token
    # In order for the end user to take action, you will need to create a public token representing the deposit switch. This token is used to initialize Link. It can be used one time and expires after 30 minutes. 
    # @param deposit_switch_token_create_request [DepositSwitchTokenCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DepositSwitchTokenCreateResponse]
    def deposit_switch_token_create(deposit_switch_token_create_request, opts = {})
      data, _status_code, _headers = deposit_switch_token_create_with_http_info(deposit_switch_token_create_request, opts)
      data
    end

    # Create a deposit switch token
    # In order for the end user to take action, you will need to create a public token representing the deposit switch. This token is used to initialize Link. It can be used one time and expires after 30 minutes. 
    # @param deposit_switch_token_create_request [DepositSwitchTokenCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DepositSwitchTokenCreateResponse, Integer, Hash)>] DepositSwitchTokenCreateResponse data, response status code and response headers
    def deposit_switch_token_create_with_http_info(deposit_switch_token_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidApi.deposit_switch_token_create ...'
      end
      # verify the required parameter 'deposit_switch_token_create_request' is set
      if @api_client.config.client_side_validation && deposit_switch_token_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_switch_token_create_request' when calling PlaidApi.deposit_switch_token_create"
      end
      # resource path
      local_var_path = '/deposit_switch/token/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(deposit_switch_token_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DepositSwitchTokenCreateResponse'

      # auth_names
[...]
