version: 2
jobs:
  build:
    machine: true
    steps:
    - checkout
    - run:
        name: Download OpenAPI file via Curl from github
        command: make pull-openapi
    - run:
        name: Build generated code using Docker cli openapigenerator
        command: make build-openapi
    - run:
        name: Build Docker image for running ruby tests
        command: docker build -t plaid-ruby .
    - run:
        name: Run ruby tests in Docker
        command: docker run -e PLAID_RUBY_CLIENT_ID=$PLAID_RUBY_CLIENT_ID -e PLAID_RUBY_SECRET=$PLAID_RUBY_SECRET plaid-ruby
