---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12"}},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-aded7054-6509-404e-9a3f-6d8394bd0b2f",
          "request_id": "7YoXXtt34q8IVbz"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:59 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-aded7054-6509-404e-9a3f-6d8394bd0b2f","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-9626fe1c-75ec-49d0-9730-b3fe05d30e9f",
          "item_id": "PvJdMLv1EwhQrDlpAmbxC3Vkda3PZwC7ddzvD",
          "request_id": "TTcyw63KuYc7X1m"
        }
  recorded_at: Wed, 19 Jun 2019 19:56:00 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9626fe1c-75ec-49d0-9730-b3fe05d30e9f","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "PvJdMLv1EwhQrDlpAmbxC3Vkda3PZwC7ddzvD",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "H4zVeZm6pl0kQuP",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:56:00 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9626fe1c-75ec-49d0-9730-b3fe05d30e9f","start_date":"2019-05-28","end_date":"2019-06-12","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "XvxDl3vAw9h3KgA8wvb9CoNWX8ZKPgcdAVW8v",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "DAJ93EAkwvcAaLWV1MEqC7BwPgGdWeivqVPGN",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9626fe1c-75ec-49d0-9730-b3fe05d30e9f","start_date":"2019-05-28","end_date":"2019-06-12","options":{"account_ids":["JvJKPyvjbmhbRoPmwADkSyB4JDpRZjfd8arwD"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "JvJKPyvjbmhbRoPmwADkSyB4JDpRZjfd8arwD",
              "balances": {
                "available": null,
                "current": 320.76,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "5555",
              "name": "Plaid IRA",
              "official_name": null,
              "subtype": "ira",
              "type": "investment"
            }
          ],
          "investment_transactions": [
            {
              "account_id": "JvJKPyvjbmhbRoPmwADkSyB4JDpRZjfd8arwD",
              "amount": 46.32,
              "cancel_transaction_id": null,
              "date": "2019-05-30",
              "fees": null,
              "investment_transaction_id": "o4vkg64eL7HZJqE9a7GnUQJey56VMdiReglxV",
              "iso_currency_code": "USD",
              "name": "BUY NFLX DERIVATIVE",
              "price": 0.01,
              "quantity": 4211.152345617756,
              "security_id": "8E4L9XLl6MudjEpwPAAgivmdZRdBPJuvMPlPb",
              "type": "buy",
              "unofficial_currency_code": null
            },
            {
              "account_id": "JvJKPyvjbmhbRoPmwADkSyB4JDpRZjfd8arwD",
              "amount": -1200,
              "cancel_transaction_id": null,
              "date": "2019-05-30",
              "fees": null,
              "investment_transaction_id": "gKoLeDKxJ3C815nym6EQTXExBPnQ9otgpzmaN",
              "iso_currency_code": "USD",
              "nam[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9626fe1c-75ec-49d0-9730-b3fe05d30e9f","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "f3kQaqWyF97eboG"
        }
  recorded_at: Wed, 19 Jun 2019 19:56:01 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-78f2a290-f21c-4fb0-908f-35031d3ee36a","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "bEqJjAM1gaCW53G3G418tD1eEW6N19fVbXmnR",
            "webhook": ""
          },
          "request_id": "faQC6pONX1kypzF",
          "status": {
            "investments": {
              "last_failed_update": null,
              "last_successful_update": "2020-06-03T23:40:16.679Z"
            },
            "last_webhook": null
          }
        }
  recorded_at: Wed, 03 Jun 2020 23:40:18 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-78f2a290-f21c-4fb0-908f-35031d3ee36a","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "1VzVC0ZE4kQdWn0"
        }
  recorded_at: Wed, 03 Jun 2020 23:40:19 GMT
recorded_with: VCR 4.0.0
