---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_1","initial_products":["income"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-39de797e-ff09-41c0-9a29-bba35e977be6",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "transactions"
            ],
            "billed_products": [
              "income"
            ],
            "error": null,
            "institution_id": "ins_1",
            "item_id": "WmGX16WwN3FgxoAR88netRDXeRnLndcl9bow6",
            "webhook": ""
          },
          "request_id": "tIoxZDvIaIGy8lC"
        }
  recorded_at: Wed, 20 Mar 2019 15:45:19 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/income/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "UEdnYgBFUw7RPy3"
        }
  recorded_at: Wed, 20 Mar 2019 15:45:20 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-39de797e-ff09-41c0-9a29-bba35e977be6","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "P6Nfl20pgoaniZ9"
        }
  recorded_at: Wed, 20 Mar 2019 15:45:20 GMT
recorded_with: VCR 4.0.0
