---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-bb4079c5-f958-4ad4-8f9d-267948a4a601",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "MpbXDzeXbPSKLDAxReX6szadklwPN3u9JbDQm",
            "webhook": ""
          },
          "request_id": "kD53WyvSNVJSu3P"
        }
  recorded_at: Wed, 22 May 2019 19:10:50 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/invalidate
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-bb4079c5-f958-4ad4-8f9d-267948a4a601","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "new_access_token": "access-sandbox-28c510db-3129-4227-a2bd-9601f021f625",
          "request_id": "0ifUApLebyjTeTI"
        }
  recorded_at: Wed, 22 May 2019 19:10:51 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-28c510db-3129-4227-a2bd-9601f021f625","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "dnipBcdjSlKZkrJ"
        }
  recorded_at: Wed, 22 May 2019 19:10:51 GMT
recorded_with: VCR 4.0.0
