---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["ABCDEFG1234567"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "initial_products contains invalid products: [\"ABCDEFG1234567\"]",
          "error_type": "INVALID_INPUT",
          "request_id": "2ZECJa6CPU38Kbj",
          "suggested_action": null
        }
  recorded_at: Wed, 22 May 2019 19:11:15 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["ABCDEFG1234567"],"options":{},"public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "public_key must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "FeNfZ9ILrKVdKRO",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:16 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["ABCDEFG1234567"],"options":{},"public_key":"5cbfbd8ca018fb3f318df84d5ab6fe"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "initial_products contains invalid products: [\"ABCDEFG1234567\"]",
          "error_type": "INVALID_INPUT",
          "request_id": "0hWYECPJmSbEUGl",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:47:54 GMT
recorded_with: VCR 4.0.0
