---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","options":{"include_status":true},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institution": {
            "country_codes": [
              "US"
            ],
            "credentials": [],
            "has_mfa": true,
            "input_spec": null,
            "institution_id": "ins_109508",
            "mfa": [
              "code",
              "list",
              "questions",
              "selections"
            ],
            "mfa_code_type": "numeric",
            "name": "First Platypus Bank",
            "products": [
              "assets",
              "auth",
              "balance",
              "transactions",
              "credit_details",
              "holdings",
              "income",
              "identity",
              "investments",
              "liabilities"
            ],
            "routing_numbers": [],
            "status": {
              "item_logins": {
                "breakdown": {
                  "error_institution": 0.125,
                  "error_plaid": 0.063,
                  "success": 0.813
                },
                "last_status_change": "2019-07-19T21:22:00Z",
                "status": "DEGRADED"
              }
            },
            "oauth": false
          },
          "request_id": "5gyclIeDPXLp2kt"
        }
  recorded_at: Fri, 19 Jul 2019 21:23:35 GMT
recorded_with: VCR 4.0.0
