---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-d4bbba0b-3338-47f0-9de3-9b5031d287b7",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "g4L9meZvlRTBBxlAmelefQwWnm3jvnIgJqdpk",
            "webhook": ""
          },
          "request_id": "KrI9L8ZBGjRpxtA"
        }
  recorded_at: Wed, 12 Jun 2019 05:02:33 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d4bbba0b-3338-47f0-9de3-9b5031d287b7","start_date":"2019-05-28","end_date":"2019-06-12","options":{"count":"ABCDEFG1234567","offset":"ABCDEFG1234567"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "options.count must be an integer",
          "error_type": "INVALID_REQUEST",
          "request_id": "6ZXHXIbK6BKBBpp",
          "suggested_action": null
        }
  recorded_at: Wed, 12 Jun 2019 05:02:34 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d4bbba0b-3338-47f0-9de3-9b5031d287b7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "lX2bX0sQNbflPk0"
        }
  recorded_at: Wed, 12 Jun 2019 05:02:34 GMT
recorded_with: VCR 4.0.0
