---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/import
    body:
      encoding: UTF-8
      string: '{"products":["identity","auth"],"user_auth":{"user_id":"user_good","auth_token":"pass_good"},"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-28c3e035-9f01-4a3a-bcff-07985cb07f6d",
          "request_id": "6QrUnhdgF3Hyfd4"
        }
  recorded_at: Fri, 24 Jan 2020 21:52:27 GMT
recorded_with: VCR 4.0.0
