---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":"ABCDEFG1234567","public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "products must either be null or a list of strings containing at least one valid product",
          "error_type": "INVALID_INPUT",
          "request_id": "O8m8jxx7Nmtv2CD"
        }
  recorded_at: Wed, 20 Mar 2019 15:45:53 GMT
recorded_with: VCR 4.0.0
