---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-74ba113e-3eb0-4ab3-9274-306d40711489",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "JJWaoyAlBxhWW6AZLz4btRlN3BAEb3tdPqw8W",
            "webhook": ""
          },
          "request_id": "LMmMjwUIyYU7cJ9"
        }
  recorded_at: Wed, 12 Jun 2019 05:02:36 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-74ba113e-3eb0-4ab3-9274-306d40711489","start_date":"2019-05-28","end_date":"2019-06-12","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "7oNQrgdZybtZZQnq3wjyskMLNPbdVrIgqKzNA",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "eLDaZR7AeXhyy3DWe4gpC6P8A1nxQ3uLGlKMq",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-74ba113e-3eb0-4ab3-9274-306d40711489","start_date":"2019-05-28","end_date":"2019-06-12","options":{"account_ids":["1QBynAKN7VTddgNDG9ZWuE8Pny7zKjc51Gy5M"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "1QBynAKN7VTddgNDG9ZWuE8Pny7zKjc51Gy5M",
              "balances": {
                "available": null,
                "current": 320.75,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "5555",
              "name": "Plaid IRA",
              "official_name": null,
              "subtype": "ira",
              "type": "investment"
            }
          ],
          "investment_transactions": [
            {
              "account_id": "1QBynAKN7VTddgNDG9ZWuE8Pny7zKjc51Gy5M",
              "amount": 46.32,
              "cancel_transaction_id": null,
              "type": "buy",
              "date": "2019-05-30",
              "fees": null,
              "investment_transaction_id": "9JjVBo41y7hWW8mlvLQZtXJ3DMgEGyfR6weRp",
              "iso_currency_code": "USD",
              "name": "BUY NFLX DERIVATIVE",
              "price": 0.01,
              "quantity": 4211.152345617756,
              "security_id": "8E4L9XLl6MudjEpwPAAgivmdZRdBPJuvMPlPb",
              "unofficial_currency_code": null
            },
            {
              "account_id": "1QBynAKN7VTddgNDG9ZWuE8Pny7zKjc51Gy5M",
              "amount": -1200,
              "cancel_transaction_id": null,
              "type": "cash",
              "date": "2019-05-30",
              "fees": null,
              "investment_transaction_id": "vvJ5K6mdeDHwwlQj59B3i8RpXBrZVMfWdBGWD",
              "iso_currency_code": "USD",
              "na[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-74ba113e-3eb0-4ab3-9274-306d40711489","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "ZAxDFwRMSrTxGVm"
        }
  recorded_at: Wed, 12 Jun 2019 05:02:37 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12"}},"public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "public_key must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "2AaLFW1FIsLhQ0A",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:03 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-9dd68b85-49d5-468e-b778-6b5c9904fe19","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-60646860-68e8-4c43-b35b-6c3f78f29cbf",
          "item_id": "PGny5R3jkaCPdEjgmgPxHBEqk7mEmPf7dk3B3",
          "request_id": "trVMxdu7XA5dUrm"
        }
  recorded_at: Wed, 19 Jun 2019 17:59:06 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-60646860-68e8-4c43-b35b-6c3f78f29cbf","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "PGny5R3jkaCPdEjgmgPxHBEqk7mEmPf7dk3B3",
            "webhook": ""
          },
          "request_id": "oRFzQd72tKNj1v5",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 17:59:07 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-081d0054-cf3d-445d-899f-b59303d7b63c","client_id":"58b9a231bdc6a453f37c338f","secret":"e60cac68bf07eba47e819b9ac45e01"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "cmDXxWYVmPuKK8L"
        }
  recorded_at: Wed, 19 Jun 2019 19:49:31 GMT
recorded_with: VCR 4.0.0
