---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/payment/get
    body:
      encoding: UTF-8
      string: '{"payment_id":"payment-id-sandbox-e502356e-753f-4555-b54b-5f2c9e1fed5f","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "amount": {
            "currency": "GBP",
            "value": 100
          },
          "bacs": {
            "account": "1234567890",
            "sort_code": "000000"
          },
          "iban": null,
          "last_status_update": "2021-05-06T22:06:21.214528Z",
          "payment_id": "payment-id-sandbox-e502356e-753f-4555-b54b-5f2c9e1fed5f",
          "recipient_id": "recipient-id-sandbox-39c0a74c-6f03-447b-ad6a-b07d09f21169",
          "reference": "testpayment",
          "request_id": "3FJlTTxBFVt0Y5Z",
          "status": "PAYMENT_STATUS_INPUT_NEEDED"
        }
  recorded_at: Thu, 06 May 2021 22:06:21 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/recipient/create
    body:
      encoding: UTF-8
      string: '{"name":"John Doe","iban":"GB33BUKB20201555555555","bacs":{"account":"26207729","sort_code":"560029"},"address":{"street":["Street
        Name 999"],"city":"City","postal_code":"99999","country":"GB"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "recipient_id": "recipient-id-sandbox-39c0a74c-6f03-447b-ad6a-b07d09f21169",
          "request_id": "KkM5qHLEQSNFrWB"
        }
  recorded_at: Thu, 06 May 2021 22:10:10 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/recipient/get
    body:
      encoding: UTF-8
      string: '{"recipient_id":"recipient-id-sandbox-39c0a74c-6f03-447b-ad6a-b07d09f21169","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "address": {
            "city": "City",
            "country": "GB",
            "postal_code": "99999",
            "street": [
              "Street Name 999"
            ]
          },
          "bacs": {
            "account": "26207729",
            "sort_code": "560029"
          },
          "iban": "GB33BUKB20201555555555",
          "name": "John Doe",
          "recipient_id": "recipient-id-sandbox-39c0a74c-6f03-447b-ad6a-b07d09f21169",
          "request_id": "1vyQaoYMZs6Exmm"
        }
  recorded_at: Thu, 06 May 2021 22:10:10 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/payment/create
    body:
      encoding: UTF-8
      string: '{"recipient_id":"recipient-id-sandbox-39c0a74c-6f03-447b-ad6a-b07d09f21169","reference":"testpayment","amount":{"currency":"GBP","value":100.0},"options":{"request_refund_details":true,"bacs":{"account":"1234567890","sort_code":"000000"}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "payment_id": "payment-id-sandbox-7a66a4a1-08f2-40ac-a31f-3e114012aaa8",
          "request_id": "RXzmLhhPjjZwEB4",
          "status": "PAYMENT_STATUS_INPUT_NEEDED"
        }
  recorded_at: Thu, 06 May 2021 22:10:10 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/payment/get
    body:
      encoding: UTF-8
      string: '{"payment_id":"payment-id-sandbox-7a66a4a1-08f2-40ac-a31f-3e114012aaa8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "amount": {
            "currency": "GBP",
            "value": 100
          },
          "bacs": {
            "account": "1234567890",
            "sort_code": "000000"
          },
          "iban": null,
          "last_status_update": "2021-05-06T22:10:10.900222Z",
          "payment_id": "payment-id-sandbox-7a66a4a1-08f2-40ac-a31f-3e114012aaa8",
          "recipient_id": "recipient-id-sandbox-39c0a74c-6f03-447b-ad6a-b07d09f21169",
          "reference": "testpayment",
          "request_id": "CGNNFjsxdboqpHA",
          "status": "PAYMENT_STATUS_INPUT_NEEDED"
        }
  recorded_at: Thu, 06 May 2021 22:10:11 GMT
recorded_with: VCR 4.0.0
