---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-4a185191-6433-4bfc-a4a0-0a8cd425a6da",
          "item": {
            "available_products": [
              "assets",
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "mnrWeJpv1ZTVKlAQBmoXTp5jwrA7mDFLj3v5V",
            "webhook": ""
          },
          "request_id": "wzYA311BQIlZGlR"
        }
  recorded_at: Wed, 20 Mar 2019 15:45:15 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/dwolla/processor_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-4a185191-6433-4bfc-a4a0-0a8cd425a6da","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "H4ELvPxaeIbcmYO"
        }
  recorded_at: Wed, 20 Mar 2019 15:45:15 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-4a185191-6433-4bfc-a4a0-0a8cd425a6da","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "SnqIvudAlvoALrN"
        }
  recorded_at: Wed, 20 Mar 2019 15:45:16 GMT
recorded_with: VCR 4.0.0
