---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","options":{"include_status":true},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institution": {
            "credentials": [
              {
                "label": "Username",
                "name": "username",
                "type": "text"
              },
              {
                "label": "Password",
                "name": "password",
                "type": "password"
              }
            ],
            "has_mfa": true,
            "institution_id": "ins_109508",
            "mfa": [
              "code",
              "list",
              "questions",
              "selections"
            ],
            "mfa_code_type": "numeric",
            "name": "First Platypus Bank",
            "products": [
              "assets",
              "auth",
              "balance",
              "transactions",
              "credit_details",
              "holdings",
              "income",
              "identity"
            ],
            "status": {
              "item_logins": {
                "breakdown": {
                  "error_institution": 0.125,
                  "error_plaid": 0.063,
                  "success": 0.813
                },
                "last_status_change": "2019-04-22T22:42:00Z",
                "status": "DEGRADED"
              }
            }
          },
          "request_id": "ueUnbM4krmn9J1x"
        }
  recorded_at: Mon, 22 Apr 2019 22:42:17 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","options":{"include_status":true},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institution": {
            "country_codes": [
              "US"
            ],
            "credentials": [
              {
                "label": "Username",
                "name": "username",
                "type": "text"
              },
              {
                "label": "Password",
                "name": "password",
                "type": "password"
              }
            ],
            "has_mfa": true,
            "input_spec": "fixed",
            "institution_id": "ins_109508",
            "mfa": [
              "code",
              "list",
              "questions",
              "selections"
            ],
            "mfa_code_type": "numeric",
            "name": "First Platypus Bank",
            "products": [
              "assets",
              "auth",
              "balance",
              "transactions",
              "credit_details",
              "holdings",
              "income",
              "identity"
            ],
            "status": {
              "item_logins": {
                "breakdown": {
                  "error_institution": 0.125,
                  "error_plaid": 0.063,
                  "success": 0.813
                },
                "last_status_change": "2019-05-16T06:36:00Z",
                "status": "DEGRADED"
              }
            }
          },
          "request_id": "zw38UIAZnuKmlR0"
        }
  recorded_at: Thu, 16 May 2019 06:37:30 GMT
recorded_with: VCR 4.0.0
