---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-3e97bdb6-889a-4e2b-bd84-3c05dafb1984",
          "item": {
            "available_products": [
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "wEaNMVlBlnSxeVnnXPxLUa7VdjxyqgfrGQx1B",
            "webhook": ""
          },
          "request_id": "j7kAH"
        }
  recorded_at: Tue, 22 May 2018 06:22:04 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/auth/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "2Patf"
        }
  recorded_at: Tue, 22 May 2018 06:22:06 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3e97bdb6-889a-4e2b-bd84-3c05dafb1984","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "ZjFH8"
        }
  recorded_at: Tue, 22 May 2018 06:22:07 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-63efceff-2187-4dfa-9eb7-5d00723e9e99","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "lEYxpWAyXyEOl70"
        }
  recorded_at: Fri, 16 Nov 2018 22:33:23 GMT
recorded_with: VCR 4.0.0
