---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12"}},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-bf478faa-bc27-4240-8b1f-a7048aef0f36",
          "request_id": "HKdd7yRsTl28kx3"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-bf478faa-bc27-4240-8b1f-a7048aef0f36","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-63536bf8-bca9-443c-abb9-d572b0f46122",
          "item_id": "8EM5wpVLRRCl5BQW8jPLsKXomGyQqnsw1xE3Q",
          "request_id": "1bH6B8u3micdHd3"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-63536bf8-bca9-443c-abb9-d572b0f46122","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments_auth",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "8EM5wpVLRRCl5BQW8jPLsKXomGyQqnsw1xE3Q",
            "webhook": ""
          },
          "request_id": "s9ghMwdOTsynjtw",
          "status": {
            "investments": {
              "last_failed_update": null,
              "last_successful_update": "2020-01-24T22:07:22.746Z"
            },
            "last_webhook": null
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:07:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-63536bf8-bca9-443c-abb9-d572b0f46122","start_date":"2019-05-28","end_date":"2019-06-12","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "bWk53xQ4jjH1J9M5em8ZS9WwW56J4nFV5vEQK",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "mnR4L5Zp99tbwn5rMmjZFK8P8oRx19SLb39zy",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-63536bf8-bca9-443c-abb9-d572b0f46122","start_date":"2019-05-28","end_date":"2019-06-12","options":{"account_ids":["RDdEV8XL11crkmG7zWZpikbrbRZAqJCRK1w3v"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "RDdEV8XL11crkmG7zWZpikbrbRZAqJCRK1w3v",
              "balances": {
                "available": null,
                "current": 320.76,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "5555",
              "name": "Plaid IRA",
              "official_name": null,
              "subtype": "ira",
              "type": "investment"
            }
          ],
          "investment_transactions": [
            {
              "account_id": "RDdEV8XL11crkmG7zWZpikbrbRZAqJCRK1w3v",
              "amount": 46.32,
              "cancel_transaction_id": null,
              "date": "2019-05-30",
              "fees": null,
              "investment_transaction_id": "bWk53xQ4jjH1J9M5em8ZS9WwW56J4nFV5vEqK",
              "iso_currency_code": "USD",
              "name": "BUY NFLX DERIVATIVE",
              "price": 0.01,
              "quantity": 4211.152345617756,
              "security_id": "8E4L9XLl6MudjEpwPAAgivmdZRdBPJuvMPlPb",
              "type": "buy",
              "unofficial_currency_code": null
            },
            {
              "account_id": "RDdEV8XL11crkmG7zWZpikbrbRZAqJCRK1w3v",
              "amount": -1200,
              "cancel_transaction_id": null,
              "date": "2019-05-30",
              "fees": null,
              "investment_transaction_id": "mnR4L5Zp99tbwn5rMmjZFK8P8oRx19SLb39Jy",
              "iso_currency_code": "USD",
              "nam[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-63536bf8-bca9-443c-abb9-d572b0f46122","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "26TbfwxL4YNEEnk"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:25 GMT
recorded_with: VCR 4.0.0
