---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-673c4778-815d-4061-b9b1-2b98c813e792",
          "request_id": "WKOuUjf8qH76PEK"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:37 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-673c4778-815d-4061-b9b1-2b98c813e792","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-f39d0c3a-3f16-4119-a38d-ad318416ddf3",
          "item_id": "AR5Ny1mn1BHxDWM1KAeqSp8qw91LKri1wwgP9",
          "request_id": "vPIzmxO2yGcyPzn"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:38 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f39d0c3a-3f16-4119-a38d-ad318416ddf3","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "AR5Ny1mn1BHxDWM1KAeqSp8qw91LKri1wwgP9",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "ZPak6k2t4nA11Gd",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": "2019-06-19T19:57:38.133Z"
            }
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:57:38 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f39d0c3a-3f16-4119-a38d-ad318416ddf3","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2019-06-19T20:27:39Z",
          "public_token": "public-sandbox-904e85a3-c97c-4507-8068-59d94b7b3641",
          "request_id": "Af2ZoxOdXL9pX3Z"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:38 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f39d0c3a-3f16-4119-a38d-ad318416ddf3","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "qDtKMT81jEojoi0"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:39 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-293dd45a-c574-4c89-b92c-2a6f8997aec7","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "yJ5FD336P1gZm86"
        }
  recorded_at: Fri, 24 Jan 2020 21:40:07 GMT
recorded_with: VCR 4.0.0
