---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01"}},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-1625a5be-19c2-4f4c-b58a-712daccdbf33",
          "request_id": "rADA6BnTx6hcg5y"
        }
  recorded_at: Wed, 19 Jun 2019 19:56:13 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-1625a5be-19c2-4f4c-b58a-712daccdbf33","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-6e119a31-cb91-4e3f-ae34-5e9ec8fce85e",
          "item_id": "1z1EnEEXlpSoeEb9vEgaioKM3oRjDWC577Mok",
          "request_id": "mrNwOQn5Eg5pRx1"
        }
  recorded_at: Wed, 19 Jun 2019 19:56:14 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-6e119a31-cb91-4e3f-ae34-5e9ec8fce85e","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "1z1EnEEXlpSoeEb9vEgaioKM3oRjDWC577Mok",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "Fx0FCd2Vr7nAi0Y",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": null
            }
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:56:14 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-6e119a31-cb91-4e3f-ae34-5e9ec8fce85e","start_date":"2016-01-01","end_date":"2017-01-01","options":{"count":"ABCDEFG1234567","offset":"ABCDEFG1234567"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "options.count must be an integer",
          "error_type": "INVALID_REQUEST",
          "request_id": "4YvxDFQoArBCUpS",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:56:15 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-6e119a31-cb91-4e3f-ae34-5e9ec8fce85e","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "WRRZqwRf93ujXHn"
        }
  recorded_at: Wed, 19 Jun 2019 19:56:15 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-85def984-aeaa-420b-959c-71f5b7f8f6f0","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "qTa8CdLm2OnapPj"
        }
  recorded_at: Fri, 21 Feb 2020 01:22:03 GMT
recorded_with: VCR 4.0.0
