---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-7544025e-eb7f-46d7-a469-72f490a58bb2",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "pZP3kd7AdrHJJvAz1bD5U65ayqjZWZtLZ9D5R",
            "webhook": ""
          },
          "request_id": "J6eHW5qOhJratc1"
        }
  recorded_at: Wed, 22 May 2019 19:11:11 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/webhook/update
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-7544025e-eb7f-46d7-a469-72f490a58bb2","webhook":"https://plaid.com/webhook-test","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "pZP3kd7AdrHJJvAz1bD5U65ayqjZWZtLZ9D5R",
            "webhook": "https://plaid.com/webhook-test"
          },
          "request_id": "djTTNy4ySQeF6eV"
        }
  recorded_at: Wed, 22 May 2019 19:11:12 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-7544025e-eb7f-46d7-a469-72f490a58bb2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "gq3uYphRKapZxXL"
        }
  recorded_at: Wed, 22 May 2019 19:11:12 GMT
recorded_with: VCR 4.0.0
