---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01"}},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-9874a58e-446e-4cd4-809a-69ae96a29de2",
          "request_id": "gZTXylXkPS5TZ70"
        }
  recorded_at: Wed, 19 Jun 2019 19:56:45 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-9874a58e-446e-4cd4-809a-69ae96a29de2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-2c52fcf6-3b3d-4093-9985-79c4963fc62b",
          "item_id": "5e98gj1VdDIGP4X9XLV8tw3AeRX5AgfZVVNdE",
          "request_id": "EspyAQFeypW5uBR"
        }
  recorded_at: Wed, 19 Jun 2019 19:56:45 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2c52fcf6-3b3d-4093-9985-79c4963fc62b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "5e98gj1VdDIGP4X9XLV8tw3AeRX5AgfZVVNdE",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "eXZhlI1v2XEkJCy",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": null
            }
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:56:46 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2c52fcf6-3b3d-4093-9985-79c4963fc62b","start_date":"2016-01-01","end_date":"2017-01-01","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ITEM_ERROR",
          "request_id": "55lCEBOaZBfxTzi",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:56:46 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2c52fcf6-3b3d-4093-9985-79c4963fc62b","start_date":"2016-01-01","end_date":"2017-01-01","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "G9NX5mEkW7tAQJ8W876rupe3RzDkzyt14mpXd",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "nl8dzj3JyNCpzdQJQk15FnRPk8JQ87t6Br5NX",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2c52fcf6-3b3d-4093-9985-79c4963fc62b","start_date":"2016-01-01","end_date":"2017-01-01","options":{"account_ids":["G9NX5mEkW7tAQJ8W876rupe3RzDkzyt14mpXd"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "a[...]
[...]
