---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_1","initial_products":["income"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-66dad211-0cc7-4227-9942-7ba89536a698",
          "request_id": "NCU7UP9AU8rrD36"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:12 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-66dad211-0cc7-4227-9942-7ba89536a698","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-294c053e-6683-4620-9c86-484f4ec0f069",
          "item_id": "olk8vlgPzWiNAA7jpa3VFQDkrqZQ6rhRDeRLQ",
          "request_id": "O76cUMwash4o9xS"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:13 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-294c053e-6683-4620-9c86-484f4ec0f069","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "transactions"
            ],
            "billed_products": [
              "income"
            ],
            "error": null,
            "institution_id": "ins_1",
            "item_id": "olk8vlgPzWiNAA7jpa3VFQDkrqZQ6rhRDeRLQ",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "ydKDK9W2F02RwAu",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:57:13 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/income/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-294c053e-6683-4620-9c86-484f4ec0f069","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ITEM_ERROR",
          "request_id": "7rcUTpujXPcRCVf",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:57:14 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-294c053e-6683-4620-9c86-484f4ec0f069","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "XqzvcP4s4OnDWL9"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:14 GMT
recorded_with: VCR 4.0.0
