---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ABCDEFG1234567","public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_INSTITUTION",
          "error_message": "invalid institution_id provided",
          "error_type": "INVALID_INPUT",
          "request_id": "ki3jHNKq6Ywt9tN",
          "suggested_action": null
        }
  recorded_at: Mon, 20 May 2019 20:12:10 GMT
recorded_with: VCR 4.0.0
