---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-23cd5f77-8f3a-4322-b90b-29a1eccd7000",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "NWyNQ9xb1rH4ZoxEk9QgceKzowXLW3HWZKZa8",
            "webhook": ""
          },
          "request_id": "KDKtsRlh8BaI6pi"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:47 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/webhook/update
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-23cd5f77-8f3a-4322-b90b-29a1eccd7000","webhook":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "webhook must be a non-empty string URL",
          "error_type": "INVALID_REQUEST",
          "request_id": "Xxx3DdCBc0IxFhA"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:47 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-23cd5f77-8f3a-4322-b90b-29a1eccd7000","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "ePv1lQmI6NZ9Xps"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:48 GMT
recorded_with: VCR 4.0.0
