---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["auth"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-48161989-fe41-41fb-b012-104b37d64bb6",
          "request_id": "LzaSwqrnUnV9dFA"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:28 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-48161989-fe41-41fb-b012-104b37d64bb6","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-f40954fb-1003-465b-aefd-bdc682bda1d8",
          "item_id": "lV83RdVn7oi41r4jzeQkuz6LpWK1DvtZqVrEX",
          "request_id": "z1Nie2iyJzCeZ5O"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:29 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f40954fb-1003-465b-aefd-bdc682bda1d8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "investments_auth",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "lV83RdVn7oi41r4jzeQkuz6LpWK1DvtZqVrEX",
            "webhook": ""
          },
          "request_id": "XhTE5Go9az7Yw8R",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:06:29 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/stripe/bank_account_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f40954fb-1003-465b-aefd-bdc682bda1d8","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "JjC7aulAMzkcdim",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 22:06:29 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f40954fb-1003-465b-aefd-bdc682bda1d8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "EHajcZTxFxsE2c3"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:30 GMT
recorded_with: VCR 4.0.0
