---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ABCDEFG1234567","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_INSTITUTION",
          "error_message": "invalid institution_id provided",
          "error_type": "INVALID_INPUT",
          "request_id": "THmVT"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:42 GMT
recorded_with: VCR 3.0.3
