---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["auth"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-41b0a813-d4cc-4731-9deb-91aac9fed3e5",
          "request_id": "SFgVHL7CsKAt06E"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-41b0a813-d4cc-4731-9deb-91aac9fed3e5","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-8fb52dab-c999-43f4-93ca-a394ee7aa3d2",
          "item_id": "d1MjLzA4aVHkRRAlmQnot39q3z7Bg6IZ384wN",
          "request_id": "aCWq4dUFRzcxNw3"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-8fb52dab-c999-43f4-93ca-a394ee7aa3d2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "d1MjLzA4aVHkRRAlmQnot39q3z7Bg6IZ384wN",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "OvBkmNlSi5bLL73",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:57:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/dwolla/processor_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-8fb52dab-c999-43f4-93ca-a394ee7aa3d2","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "avxYQdESO9ucWBN",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:57:56 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-8fb52dab-c999-43f4-93ca-a394ee7aa3d2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "3y9c6hfVyHnyYMr"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:56 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ab21a37a-f118-4af6-9f91-5e208761f30c","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "jCakpoNnYmizBAX"
        }
  recorded_at: Fri, 24 Jan 2020 21:44:55 GMT
recorded_with: VCR 4.0.0
