---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"mfa_selections"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 210
      message: status code 210
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-b3067130-cb44-4a4c-af28-583ea006b692",
          "device": null,
          "device_list": null,
          "flexible_input_specs": null,
          "mfa_type": "selections",
          "questions": null,
          "request_id": "Zwtkxxs3ekDw09l",
          "selections": [
            {
              "answers": [
                "tomato",
                "potato"
              ],
              "question": "You say tomato, I say...?"
            },
            {
              "answers": [
                "ketchup",
                "mustard"
              ],
              "question": "Ketchup or mustard?"
            }
          ]
        }
  recorded_at: Thu, 16 May 2019 06:50:39 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/mfa
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b3067130-cb44-4a4c-af28-583ea006b692","mfa_type":"selections","responses":["tomato","ketchup"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "d1AQD3Z8ngcldMrXZo3bIPldMzP1VXiZN1AgD",
            "webhook": ""
          },
          "request_id": "kvjzmzGg4CDdDuT"
        }
  recorded_at: Thu, 16 May 2019 06:50:41 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b3067130-cb44-4a4c-af28-583ea006b692","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "iytG3IhPIsVLUDQ"
        }
  recorded_at: Thu, 16 May 2019 06:50:42 GMT
recorded_with: VCR 4.0.0
