---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "public_token": "public-sandbox-89601779-a952-4ec8-b1d5-12ca6b4badf7",
          "request_id": "OIBRI"
        }
  recorded_at: Wed, 23 May 2018 03:16:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-c9794172-94e5-4c20-83b1-7ad6c6037b65",
          "request_id": "1V9F3f1Wj5DD4LQ"
        }
  recorded_at: Wed, 17 Oct 2018 18:46:37 GMT
recorded_with: VCR 4.0.0
