---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":"ABCDEFG1234567","public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "products must either be null or a list of strings containing at least one valid product",
          "error_type": "INVALID_INPUT",
          "request_id": "lXX4e"
        }
  recorded_at: Fri, 16 Mar 2018 02:20:58 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":"ABCDEFG1234567","public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "products must either be null or a list of strings containing at least one valid product",
          "error_type": "INVALID_INPUT",
          "request_id": "nJKi9uRGIjmiG5j"
        }
  recorded_at: Fri, 16 Nov 2018 22:23:45 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":"ABCDEFG1234567","public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "products must either be null or a list of strings containing at least one valid product",
          "error_type": "INVALID_INPUT",
          "request_id": "EknDVHEN5yR0QWB"
        }
  recorded_at: Fri, 16 Nov 2018 22:34:32 GMT
recorded_with: VCR 4.0.0
