---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-196bac0d-ea54-4ab5-8db6-eb1395c413f2",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "nLm6Nb8MJyspdZKNmKx3hPPeEoZVeWiG94va5",
            "webhook": ""
          },
          "request_id": "9Kx2i"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:15 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/item/reset_login
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-196bac0d-ea54-4ab5-8db6-eb1395c413f2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "request_id": "Ku6fm",
          "reset_login": true
        }
  recorded_at: Wed, 12 Jul 2017 13:10:16 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/credentials/update
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-196bac0d-ea54-4ab5-8db6-eb1395c413f2","credentials":{"username":"user_good","password":"pass_good"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "nLm6Nb8MJyspdZKNmKx3hPPeEoZVeWiG94va5",
            "webhook": ""
          },
          "request_id": "Roqxs"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:27 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-196bac0d-ea54-4ab5-8db6-eb1395c413f2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "oQRn5"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:28 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-dff81578-68b2-4fdc-933e-91b69268562d",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "rEQrzEzNkXfqXeny5eEeFMRLAq7zQBfLp8rdV",
            "webhook": ""
          },
          "request_id": "Sx3yC"
        }
  recorded_at: Tue, 10 Oct 2017 11:36:12 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-ed3a5f23-e43a-4121-a8aa-3622259d87ba",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "EJA4A365MounPMRPJgeBIG53v7NA6jIXwMMey",
            "webhook": ""
          },
          "request_id": "JmE4CI4BbaRdLuo"
        }
  recorded_at: Fri, 16 Nov 2018 22:24:19 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-442565f1-7a2b-4521-930d-e241eb697996","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "Lqmdu7cc4EvWxoM"
        }
  recorded_at: Fri, 16 Nov 2018 22:34:14 GMT
recorded_with: VCR 4.0.0
