---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{"webhook":"https://httpstat.us/200"},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-e3efbf25-4d1d-4570-8da5-938e71884926",
          "request_id": "1pP1N8lWL16JTbX"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:40 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-e3efbf25-4d1d-4570-8da5-938e71884926","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-87e01960-7f1c-4c63-bd1b-5c8c2c6e9439",
          "item_id": "7xk7rwjoznS5Nqzj5AR4T758ooRBjECgWKEqk",
          "request_id": "rFhXb57xujV31NW"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:40 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/item/fire_webhook
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-87e01960-7f1c-4c63-bd1b-5c8c2c6e9439","webhook_code":"DEFAULT_UPDATE","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "request_id": "9pI5Vh4aYMme5mg",
          "webhook_fired": true
        }
  recorded_at: Fri, 24 Jan 2020 22:05:40 GMT
recorded_with: VCR 4.0.0
