---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["transactions"],"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institutions": [
            {
              "country_codes": [
                "US"
              ],
              "credentials": [],
              "has_mfa": true,
              "input_spec": null,
              "institution_id": "ins_109508",
              "mfa": [
                "code",
                "list",
                "questions",
                "selections"
              ],
              "mfa_code_type": "numeric",
              "name": "First Platypus Bank",
              "products": [
                "assets",
                "auth",
                "balance",
                "transactions",
                "credit_details",
                "holdings",
                "income",
                "identity",
                "investments",
                "liabilities"
              ],
              "routing_numbers": [],
              "oauth": false
            }
          ],
          "request_id": "k0AxEFiZcVSmUTy"
        }
  recorded_at: Fri, 19 Jul 2019 21:23:36 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["transactions"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institutions": [
            {
              "country_codes": [
                "US"
              ],
              "credentials": [],
              "has_mfa": true,
              "input_spec": null,
              "institution_id": "ins_109508",
              "mfa": [
                "code",
                "list",
                "questions",
                "selections"
              ],
              "mfa_code_type": "numeric",
              "name": "First Platypus Bank",
              "oauth": false,
              "products": [
                "assets",
                "auth",
                "balance",
                "transactions",
                "credit_details",
                "income",
                "identity",
                "investments",
                "liabilities"
              ],
              "routing_numbers": []
            }
          ],
          "request_id": "dH1wpXyc9DVzCvb"
        }
  recorded_at: Wed, 03 Jun 2020 23:39:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["transactions"],"country_codes":["US"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institutions": [
            {
              "country_codes": [
                "US"
              ],
              "institution_id": "ins_109508",
              "name": "First Platypus Bank",
              "oauth": false,
              "products": [
                "assets",
                "auth",
                "balance",
                "transactions",
                "credit_details",
                "income",
                "identity",
                "investments",
                "liabilities"
              ],
              "routing_numbers": []
            }
          ],
          "request_id": "znXMAxcOOqB5PsD"
        }
  recorded_at: Wed, 30 Sep 2020 23:29:36 GMT
recorded_with: VCR 4.0.0
