---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-b50e7d42-93ec-4659-b912-27697d1afd3c",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "rkbrV1xmBbHKm33nQabKtQ47qQAxK8sBJDmq4",
            "webhook": ""
          },
          "request_id": "O75E3"
        }
  recorded_at: Wed, 12 Jul 2017 13:13:17 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/invalidate
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b50e7d42-93ec-4659-b912-27697d1afd3c","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "new_access_token": "access-sandbox-ff7e2baa-1785-4c1d-88f4-f14df052e25b",
          "request_id": "Jz1hW"
        }
  recorded_at: Wed, 12 Jul 2017 13:13:19 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/delete
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ff7e2baa-1785-4c1d-88f4-f14df052e25b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "1wwV5"
        }
  recorded_at: Wed, 12 Jul 2017 13:13:20 GMT
recorded_with: VCR 3.0.3
