---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id"},"client_name":"Plaid
        Test","products":["auth","transactions"],"country_codes":null,"language":null,"locale":null,"webhook":null,"access_token":null,"link_customization_name":null,"redirect_uri":null,"android_package_name":null,"institution_id":null,"account_filters":null,"cross_app_item_add":null,"payment_initiation":null,"client_id":"58c07d9e4e95b83268321242","secret":"67ec85d024f3512101a1ba5a4ef00f"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2020-07-09T02:22:36Z",
          "request_id": "Ey6VXCTu27QgaTs",
          "token": "link-sandbox-22f8068a-b3fe-4594-a75c-82fe4ff26eff"
        }
  recorded_at: Wed, 08 Jul 2020 02:22:36 GMT
recorded_with: VCR 4.0.0
