---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12"}},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-571c1a6d-13ab-457b-a2c9-fe8a2f39e1c7",
          "request_id": "vi7MvUouFRYAE0I"
        }
  recorded_at: Wed, 19 Jun 2019 19:56:03 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-571c1a6d-13ab-457b-a2c9-fe8a2f39e1c7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-8118085c-3acc-42f0-a586-75dc9d663d63",
          "item_id": "doQxdr8d1EtnrR1q85JzC3aAoN7kKMSZNeLMA",
          "request_id": "CSYHVGMUMFVQf7l"
        }
  recorded_at: Wed, 19 Jun 2019 19:56:03 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-8118085c-3acc-42f0-a586-75dc9d663d63","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "doQxdr8d1EtnrR1q85JzC3aAoN7kKMSZNeLMA",
            "webhook": ""
          },
          "request_id": "iiAOXG74xngUMzA",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:56:04 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/holdings/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "BjmVFR2DEaOjH1U",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:56:05 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-8118085c-3acc-42f0-a586-75dc9d663d63","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "gGS2djBd0AwPLKZ"
        }
  recorded_at: Wed, 19 Jun 2019 19:56:06 GMT
recorded_with: VCR 4.0.0
