---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/update_version
    body:
      encoding: UTF-8
      string: '{"access_token_v1":"ABCDEFG1234567","client_id":null,"secret":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "client_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "GFgUdRbbwDjLFcA",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:21 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/update_version
    body:
      encoding: UTF-8
      string: '{"access_token_v1":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "access_token_v1 must be a non-empty, 160 character, hexadecimal string",
          "error_type": "INVALID_REQUEST",
          "request_id": "VGybReA8VvrgIbK",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 18:07:13 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/update_version
    body:
      encoding: UTF-8
      string: '{"access_token_v1":"ABCDEFG1234567","client_id":"58b9a231bdc6a453f37c338f","secret":"e60cac68bf07eba47e819b9ac45e01"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "access_token_v1 must be a non-empty, 160 character, hexadecimal string",
          "error_type": "INVALID_REQUEST",
          "request_id": "mCAG35iQsMZgunD",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:48:05 GMT
recorded_with: VCR 4.0.0
