---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["assets"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-67452987-4a38-463f-be45-cea018da4bb6",
          "request_id": "oW375fkYnxPLs7g"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:18 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-67452987-4a38-463f-be45-cea018da4bb6","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-69a15ed1-5a05-4d9d-aaf0-6f082ba34302",
          "item_id": "bvELW1VydECMobVPKJGXcwD3dGya6zTVjpVAD",
          "request_id": "N0PJEf6ezp62AKl"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:18 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-69a15ed1-5a05-4d9d-aaf0-6f082ba34302","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "assets"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "bvELW1VydECMobVPKJGXcwD3dGya6zTVjpVAD",
            "webhook": ""
          },
          "request_id": "MOTL6s4lfwsQ0zJ",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:55:19 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/create
    body:
      encoding: UTF-8
      string: '{"access_tokens":["access-sandbox-69a15ed1-5a05-4d9d-aaf0-6f082ba34302"],"days_requested":60,"options":{"client_report_id":"123","webhook":"https://www.example.com","user":{"client_user_id":"789","first_name":"Jane","middle_name":"Leah","last_name":"Doe","ssn":"123-45-6789","phone_number":"(555)
        123-4567","email":"jane.doe@example.com"}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "f16b9cd0-a601-43ef-abc9-65ffd980aca0",
          "asset_report_token": "assets-sandbox-0c4951bd-5f97-45ad-8b50-7496a823de72",
          "request_id": "pHoTTXz23vkZn2X"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:19 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-0c4951bd-5f97-45ad-8b50-7496a823de72","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ASSET_REPORT_ERROR",
          "request_id": "ZaTYHNWRdTcxNgK",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:55:20 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-0c4951bd-5f97-45ad-8b50-7496a823de72","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "f16b9cd0-a601-43ef-abc9-65ffd980aca0",
            "client_report_id": "123",
            "date_generated": "2019-06-19T19:55:21Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "6jlaEzWvrlFyJra5ozBWC4AlXggAP7tg79BJ9",
                    "balances": {
                      "available": null,
                      "current": 65262,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [],
                    "mask": "7777",
                    "name": "Plaid Student Loan",
                    "official_name": null,
                    "owners": [
                      {
                        "addresses": [
                          {
                            "data": {
                              "city": "Malakoff",
                              "state": "NY",
                              "street": "2992 Cameron Road",
                              "zip": "14236"
                            },
                            "primary": true
                          },
                          {
                            "data": {
                              "city": "San Matias",
                              "state": "CA",
                              "street": "2493 Leisure Lane",
                              "zip": "93405-2255"
                            },
                            "primary": false
                          }
                        ],
                        "emails": [
                          {
                            "data": "accountholder0@example.com",
                            "primary": true,
                            "type": "primary"
                          },
                          {
                            "data": "accountholder1@example.com",
                            "primary": false,
                            "type": "secondary"
                          },
                          {
                            "data": "extraordinarily.long.email.username.123456@reallylonghostname.com",
                            "primary": false,
                            "type": "other"
                          }
                        ],
                        "names": [
                          "Alberta Bobbeth Charleson"
                        ],
                        "phone_numbers": [
                          {
                            "data": "1112223333",
                            "primary": false,
                            "type": "home"
                          },
                          {
                            "data": "1112224444",
                            "primary": false,
                            "type": "work"
                          },
                          {
                            "data": "1112225555",
                            "primary": false,
                            "type": "mobile1"
                          }
                        ]
                      }
                    ],
                    "subtype": "student",
                    "transactions": [],
                    "type": "loan"
                  },
                  {
                    "account_id": "9QrPExn63rUE8wPlrmN4iKwNRnnw6yhRNGp8L",
                    "balances": {
                      "available": 43200,
                      "current": 43200,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
                      {
                        "current": 49050,
                        "date": "2019-06-18",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 49050,
                        "date": "2019-06-17",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 49050,
                        "date": "2019-0[...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/pdf/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-0c4951bd-5f97-45ad-8b50-7496a823de72","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/pdf
      plaid-request-id:
      - vlD3SbgUEL4oypm
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        JVBERi0xLjQKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIK
        L1Jlc291cmNlcyAyIDAgUgovR3JvdXAgPDwvVHlwZSAvR3JvdXAgL1MgL1Ry
        YW5zcGFyZW5jeSAvQ1MgL0RldmljZVJHQj4+Ci9Db250ZW50cyA0IDAgUj4+
        CmVuZG9iago0IDAgb2JqCjw8L0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0
        aCAxOTYzPj4Kc3RyZWFtCngBpJnPbhs5Esbveoo6eIAJ4GX4t9l9Wzv2BA6S
        HY/l41x6rE6iRN1KWp[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/filter
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-0c4951bd-5f97-45ad-8b50-7496a823de72","account_ids_to_exclude":["6jlaEzWvrlFyJra5ozBWC4AlXggAP7tg79BJ9"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "497e8eb4-e24c-49e4-b505-0353f1c862c4",
          "asset_report_token": "assets-sandbox-489b89fa-9e7e-479e-9cea-6c5e497dfb74",
          "request_id": "V4mwXjh6askGVCq"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:24 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/refresh
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-0c4951bd-5f97-45ad-8b50-7496a823de72","days_requested":10,"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "70271054-77d9-4f9a-8ab6-7ae3f497f154",
          "asset_report_token": "assets-sandbox-d3752526-b580-439c-a3e1-c9e970981550",
          "request_id": "lwlrdWtcy70rlQ8"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:26 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/create
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-0c4951bd-5f97-45ad-8b50-7496a823de72","auditor_id":"PLAID_RUBY_CLIENT_ID","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "audit_copy_token": "a-sandbox-n2iwh2yt3nfdtjzkuh2rnglfs4",
          "request_id": "QkkLJGvVlDM5CIl"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:31 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/get
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-n2iwh2yt3nfdtjzkuh2rnglfs4","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/remove
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-n2iwh2yt3nfdtjzkuh2rnglfs4","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "puwDA75oL7BL8xb"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:32 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/remove
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-0c4951bd-5f97-45ad-8b50-7496a823de72","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "AqrO6s1UCHXg8qo"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:32 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-69a15ed1-5a05-4d9d-aaf0-6f082ba34302","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "RTlg4RtcLCGvfkg"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:33 GMT
recorded_with: VCR 4.0.0
