---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_117650","country_codes":["GB"],"options":{"include_payment_initiation_metadata":true},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institution": {
            "country_codes": [
              "GB"
            ],
            "institution_id": "ins_117650",
            "name": "Royal Bank of Plaid",
            "oauth": false,
            "payment_initiation_metadata": {
              "maximum_payment_amount": {
                "GBP": "1000000"
              },
              "standing_order_metadata": {
                "supports_standing_order_end_date": true,
                "supports_standing_order_negative_execution_days": true,
                "valid_standing_order_intervals": [
                  "WEEKLY",
                  "MONTHLY"
                ]
              },
              "supports_international_payments": true,
              "supports_refund_details": true
            },
            "products": [
              "assets",
              "auth",
              "balance",
              "transactions",
              "identity",
              "payment_initiation",
              "standing_orders"
            ],
            "routing_numbers": []
          },
          "request_id": "AjYS7gsU4EC5JVt"
        }
  recorded_at: Wed, 14 Apr 2021 21:29:54 GMT
recorded_with: VCR 4.0.0
