---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["auth"],"options":{},"public_key":"f149f72f9caae670aa7e1386b10103"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-7ee1a919-4005-4bd2-833b-53373a07ca15",
          "request_id": "SCX3VbJrQD9uM1H"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-7ee1a919-4005-4bd2-833b-53373a07ca15","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-049d2875-1e6b-451a-adf0-708e08edfa9c",
          "item_id": "45zW3aw4mXuW6RoE7EPysM9BpV6dLqIdew6PK",
          "request_id": "y4ag8M1StF9Jguv"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-049d2875-1e6b-451a-adf0-708e08edfa9c","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "investments_auth",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "45zW3aw4mXuW6RoE7EPysM9BpV6dLqIdew6PK",
            "webhook": ""
          },
          "request_id": "t3JpRcpbBef17YE",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:06:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/ocrolus/processor_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-049d2875-1e6b-451a-adf0-708e08edfa9c","account_id":"ABCDEFG1234567","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "m7AsjvpyYdrhyOH",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 22:06:24 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-049d2875-1e6b-451a-adf0-708e08edfa9c","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "KfQ1zTNo526YFCV"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:24 GMT
recorded_with: VCR 4.0.0
