---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institution": {
            "country_codes": [
              "US"
            ],
            "credentials": [
              {
                "label": "Username",
                "name": "username",
                "type": "text"
              },
              {
                "label": "Password",
                "name": "password",
                "type": "password"
              }
            ],
            "has_mfa": true,
            "input_spec": "fixed",
            "institution_id": "ins_109508",
            "mfa": [
              "code",
              "list",
              "questions",
              "selections"
            ],
            "mfa_code_type": "numeric",
            "name": "First Platypus Bank",
            "products": [
              "assets",
              "auth",
              "balance",
              "transactions",
              "credit_details",
              "holdings",
              "income",
              "identity"
            ]
          },
          "request_id": "vN6cI6vk6QiVqoM"
        }
  recorded_at: Thu, 16 May 2019 06:52:09 GMT
recorded_with: VCR 4.0.0
