---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id","legal_name":"John Doe","phone_number":"+1
        415 555 0123","phone_number_verified_time":"2020-01-01T00:00:00Z","email_address":"example@plaid.com","email_address_verified_time":"2020-01-01T00:00:00Z"},"client_name":"Plaid
        Test","products":["auth","transactions"],"country_codes":["GB"],"language":"en","locale":null,"webhook":"https://sample-webhook.com","access_token":null,"link_customization_name":null,"redirect_uri":null,"android_package_name":null,"institution_id":null,"account_filters":{"depository":{"account_subtypes":["checking","savings"]}},"cross_app_item_add":null,"payment_initiation":null,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2020-07-09T03:14:18Z",
          "request_id": "IFWsu9aoM5Fcefm",
          "token": "link-sandbox-8db1d1a3-c8d2-4a51-bc2d-ff3508af124f"
        }
  recorded_at: Wed, 08 Jul 2020 03:14:18 GMT
recorded_with: VCR 4.0.0
