---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-2303df33-89a1-488c-ab09-8cb285cdd603",
          "request_id": "a1IzX7VuVkfejwx"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:46 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-2303df33-89a1-488c-ab09-8cb285cdd603","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-f65c120e-56e2-413a-9247-0baea12371e5",
          "item_id": "dkrz8D1wQpUM1Xxqmelzc39wzeV1ZaUZ384wb",
          "request_id": "JTrxVmcHafMXLeQ"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:46 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f65c120e-56e2-413a-9247-0baea12371e5","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "dkrz8D1wQpUM1Xxqmelzc39wzeV1ZaUZ384wb",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "c4MQYQRrbMURpbj",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": "2019-06-19T19:57:46.919Z"
            }
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:57:47 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/invalidate
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f65c120e-56e2-413a-9247-0baea12371e5","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "new_access_token": "access-sandbox-c471124b-6852-490b-b0fd-86219c72c133",
          "request_id": "0Pz8PTFnxfIwd6m"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:47 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c471124b-6852-490b-b0fd-86219c72c133","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "0DKviKnAXFnMma8"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:48 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-55ef6070-95d0-4d59-9b45-e088d5f6f876","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "97ZpDY8EZaWVI1j"
        }
  recorded_at: Tue, 22 Sep 2020 02:25:26 GMT
recorded_with: VCR 4.0.0
