---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"mfa_selections"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 210
      message: status code 210
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-3b518362-cad1-488b-8309-15db0ad37581",
          "device": null,
          "device_list": null,
          "mfa_type": "selections",
          "questions": null,
          "request_id": "iXRIN",
          "selections": [
            {
              "answers": [
                "tomato",
                "potato"
              ],
              "question": "You say tomato, I say...?"
            },
            {
              "answers": [
                "ketchup",
                "mustard"
              ],
              "question": "Ketchup or mustard?"
            }
          ]
        }
  recorded_at: Wed, 12 Jul 2017 13:11:56 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/mfa
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3b518362-cad1-488b-8309-15db0ad37581","mfa_type":"selections","responses":["tomato","ketchup"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "oeqmKoNwbGcpk3wKK7kVijJ1PKWjqrCkP8jLM",
            "webhook": ""
          },
          "request_id": "z37En"
        }
  recorded_at: Wed, 12 Jul 2017 13:12:12 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3b518362-cad1-488b-8309-15db0ad37581","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "lGDwt"
        }
  recorded_at: Wed, 12 Jul 2017 13:12:14 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"mfa_selections"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 210
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-5a5287be-1bd3-4dfc-8d65-60381c6964b7",
          "device": null,
          "device_list": null,
          "mfa_type": "selections",
          "questions": null,
          "request_id": "GzBeU",
          "selections": [
            {
              "answers": [
                "tomato",
                "potato"
              ],
              "question": "You say tomato, I say...?"
            },
            {
              "answers": [
                "ketchup",
                "mustard"
              ],
              "question": "Ketchup or mustard?"
            }
          ]
        }
  recorded_at: Tue, 10 Oct 2017 11:37:08 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-5a5287be-1bd3-4dfc-8d65-60381c6964b7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "nNX9I"
        }
  recorded_at: Tue, 10 Oct 2017 11:37:12 GMT
recorded_with: VCR 3.0.3
