---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/recipient/create
    body:
      encoding: UTF-8
      string: '{"name":"John Doe","iban":"GB33BUKB20201555555555","address":{"street":["Street
        Name 999"],"city":"City","postal_code":"99999","country":"GB"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "recipient_id": "recipient-id-sandbox-4e909a88-6234-48c3-8f1d-4fe727cf0ff8",
          "request_id": "z6RaaJz9rKMSWjy"
        }
  recorded_at: Fri, 24 Jan 2020 22:08:43 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/recipient/get
    body:
      encoding: UTF-8
      string: '{"recipient_id":"recipient-id-sandbox-4e909a88-6234-48c3-8f1d-4fe727cf0ff8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "address": {
            "city": "City",
            "country": "GB",
            "postal_code": "99999",
            "street": [
              "Street Name 999"
            ]
          },
          "iban": "GB33BUKB20201555555555",
          "name": "John Doe",
          "recipient_id": "recipient-id-sandbox-4e909a88-6234-48c3-8f1d-4fe727cf0ff8",
          "request_id": "BcSntTK6wWXoXpH"
        }
  recorded_at: Fri, 24 Jan 2020 22:08:43 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/recipient/list
    body:
      encoding: UTF-8
      string: '{"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "recipients": [
            {
              "address": {
                "city": "City",
                "country": "GB",
                "postal_code": "99999",
                "street": [
                  "Street Name 999"
                ]
              },
              "iban": "GB33BUKB20201555555555",
              "name": "John Doe",
              "recipient_id": "recipient-id-sandbox-4e909a88-6234-48c3-8f1d-4fe727cf0ff8"
            }
          ],
          "request_id": "sO4EtORK7ADaNIB"
        }
  recorded_at: Fri, 24 Jan 2020 22:08:44 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/payment/create
    body:
      encoding: UTF-8
      string: '{"recipient_id":"recipient-id-sandbox-4e909a88-6234-48c3-8f1d-4fe727cf0ff8","reference":"test_payment","amount":{"currency":"GBP","value":100.0},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "payment_id": "payment-id-sandbox-72155be8-d091-499c-9562-ca6bc207f3b8",
          "request_id": "CYLAEf8Rg3PTuIa",
          "status": "PAYMENT_STATUS_INPUT_NEEDED"
        }
  recorded_at: Fri, 24 Jan 2020 22:08:44 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/payment/token/create
    body:
      encoding: UTF-8
      string: '{"payment_id":"payment-id-sandbox-72155be8-d091-499c-9562-ca6bc207f3b8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "payment_token": "payment-token-sandbox-40da687f-d3d5-4175-8061-39628b77a8d3",
          "payment_token_expiration_time": "2020-01-24T22:23:44Z",
          "request_id": "CX58JxhJ12fMtPT"
        }
  recorded_at: Fri, 24 Jan 2020 22:08:44 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/payment/get
    body:
      encoding: UTF-8
      string: '{"payment_id":"payment-id-sandbox-72155be8-d091-499c-9562-ca6bc207f3b8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "amount": {
            "currency": "GBP",
            "value": 100
          },
          "last_status_update": "2020-01-24T22:08:44Z",
          "payment_id": "payment-id-sandbox-72155be8-d091-499c-9562-ca6bc207f3b8",
          "payment_token": "payment-token-sandbox-40da687f-d3d5-4175-8061-39628b77a8d3",
          "payment_token_expiration_time": "2020-01-24T22:23:44Z",
          "recipient_id": "recipient-id-sandbox-4e909a88-6234-48c3-8f1d-4fe727cf0ff8",
          "reference": "test_payment",
          "request_id": "PHWigVM9ow7rhdV",
          "status": "PAYMENT_STATUS_INPUT_NEEDED"
        }
  recorded_at: Fri, 24 Jan 2020 22:08:45 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/payment_initiation/payment/list
    body:
      encoding: UTF-8
      string: '{"count":10,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "next_cursor": null,
          "payments": [
            {
              "amount": {
                "currency": "GBP",
                "value": 100
              },
              "last_status_update": "2020-01-24T22:08:44Z",
              "payment_id": "payment-id-sandbox-72155be8-d091-499c-9562-ca6bc207f3b8",
              "payment_token": "payment-token-sandbox-40da687f-d3d5-4175-8061-39628b77a8d3",
              "payment_token_expiration_time": "2020-01-24T22:23:44Z",
              "recipient_id": "recipient-id-sandbox-4e909a88-6234[...]
