---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-2665ca42-c31c-4434-94bb-ad9aefb9ee29",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "WVJ51WAZ8KUk4BoqWqr7fRpQaNqoRGCl9bowN",
            "webhook": ""
          },
          "request_id": "FS6HoBug20SxoKG"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:49 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2665ca42-c31c-4434-94bb-ad9aefb9ee29","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2019-03-20T16:14:50Z",
          "public_token": "public-sandbox-4fab3549-e81d-4e3f-9e6c-3f65bd00907b",
          "request_id": "lhW6edtSklp3rhT"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:50 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-4fab3549-e81d-4e3f-9e6c-3f65bd00907b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-2665ca42-c31c-4434-94bb-ad9aefb9ee29",
          "item_id": "WVJ51WAZ8KUk4BoqWqr7fRpQaNqoRGCl9bowN",
          "request_id": "Dsvt18K8geBNgZv"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:50 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2665ca42-c31c-4434-94bb-ad9aefb9ee29","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "xDvnq4f7FBVx9sJ"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:51 GMT
recorded_with: VCR 4.0.0
