---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-ac2aced5-cb49-431a-bcad-fd079499eaba",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "E4wNw85PRKIq8MGqRWegTK5lL7neAbiGbkjNBJ",
            "webhook": ""
          },
          "request_id": "EmX93"
        }
  recorded_at: Fri, 16 Mar 2018 02:21:32 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/balance/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "f4D5V"
        }
  recorded_at: Fri, 16 Mar 2018 02:21:33 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ac2aced5-cb49-431a-bcad-fd079499eaba","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "zXNNW"
        }
  recorded_at: Fri, 16 Mar 2018 02:21:35 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-7a0a50af-8d2d-41e9-b866-6aa5e7292df7",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "xPWPm4nyG5hDy5LoXbgKt53RodjrB3inwB7gN",
            "webhook": ""
          },
          "request_id": "tpczpSXxhCajliP"
        }
  recorded_at: Wed, 20 Mar 2019 03:14:38 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-7a0a50af-8d2d-41e9-b866-6aa5e7292df7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "JcRu6sb7o1pduDB"
        }
  recorded_at: Wed, 20 Mar 2019 03:14:39 GMT
recorded_with: VCR 4.0.0
