---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_bad","password":"pass_bad"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": "The provided credentials were not correct. Please try again.",
          "error_code": "INVALID_CREDENTIALS",
          "error_message": "the provided credentials were not correct",
          "error_type": "ITEM_ERROR",
          "request_id": "l5gVD"
        }
  recorded_at: Wed, 12 Jul 2017 13:11:35 GMT
recorded_with: VCR 3.0.3
