---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"mfa_selections"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 210
      message: status code 210
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-217d7ebc-f9f3-480d-a598-ac104cd0482c",
          "device": null,
          "device_list": null,
          "mfa_type": "selections",
          "questions": null,
          "request_id": "9eOtmUHAqvZfff5",
          "selections": [
            {
              "answers": [
                "tomato",
                "potato"
              ],
              "question": "You say tomato, I say...?"
            },
            {
              "answers": [
                "ketchup",
                "mustard"
              ],
              "question": "Ketchup or mustard?"
            }
          ]
        }
  recorded_at: Wed, 20 Mar 2019 15:44:44 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/mfa
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-217d7ebc-f9f3-480d-a598-ac104cd0482c","mfa_type":"selections","responses":["tomato","ketchup"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "Xl7VJM59JpsL63ayk5xKHDnejawKNpudglWRz",
            "webhook": ""
          },
          "request_id": "Vg0Zq2MxLiuASR8"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:45 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-217d7ebc-f9f3-480d-a598-ac104cd0482c","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "XUvpfVLszSA0ikU"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:46 GMT
recorded_with: VCR 4.0.0
