---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/import
    body:
      encoding: UTF-8
      string: '{"products":["identity","auth"],"user_auth":{"user_id":"user_good","auth_token":"pass_good"},"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-d09194a7-0612-4c7f-a929-855e4fe09ea7",
          "request_id": "ohcudMIdnqsGuL2"
        }
  recorded_at: Fri, 07 Feb 2020 17:46:48 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d09194a7-0612-4c7f-a929-855e4fe09ea7","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "eobem5Z99dCNyAr3dNgxtmo5njmmBmuLNwkL6",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "QK9P35njjEIBdJ7QABM1TVyxAbVVGVCpxdewK",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/create
    body:
      encoding: UTF-8
      string: '{"target_account_id":"eobem5Z99dCNyAr3dNgxtmo5njmmBmuLNwkL6","target_access_token":"access-sandbox-d09194a7-0612-4c7f-a929-855e4fe09ea7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "deposit_switch_id": "aMoNm5jnnzcxeoQNzxMBTz3xgAe7nNF7EDBkk",
          "request_id": "L4YamDgE4TO5jYo"
        }
  recorded_at: Fri, 07 Feb 2020 17:46:50 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/get
    body:
      encoding: UTF-8
      string: '{"deposit_switch_id":"aMoNm5jnnzcxeoQNzxMBTz3xgAe7nNF7EDBkk","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "date_created": "2020-02-07",
          "deposit_switch_id": "aMoNm5jnnzcxeoQNzxMBTz3xgAe7nNF7EDBkk",
          "request_id": "cor8z1tyL0opf7f",
          "state": "initialized",
          "target_account_id": "eobem5Z99dCNyAr3dNgxtmo5njmmBmuLNwkL6",
          "target_item_id": "J81B75o33Mh7W1d6974vUDJnm5q5opCd4ym4p"
        }
  recorded_at: Fri, 07 Feb 2020 17:46:50 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/token/create
    body:
      encoding: UTF-8
      string: '{"deposit_switch_id":"aMoNm5jnnzcxeoQNzxMBTz3xgAe7nNF7EDBkk","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "deposit_switch_token": "deposit_switch-sandbox-191a62c0-0ffc-43fc-b537-d8ef46ceecd5",
          "deposit_switch_token_expiration_time": "2020-02-07T18:16:51Z",
          "request_id": "56R2Ci2TDxCxHO0"
        }
  recorded_at: Fri, 07 Feb 2020 17:46:51 GMT
recorded_with: VCR 4.0.0
