---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":"ABCDEFG1234567","public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "products must either be null or a list of strings containing at least one valid product",
          "error_type": "INVALID_INPUT",
          "request_id": "yrTjgmqC8pEg78f",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:23 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":"ABCDEFG1234567","public_key":"5cbfbd8ca018fb3f318df84d5ab6fe"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "products must either be null or a list of strings containing at least one valid product",
          "error_type": "INVALID_INPUT",
          "request_id": "IaPyiBbSeOijmbB",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:48:51 GMT
recorded_with: VCR 4.0.0
