---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["credit_details"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-26e83afe-b03e-4d5d-9c31-ec1b28c924e3",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "EeA56PywAjiW9XBbnVjLsqQ1Zb18EJCXnK8Ky",
            "webhook": ""
          },
          "request_id": "YSTdGmL0QCuh4mr"
        }
  recorded_at: Thu, 16 May 2019 06:51:39 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "1qXKHdlxkSTKQZn",
          "suggested_action": null
        }
  recorded_at: Thu, 16 May 2019 06:51:40 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-26e83afe-b03e-4d5d-9c31-ec1b28c924e3","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "tcBclZZcOlbTP7f"
        }
  recorded_at: Thu, 16 May 2019 06:51:41 GMT
recorded_with: VCR 4.0.0
