---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-196bac0d-ea54-4ab5-8db6-eb1395c413f2",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "nLm6Nb8MJyspdZKNmKx3hPPeEoZVeWiG94va5",
            "webhook": ""
          },
          "request_id": "9Kx2i"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:15 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/item/reset_login
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-196bac0d-ea54-4ab5-8db6-eb1395c413f2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "request_id": "Ku6fm",
          "reset_login": true
        }
  recorded_at: Wed, 12 Jul 2017 13:10:16 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/credentials/update
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-196bac0d-ea54-4ab5-8db6-eb1395c413f2","credentials":{"username":"user_good","password":"pass_good"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "nLm6Nb8MJyspdZKNmKx3hPPeEoZVeWiG94va5",
            "webhook": ""
          },
          "request_id": "Roqxs"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:27 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-196bac0d-ea54-4ab5-8db6-eb1395c413f2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "oQRn5"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:28 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-dff81578-68b2-4fdc-933e-91b69268562d",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "rEQrzEzNkXfqXeny5eEeFMRLAq7zQBfLp8rdV",
            "webhook": ""
          },
          "request_id": "Sx3yC"
        }
  recorded_at: Tue, 10 Oct 2017 11:36:12 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-dff81578-68b2-4fdc-933e-91b69268562d","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "WCTPo"
        }
  recorded_at: Tue, 10 Oct 2017 11:36:17 GMT
recorded_with: VCR 3.0.3
