---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-43c2bab4-0307-475d-a170-f8926fcfcd4f",
          "item": {
            "available_products": [
              "assets",
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "mV5Kk4VbXgt1qJzEE1bntArbGPoRbEILDoZdg",
            "webhook": ""
          },
          "request_id": "laDbXA8mBgGj2qc"
        }
  recorded_at: Tue, 21 May 2019 18:28:13 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/auth/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "HtXDjbrmsBUw2lU",
          "suggested_action": null
        }
  recorded_at: Tue, 21 May 2019 18:28:13 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-43c2bab4-0307-475d-a170-f8926fcfcd4f","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "BPYyr77TLWm3IuF"
        }
  recorded_at: Tue, 21 May 2019 18:28:14 GMT
recorded_with: VCR 4.0.0
