---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["ABCDEFG1234567"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "initial_products contains invalid products: [\"ABCDEFG1234567\"]",
          "error_type": "INVALID_INPUT",
          "request_id": "8uN2O"
        }
  recorded_at: Wed, 12 Jul 2017 13:12:15 GMT
recorded_with: VCR 3.0.3
