---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12"}},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-54af79d3-54c7-4916-91f2-2170bd9ada79",
          "request_id": "0SZBmEGmJIe0gdC"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:41 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-54af79d3-54c7-4916-91f2-2170bd9ada79","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-81239962-2b37-4985-8b78-298c3f6c2e7b",
          "item_id": "WGKwybxJ5VFezWZekd3kFqDwlo3je6TlGdprK",
          "request_id": "fFj2orC9NTnHoT4"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:42 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-81239962-2b37-4985-8b78-298c3f6c2e7b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "WGKwybxJ5VFezWZekd3kFqDwlo3je6TlGdprK",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "RsrJPnBJf8wTVtJ",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:55:42 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-81239962-2b37-4985-8b78-298c3f6c2e7b","start_date":"ABCDEFG1234567","end_date":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "start_date must be a string of the format 'YYYY-MM-DD'",
          "error_type": "INVALID_REQUEST",
          "request_id": "4AKef8Wc2zBZ5YC",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:55:42 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-81239962-2b37-4985-8b78-298c3f6c2e7b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "gycec9ME0WhEtL6"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:43 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-17559b5c-1cbb-4f36-a153-6fdc3a2619ac","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "WEmbGQLaqLs6ExQZP57gtDW75LN8enulyEZZo",
            "webhook": ""
          },
          "request_id": "WpaOACFFR64NkeM",
          "status": {
            "investments": {
              "last_failed_update": null,
              "last_successful_update": "2020-06-03T23:40:26.812Z"
            },
            "last_webhook": null
          }
        }
  recorded_at: Wed, 03 Jun 2020 23:40:28 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-17559b5c-1cbb-4f36-a153-6fdc3a2619ac","start_date":"ABCDEFG1234567","end_date":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "documentation_url": "https://plaid.com/docs/?ref=error#invalid-request-errors",
          "error_code": "INVALID_FIELD",
          "error_message": "start_date must be a string of the format 'YYYY-MM-DD'",
          "error_type": "INVALID_REQUEST",
          "request_id": "gnSZR8g9mP3l5oa",
          "suggested_action": null
        }
  recorded_at: Wed, 03 Jun 2020 23:40:28 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-17559b5c-1cbb-4f36-a153-6fdc3a2619ac","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "QrOD10FcScGPMQX"
        }
  recorded_at: Wed, 03 Jun 2020 23:40:29 GMT
recorded_with: VCR 4.0.0
