---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["credit_details"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-78351d63-5f4c-46e9-84d0-438ce168fb31",
          "request_id": "TnlfDKcFym9JxmJ"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:06 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-78351d63-5f4c-46e9-84d0-438ce168fb31","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-247f6720-38e3-4448-a6b9-3d408765fd5d",
          "item_id": "b1ejK79gVqTRxn6EqDoGIwjobrPqWWIVjpVD7",
          "request_id": "V5Dj9NTXYiIa8ii"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:07 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-247f6720-38e3-4448-a6b9-3d408765fd5d","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "b1ejK79gVqTRxn6EqDoGIwjobrPqWWIVjpVD7",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "YcQ1XxzSNeUFGK9",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:57:07 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-247f6720-38e3-4448-a6b9-3d408765fd5d","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "yj9bEBZ5lpSaxPMEKo69cLgJwWnJddfyR3a1R",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "9xWwmBgKnZSvjVp7KB8NhKGa8d1aLLURNGvep",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-247f6720-38e3-4448-a6b9-3d408765fd5d","options":{"account_ids":["RrJ1pb4og9Uvb3EKXMVQhrePlgaPNNtRVlqxv"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "RrJ1pb4og9Uvb3EKXMVQhrePlgaPNNtRVlqxv",
              "balances": {
                "available": null,
                "current": 410,
                "iso_currency_code": "USD",
                "limit": 2000,
                "unofficial_currency_code": null
              },
              "mask": "3333",
              "name": "Plaid Credit Card",
              "official_name": "Plaid Diamond 12.5% APR Interest Credit Card",
              "subtype": "credit card",
              "type": "credit"
            }
          ],
          "credit_details": [
            {
              "account_id": "RrJ1pb4og9Uvb3EKXMVQhrePlgaPNNtRVlqxv",
              "aprs": {
                "balance_transfers": {
                  "apr": 0.125,
                  "balance_subject_to_apr": 1200,
                  "interest_charge_amount": 150
                },
                "cash_advances": {
                  "apr": 0.165,
                  "balance_subject_to_apr": 0,
                  "interest_charge_amount": 0
                },
                "purchases": {
                  "apr": 0.125,
                  "balance_subject_to_apr": 1650,
                  "interest_charge_amount": 206.25
                }
              },
              "last_payment_amount": 875,
              "last_payment_date": "2016-09-13T00:00:00Z",
              "last_statement_balance": 3450,
              "last_statement_date": "2016-10-01T00:00:00Z",
              "minimum_payment_amount": 800,
              "next_bill_due_date": "2016-10-15T00:00:00Z"
            }
          ],
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "b1ejK79gVqTRxn6EqDoGIwjobrPqWWIVjpVD7",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "OYdndKIOvs49mjh"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:08 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-247f6720-38e3-4448-a6b9-3d408765fd5d","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "mErVN0ttd0sfHZb"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:09 GMT
recorded_with: VCR 4.0.0
