---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-40e42206-8b2a-4ed4-91bf-256f0a675484",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "1g8v4ZD77XCx3QgJqXVoFrmjdB7VDpc5wgDa6",
            "webhook": ""
          },
          "request_id": "PWG4SvnhdzXwhFe"
        }
  recorded_at: Thu, 16 May 2019 06:50:29 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/invalidate
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-40e42206-8b2a-4ed4-91bf-256f0a675484","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "new_access_token": "access-sandbox-3c59492c-556a-46af-bca0-192ef383b542",
          "request_id": "nFqeXzTmMusE0KS"
        }
  recorded_at: Thu, 16 May 2019 06:50:30 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3c59492c-556a-46af-bca0-192ef383b542","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "kx23NAxOsUVF6gc"
        }
  recorded_at: Thu, 16 May 2019 06:50:31 GMT
recorded_with: VCR 4.0.0
