---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["liabilities"],"options":{},"public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "public_key must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "NIrOlvbSE3q5odq",
          "suggested_action": null
        }
  recorded_at: Tue, 09 Jul 2019 00:59:48 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-ee833e0b-f23c-461c-814a-7cbdb2c8cbb5","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-53f94869-8a01-44d0-8cdf-432664f7590b",
          "item_id": "ojQ7RVZKKaUQmmgXneDMSe1rvdB946cReLgbq",
          "request_id": "YVAtTMVvF3d0bks"
        }
  recorded_at: Tue, 09 Jul 2019 01:00:53 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-53f94869-8a01-44d0-8cdf-432664f7590b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "transactions"
            ],
            "billed_products": [
              "liabilities"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "ojQ7RVZKKaUQmmgXneDMSe1rvdB946cReLgbq",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "pw9Aw9KuhdMGZ0K"
        }
  recorded_at: Tue, 09 Jul 2019 01:00:54 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/liabilities/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-53f94869-8a01-44d0-8cdf-432664f7590b","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "xoyJdVLNNMs1JJ8KdRlAU4ma9JlmZvfnbAD4Q",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "dKBrlVeyybi3nnZQgJdqIQyV8DKyB7CZp64E9",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-53f94869-8a01-44d0-8cdf-432664f7590b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "RV6JHpj1X7mpJyc"
        }
  recorded_at: Tue, 09 Jul 2019 01:00:54 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/liabilities/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ca711eef-bbda-48a4-b241-84fd52f33152","options":{"account_ids":["LBBPPG8vz5Cg4km58qolUQwwLEk5n8HPQ3yMZ"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "a[...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ec39d17e-21b0-4686-816d-ecc8ae8667a9","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "liabilities"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_1",
            "item_id": "QB3XNNke59H5DZPweeZdTV1qxmoQJVCpQJn5w",
            "webhook": ""
          },
          "request_id": "K1XCpp1quIxHdwy",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Tue, 02 Jun 2020 00:43:54 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ec39d17e-21b0-4686-816d-ecc8ae8667a9","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "xAxzQLRGqPQ9qYR"
        }
  recorded_at: Tue, 02 Jun 2020 00:43:55 GMT
recorded_with: VCR 4.0.0
