---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12"}},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-263d78e7-7a87-4795-987e-de39e77ca2f8",
          "request_id": "meD4gPnqox44ktB"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:51 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-263d78e7-7a87-4795-987e-de39e77ca2f8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-9544084a-c3a9-4bd4-9ed8-0ee6a08a59e4",
          "item_id": "RD9p3r8PbpUBqLd4ewDKurWPaq7A6RuRjjn4g",
          "request_id": "3fCrytdiKIHT23S"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:52 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9544084a-c3a9-4bd4-9ed8-0ee6a08a59e4","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "RD9p3r8PbpUBqLd4ewDKurWPaq7A6RuRjjn4g",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "YZ0P0Uq4HaGp1Io",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:55:52 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9544084a-c3a9-4bd4-9ed8-0ee6a08a59e4","start_date":"2019-05-28","end_date":"2019-06-12","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "RD9p3r8PbpUBqLd4ewDKurWPLAL91JtRVDv33",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "6E7GlzgPKGHeDGA9Rn4bf4AKrmrVJ8Cg7NoLX",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9544084a-c3a9-4bd4-9ed8-0ee6a08a59e4","start_date":"2019-05-28","end_date":"2019-06-12","options":{"account_ids":["wmokENKprktpAByMbwzoCN6aR8RkWjurXk7jz"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "wmokENKprktpAByMbwzoCN6aR8RkWjurXk7jz",
              "balances": {
                "available": null,
                "current": 320.76,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "5555",
              "name": "Plaid IRA",
              "official_name": null,
              "subtype": "ira",
              "type": "investment"
            }
          ],
          "investment_transactions": [
            {
              "account_id": "wmokENKprktpAByMbwzoCN6aR8RkWjurXk7jz",
              "amount": 46.32,
              "cancel_transaction_id": null,
              "date": "2019-05-30",
              "fees": null,
              "investment_transaction_id": "LD9elWV38eUyEDKNw4Anio9eJlJXzrsPn1raG",
              "iso_currency_code": "USD",
              "name": "BUY NFLX DERIVATIVE",
              "price": 0.01,
              "quantity": 4211.152345617756,
              "security_id": "8E4L9XLl6MudjEpwPAAgivmdZRdBPJuvMPlPb",
              "type": "buy",
              "unofficial_currency_code": null
            },
            {
              "account_id": "wmokENKprktpAByMbwzoCN6aR8RkWjurXk7jz",
              "amount": -1200,
              "cancel_transaction_id": null,
              "date": "2019-05-30",
              "fees": null,
              "investment_transaction_id": "pneQwz57GQUGrekM46vVCw9qkgkjNpuLMB1nV",
              "iso_currency_code": "USD",
              "nam[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9544084a-c3a9-4bd4-9ed8-0ee6a08a59e4","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "C3mbqvJ8aOBygOn"
        }
  recorded_at: Wed, 19 Jun 2019 19:55:53 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-069dcebb-f0ae-47e2-ab90-ae5b0d91c178","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments_auth",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "l6rvzvRxzxcnwzRPw7WNUzp8A8D46McZyeKy4",
            "webhook": ""
          },
          "request_id": "upre5KVR6INfr5I",
          "status": {
            "investments": {
              "last_failed_update": null,
              "last_successful_update": "2020-01-24T21:47:43.215Z"
            },
            "last_webhook": null
          }
        }
  recorded_at: Fri, 24 Jan 2020 21:47:44 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-069dcebb-f0ae-47e2-ab90-ae5b0d91c178","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "fNwSzWIijUt0w9v"
        }
  recorded_at: Fri, 24 Jan 2020 21:47:45 GMT
recorded_with: VCR 4.0.0
