---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["ABCDEFG1234567"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "initial_products contains invalid products: [\"ABCDEFG1234567\"]",
          "error_type": "INVALID_INPUT",
          "request_id": "sXgCbXNm48VsrtF",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 22:06:06 GMT
recorded_with: VCR 4.0.0
