---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-b9c025b2-b79e-421b-91c7-766cec027e0b",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "315XWaMRlaIVELZaoDnjHJld5Z6DXdfML3AoQ",
            "webhook": ""
          },
          "request_id": "9AyrC"
        }
  recorded_at: Wed, 12 Jul 2017 13:18:47 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b9c025b2-b79e-421b-91c7-766cec027e0b","start_date":"2016-01-01","end_date":"2017-01-01","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "oEamRjvzpjSN5lJPR941FjMBmBMprXtXq4bX6",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "g9qarBogjBioqv1MRydbiG9ZNZ9dbAul8j5l3",
              "balances": {
                "available": 200,
                "current": 210,
                "limit": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
              "subtype": "savings",
              "type": "depository"
            },
            {
  [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b9c025b2-b79e-421b-91c7-766cec027e0b","start_date":"2016-01-01","end_date":"2017-01-01","options":{"account_ids":["oEamRjvzpjSN5lJPR941FjMBmBMprXtXq4bX6"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "oEamRjvzpjSN5lJPR941FjMBmBMprXtXq4bX6",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            }
          ],
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "315XWaMRlaIVELZaoDnjHJld5Z6DXdfML3AoQ",
            "webhook": ""
          },
          "request_id": "2Oap5",
          "total_transactions": 77,
          "transactions": [
            {
              "account_id": "oEamRjvzpjSN5lJPR941FjMBmBMprXtXq4bX6",
              "account_owner": null,
              "amount": 5.4,
              "category": null,
              "category_id": null,
              "date": "2017-01-01",
              "location": {
                "address": null,
                "city": null,
                "lat": null,
                "lon": null,
                "state": null,
                "store_number": null,
                "zip": null
              },
              "name": "Uber 063015 SF**POOL**",
              "payment_meta": {
                "by_order_of": null,
                "payee": null,
                "payer": null,
                "payment_method": null,
                "payment_processor": null,
                "ppd_id": null,
                "reason": null,
                "reference_number": null
              },
              "pending": false,
              "pending_transaction_id": null,
              "transaction_id": "dEb3lK1L4KSB61p5yKbecGlgjpKX17IPEoRGX",
              "transaction_type": "unresolved"
            },
            {
              "account_id": "oEamRjvzpjSN5lJPR941FjMBmBMprXtXq4bX6",
              "account_owner": null,
              "amount": -500,
              "category": [
                "Travel",
                "Airlines and Aviation Services"
              ],
              "category_id": "22001000",
              "date": "2016-12-30",
              "location": {
                "address": null,
                "city": null,
                "lat": null,
    [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b9c025b2-b79e-421b-91c7-766cec027e0b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "qgFy1"
        }
  recorded_at: Wed, 12 Jul 2017 13:18:52 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-b382f025-072d-433b-8f17-5cbc06b71024",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "vXxlXnnd4EsnAE7oXaoQINEjEeVdy7CagyLo6",
            "webhook": ""
          },
          "request_id": "NPiQH"
        }
  recorded_at: Tue, 10 Oct 2017 11:32:56 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b382f025-072d-433b-8f17-5cbc06b71024","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "5TPoK"
        }
  recorded_at: Tue, 10 Oct 2017 11:33:01 GMT
recorded_with: VCR 3.0.3
