---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-b65d303a-9f67-471f-8931-765b6e9c5d33",
          "request_id": "suw5YzZ8MB7EgAC"
        }
  recorded_at: Tue, 23 Feb 2021 16:32:16 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-b65d303a-9f67-471f-8931-765b6e9c5d33","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-070463d4-df6f-4228-a2b7-49a1d2fa8f9f",
          "item_id": "VRpj4egDQwu3PzmVyReDIxzPmmDgPki6lnEq3",
          "request_id": "Ckdd8ex7cr9ZEsS"
        }
  recorded_at: Tue, 23 Feb 2021 16:32:17 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-070463d4-df6f-4228-a2b7-49a1d2fa8f9f","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "VRpj4egDQwu3PzmVyReDIxzPmmDgPki6lnEq3",
            "update_type": "background",
            "webhook": ""
          },
          "request_id": "lsn4PhEXYNARf17",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Tue, 23 Feb 2021 16:32:18 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/stripe/bank_account_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-070463d4-df6f-4228-a2b7-49a1d2fa8f9f","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "documentation_url": "https://plaid.com/docs/?ref=error#invalid-request-errors",
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a valid account ID",
          "error_type": "INVALID_REQUEST",
          "request_id": "Y0APfsGunxLw55B",
          "suggested_action": null
        }
  recorded_at: Tue, 23 Feb 2021 16:32:19 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-070463d4-df6f-4228-a2b7-49a1d2fa8f9f","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "request_id": "JMMLNqnBPj3ofcl"
        }
  recorded_at: Tue, 23 Feb 2021 16:32:21 GMT
recorded_with: VCR 4.0.0
