---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","options":{"include_optional_metadata":true},"public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "public_key must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "EWysHF6QG44rMO9",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:26 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","options":{"include_optional_metadata":true},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institution": {
            "country_codes": [
              "US"
            ],
            "credentials": [
              {
                "label": "Username",
                "name": "username",
                "type": "text"
              },
              {
                "label": "Password",
                "name": "password",
                "type": "password"
              }
            ],
            "has_mfa": true,
            "input_spec": "fixed",
            "institution_id": "ins_109508",
            "logo": null,
            "mfa": [
              "code",
              "list",
              "questions",
              "selections"
            ],
            "mfa_code_type": "numeric",
            "name": "First Platypus Bank",
            "primary_color": "#0075a3",
            "products": [
              "assets",
              "auth",
              "balance",
              "transactions",
              "credit_details",
              "holdings",
              "income",
              "identity",
              "investments",
              "liabilities"
            ],
            "url": "https://www.plaid.com/"
          },
          "request_id": "unvPGmUQNzxvEh9"
        }
  recorded_at: Wed, 19 Jun 2019 18:06:32 GMT
[...]
