---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["credit_details"],"options":{},"public_key":"f149f72f9caae670aa7e1386b10103"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-dc11bb14-d231-47aa-97c7-0ecaa6b6a2da",
          "request_id": "0oStYa5vSqOz6L3"
        }
  recorded_at: Fri, 24 Jan 2020 22:08:51 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-dc11bb14-d231-47aa-97c7-0ecaa6b6a2da","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-c996c6c9-e573-4454-a30b-ce602f44f8e2",
          "item_id": "rnlvMXkyBph38G9mqeBNIWAaWQmvgjFlAeDar",
          "request_id": "MemzgJaYVXPLUzF"
        }
  recorded_at: Fri, 24 Jan 2020 22:08:51 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c996c6c9-e573-4454-a30b-ce602f44f8e2","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "identity",
              "income",
              "investments",
              "investments_auth",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "rnlvMXkyBph38G9mqeBNIWAaWQmvgjFlAeDar",
            "webhook": ""
          },
          "request_id": "hHgFVOhQMDCgRRE",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:08:52 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c996c6c9-e573-4454-a30b-ce602f44f8e2","options":{},"client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "WDE3Wwvg1mT5ZkzveWyaTwlnLg5Z9nClRwK6w",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "AErJz58bDahZxKw4geD3uaVrJ56mnrH186E9o",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c996c6c9-e573-4454-a30b-ce602f44f8e2","options":{"account_ids":["nnov7ma1qZhKLG1ABqeDh7gbAMywqbU6oKwAZ"]},"client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "nnov7ma1qZhKLG1ABqeDh7gbAMywqbU6oKwAZ",
              "balances": {
                "available": null,
                "current": 410,
                "iso_currency_code": "USD",
                "limit": 2000,
                "unofficial_currency_code": null
              },
              "mask": "3333",
              "name": "Plaid Credit Card",
              "official_name": "Plaid Diamond 12.5% APR Interest Credit Card",
              "subtype": "credit card",
              "type": "credit"
            }
          ],
          "credit_details": [
            {
              "account_id": "nnov7ma1qZhKLG1ABqeDh7gbAMywqbU6oKwAZ",
              "aprs": {
                "balance_transfers": {
                  "apr": 0.125,
                  "balance_subject_to_apr": 1200,
                  "interest_charge_amount": 150
                },
                "cash_advances": {
                  "apr": 0.165,
                  "balance_subject_to_apr": 0,
                  "interest_charge_amount": 0
                },
                "purchases": {
                  "apr": 0.125,
                  "balance_subject_to_apr": 1650,
                  "interest_charge_amount": 206.25
                }
              },
              "last_payment_amount": 875,
              "last_payment_date": "2016-09-13T00:00:00Z",
              "last_statement_balance": 3450,
              "last_statement_date": "2016-10-01T00:00:00Z",
              "minimum_payment_amount": 800,
              "next_bill_due_date": "2016-10-15T00:00:00Z"
            }
          ],
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "identity",
              "income",
              "investments",
              "investments_auth",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "rnlvMXkyBph38G9mqeBNIWAaWQmvgjFlAeDar",
            "webhook": ""
          },
          "request_id": "nGmaUoCkV1z7OVY"
        }
  recorded_at: Fri, 24 Jan 2020 22:08:52 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c996c6c9-e573-4454-a30b-ce602f44f8e2","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "ntBtiI3sdFqrSl4"
        }
  recorded_at: Fri, 24 Jan 2020 22:08:53 GMT
recorded_with: VCR 4.0.0
