---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_1","initial_products":["income"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-b5d9ce8d-df05-4e70-b425-179f688b3655",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "transactions"
            ],
            "billed_products": [
              "income"
            ],
            "error": null,
            "institution_id": "ins_1",
            "item_id": "bnGn6zX87pTzqPxqK5KAh6pbPXp9gLHvb3PrG",
            "webhook": ""
          },
          "request_id": "XAcv6"
        }
  recorded_at: Wed, 12 Jul 2017 12:34:32 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/income/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b5d9ce8d-df05-4e70-b425-179f688b3655","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ITEM_ERROR",
          "request_id": "GZ8wR"
        }
  recorded_at: Wed, 12 Jul 2017 12:34:34 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/delete
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b5d9ce8d-df05-4e70-b425-179f688b3655","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "9aIv9"
        }
  recorded_at: Wed, 12 Jul 2017 12:34:35 GMT
recorded_with: VCR 3.0.3
