---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12"}},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-98cc9cc3-2102-411a-a716-0376838d8559",
          "request_id": "Thmnvxnc4Ok3gpA"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:29 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-98cc9cc3-2102-411a-a716-0376838d8559","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-3623dcbd-0082-45b3-9228-c77ef77bdaad",
          "item_id": "pZa8bq4nwbH6xaK7b5dRSKXledNyDpiL4N7dK",
          "request_id": "zL23DGnD41rrSrL"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:29 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3623dcbd-0082-45b3-9228-c77ef77bdaad","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments_auth",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "pZa8bq4nwbH6xaK7b5dRSKXledNyDpiL4N7dK",
            "webhook": ""
          },
          "request_id": "k9pAyuEfPIdl2km",
          "status": {
            "investments": {
              "last_failed_update": null,
              "last_successful_update": "2020-01-24T22:07:28.762Z"
            },
            "last_webhook": null
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:07:29 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/holdings/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3623dcbd-0082-45b3-9228-c77ef77bdaad","options":{"account_ids":"ABCDEFG1234567"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "options.account_ids must be a non-empty array of valid account ids",
          "error_type": "INVALID_REQUEST",
          "request_id": "U6UWHRjv0aQgIEx",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 22:07:30 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3623dcbd-0082-45b3-9228-c77ef77bdaad","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "AZOJoOhoMChmoib"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:30 GMT
recorded_with: VCR 4.0.0
