---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"mfa_selections"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 210
      message: status code 210
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-ec729128-d92b-4a50-b700-fc4f743a5e8f",
          "device": null,
          "device_list": null,
          "flexible_input_specs": null,
          "mfa_type": "selections",
          "questions": null,
          "request_id": "OG9P5F04gC59Zq9",
          "selections": [
            {
              "answers": [
                "tomato",
                "potato"
              ],
              "question": "You say tomato, I say...?"
            },
            {
              "answers": [
                "ketchup",
                "mustard"
              ],
              "question": "Ketchup or mustard?"
            }
          ]
        }
  recorded_at: Wed, 22 May 2019 19:10:48 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/mfa
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ec729128-d92b-4a50-b700-fc4f743a5e8f","mfa_type":"selections","responses":["tomato","ketchup"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "1jG9mm6WdPTPzz1ekLnKfxr5p7gaXqC59o8y4",
            "webhook": ""
          },
          "request_id": "PT03TpDccOVQibz"
        }
  recorded_at: Wed, 22 May 2019 19:10:49 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ec729128-d92b-4a50-b700-fc4f743a5e8f","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "2B4euB7MtDdwpFF"
        }
  recorded_at: Wed, 22 May 2019 19:10:49 GMT
recorded_with: VCR 4.0.0
