---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-44d4d661-3f8c-406c-b9a9-f299b98d3c35",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "zKw43zyLgnT3EzXokn1qCyQJPka88NSoK4LdV",
            "webhook": ""
          },
          "request_id": "bsNx04siSqI1vWC"
        }
  recorded_at: Wed, 12 Jun 2019 05:02:21 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/holdings/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-44d4d661-3f8c-406c-b9a9-f299b98d3c35","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "NKjeWPkXpATA4nog5KvZcge3EJraJyFWD5N9z",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "PzZyG7nVgmSqPenr5JBvir1ZRDzaDNc7MWmgb",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/holdings/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-44d4d661-3f8c-406c-b9a9-f299b98d3c35","options":{"account_ids":["QBGenZby89SwjgnG5d18t41VvpRlpPFp87Avw"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "QBGenZby89SwjgnG5d18t41VvpRlpPFp87Avw",
              "balances": {
                "available": null,
                "current": 320.75,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "5555",
              "name": "Plaid IRA",
              "official_name": null,
              "subtype": "ira",
              "type": "investment"
            }
          ],
          "holdings": [
            {
              "account_id": "QBGenZby89SwjgnG5d18t41VvpRlpPFp87Avw",
              "cost_basis": 1,
              "institution_price": 1,
              "institution_price_as_of": null,
              "institution_value": 0.01,
              "iso_currency_code": "USD",
              "quantity": 0.01,
              "security_id": "d6ePmbPxgWCWmMVv66q9iPV94n91vMtov5Are",
              "unofficial_currency_code": null
            },
            {
              "account_id": "QBGenZby89SwjgnG5d18t41VvpRlpPFp87Avw",
              "cost_basis": 0.01,
              "institution_price": 0.011,
              "institution_price_as_of": null,
              "institution_value": 110,
              "iso_currency_code": "USD",
              "quantity": 10000,
              "security_id": "8E4L9XLl6MudjEpwPAAgivmdZRdBPJuvMPlPb",
     [...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-44d4d661-3f8c-406c-b9a9-f299b98d3c35","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "hbu9eeJxzf8uopI"
        }
  recorded_at: Wed, 12 Jun 2019 05:02:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12"}},"public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "public_key must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "gZ5069CeC3sHMWU",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:03 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-ce676cc1-0bc7-44ce-871a-c467ad88a7e8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-abd873d4-335c-47cb-b873-4061f3473f57",
          "item_id": "pn9XBMkVZdc9eNyRmdGKtronoqPPGXiLg3Azo",
          "request_id": "IXMqNOwej6ARSR1"
        }
  recorded_at: Wed, 19 Jun 2019 17:59:22 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-abd873d4-335c-47cb-b873-4061f3473f57","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "pn9XBMkVZdc9eNyRmdGKtronoqPPGXiLg3Azo",
            "webhook": ""
          },
          "request_id": "QVdIGEDtJhyrzBl",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 17:59:22 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-72ef0636-ffe2-4fa6-bdea-a13ae2907597","client_id":"58b9a231bdc6a453f37c338f","secret":"e60cac68bf07eba47e819b9ac45e01"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "Jvj0FkYwHXR47mm"
        }
  recorded_at: Wed, 19 Jun 2019 19:49:03 GMT
recorded_with: VCR 4.0.0
