---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["identity"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-c74d1959-cb66-4b02-b4e2-2f1bab80ebe1",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "income",
              "transactions"
            ],
            "billed_products": [
              "identity"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "7qdDm78Qdkhy7qQKj15xCMvjZB84eesgP4KPg",
            "webhook": ""
          },
          "request_id": "kd2I0d2VgOv5BVS"
        }
  recorded_at: Wed, 20 Mar 2019 15:45:08 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/identity/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c74d1959-cb66-4b02-b4e2-2f1bab80ebe1","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "R3kD6vRVkntZAJVnly87T9WvNPm3RguRj4Kk1",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "6lxE5jomxDH1Q5JMq7XpfVA6WKlXgZigJ3WKM",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c74d1959-cb66-4b02-b4e2-2f1bab80ebe1","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "q0oOELemh5ByZs8"
        }
  recorded_at: Wed, 20 Mar 2019 15:45:09 GMT
recorded_with: VCR 4.0.0
