---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get
    body:
      encoding: UTF-8
      string: '{"count":3,"offset":1,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institutions": [
            {
              "country_codes": [
                "GB"
              ],
              "credentials": [
                {
                  "label": "Username",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
              ],
              "has_mfa": true,
              "input_spec": "fixed",
              "institution_id": "ins_119371",
              "mfa": [
                "code",
                "list",
                "questions",
                "selections"
              ],
              "mfa_code_type": "numeric",
              "name": "Aegon (Online Services)",
              "products": [
                "assets",
                "balance",
                "transactions",
                "investments"
              ],
              "routing_numbers": []
            },
            {
              "country_codes": [
                "US"
              ],
              "credentials": [
                {
                  "label": "Login ID",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
              ],
              "has_mfa": true,
              "input[...]
