---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/get
    body:
      encoding: UTF-8
      string: '{"link_token":"link-sandbox-d3759def-cf6a-4f16-8e4f-16512989cc11","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "created_at": "2020-09-08T16:38:29Z",
          "expiration": "2020-09-08T20:38:30Z",
          "link_token": "link-sandbox-d3759def-cf6a-4f16-8e4f-16512989cc11",
          "metadata": {
            "account_filters": null,
            "client_name": "Plaid Test",
            "country_codes": [
              "GB"
            ],
            "initial_products": [
              "auth",
              "transactions"
            ],
            "language": "en",
            "redirect_uri": null,
            "webhook": null
          },
          "request_id": "eFSCxLu5VbccWkr"
        }
  recorded_at: Tue, 08 Sep 2020 16:38:30 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id"},"client_name":"Plaid
        Test","products":["auth","transactions"],"country_codes":["GB"],"language":"en","webhook":null,"access_token":null,"link_customization_name":null,"redirect_uri":null,"android_package_name":null,"account_filters":null,"cross_app_item_add":null,"payment_initiation":null,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2020-09-08T20:39:25Z",
          "link_token": "link-sandbox-e6c28663-bbf7-45a6-953f-70692c2725f7",
          "request_id": "BGc8MNjf2NbbUDF"
        }
  recorded_at: Tue, 08 Sep 2020 16:39:25 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/get
    body:
      encoding: UTF-8
      string: '{"link_token":"link-sandbox-9451e912-9eeb-4462-8192-3912c2dd7b6f","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "created_at": "2020-09-09T02:48:51Z",
          "expiration": "2020-09-09T06:48:52Z",
          "link_token": "link-sandbox-9451e912-9eeb-4462-8192-3912c2dd7b6f",
          "metadata": {
            "account_filters": {
              "depository": {
                "account_subtypes": [
                  "checking",
                  "savings"
                ]
              }
            },
            "client_name": "Plaid Test",
            "country_codes": [
              "GB"
            ],
            "initial_products": [
              "auth",
              "transactions"
            ],
            "language": "en",
            "redirect_uri": null,
            "webhook": "https://sample-webhook.com"
          },
          "request_id": "5g3QghhThVXBrsG"
        }
  recorded_at: Wed, 09 Sep 2020 02:48:52 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/get
    body:
      encoding: UTF-8
      string: '{"link_token":"link-sandbox-9ee8ac7f-caaa-4a97-b215-3ef491ba8b71","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "created_at": "2020-09-09T02:57:04Z",
          "expiration": "2020-09-09T06:57:04Z",
          "link_token": "link-sandbox-9ee8ac7f-caaa-4a97-b215-3ef491ba8b71",
          "metadata": {
            "account_filters": {
              "depository": {
                "account_subtypes": [
                  "checking",
                  "savings"
                ]
              }
            },
            "client_name": "Plaid Test",
            "country_codes": [
              "GB"
            ],
            "initial_products": [
              "auth",
              "transactions"
            ],
            "language": "en",
            "redirect_uri": null,
            "webhook": "https://sample-webhook.com"
          },
          "request_id": "6RN7o6eU0jUzHtN"
        }
  recorded_at: Wed, 09 Sep 2020 02:57:04 GMT
recorded_with: VCR 4.0.0
