---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ABCDEFG1234567","public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_INSTITUTION",
          "error_message": "invalid institution_id provided",
          "error_type": "INVALID_INPUT",
          "request_id": "3hcqF"
        }
  recorded_at: Fri, 16 Mar 2018 02:21:00 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ABCDEFG1234567","public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_INSTITUTION",
          "error_message": "invalid institution_id provided",
          "error_type": "INVALID_INPUT",
          "request_id": "pmblT7UctIHUxHb"
        }
  recorded_at: Wed, 20 Mar 2019 03:14:58 GMT
recorded_with: VCR 4.0.0
