---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-c073b378-f125-4d36-8219-c135f61f0b12",
          "item": {
            "available_products": [
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "mpVjQWXDLycPdbdoVW7DFl9LorK3kQfxdLDAdG",
            "webhook": ""
          },
          "request_id": "1JlLq"
        }
  recorded_at: Fri, 16 Mar 2018 12:08:07 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/apex/processor_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c073b378-f125-4d36-8219-c135f61f0b12","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "hn1ID"
        }
  recorded_at: Fri, 16 Mar 2018 12:08:08 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c073b378-f125-4d36-8219-c135f61f0b12","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "5W4RF"
        }
  recorded_at: Fri, 16 Mar 2018 12:08:11 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/apex/processor_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b80810c1-6d5a-43d0-b800-9f27d3f51e6d","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "KrJcm3X9SUds4BQ",
          "suggested_action": null
        }
  recorded_at: Thu, 16 May 2019 06:17:39 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b9668385-5218-49ae-898a-96bb585e19f5","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "xYaRuUDZQdqp8DJ"
        }
  recorded_at: Thu, 16 May 2019 06:40:40 GMT
recorded_with: VCR 4.0.0
