---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/update_version
    body:
      encoding: UTF-8
      string: '{"access_token_v1":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "access_token_v1 must be a non-empty, 160 character, hexadecimal string",
          "error_type": "INVALID_REQUEST",
          "request_id": "uBSl8rgQCgbzRSy"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:02 GMT
recorded_with: VCR 4.0.0
