---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{"webhook":"https://httpstat.us/200"},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "public_token": "public-sandbox-89601779-a952-4ec8-b1d5-12ca6b4badf7",
          "request_id": "OIBRI"
        }
  recorded_at: Wed, 23 May 2018 03:16:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-89601779-a952-4ec8-b1d5-12ca6b4badf7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-6a505352-6c5c-45de-b1a1-c9764ed7d18b",
          "item_id": "qMkLnnJqQpIqemgGw8akTA6a1azaD9S4g85NQ",
          "request_id": "XaeP6"
        }
  recorded_at: Fri, 16 Mar 2018 02:18:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/item/fire_webhook
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-6a505352-6c5c-45de-b1a1-c9764ed7d18b","webhook_code":"DEFAULT_UPDATE","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "webhook_fired": true,
          "request_id": "XaeP6"
        }
  recorded_at: Fri, 16 Mar 2018 02:18:25 GMT
recorded_with: VCR 3.0.3
