---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["transactions"],"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institutions": [
            {
              "country_codes": [
                "US"
              ],
              "credentials": [
                {
                  "label": "Username",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
              ],
              "has_mfa": true,
              "input_spec": "fixed",
              "institution_id": "ins_109508",
              "mfa": [
                "code",
                "list",
                "questions",
                "selections"
              ],
              "mfa_code_type": "numeric",
              "name": "First Platypus Bank",
              "products": [
                "assets",
                "auth",
                "balance",
                "transactions",
                "credit_details",
                "holdings",
                "income",
                "identity"
              ]
            }
          ],
          "request_id": "8Kdnh6dsPg8DHeO"
        }
  recorded_at: Tue, 21 May 2019 18:25:48 GMT
recorded_with: VCR 4.0.0
