---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["credit_details"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-df679be0-dbee-434c-8b55-d3f7120baf76",
          "request_id": "q93y6fULI9DESxp"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:03 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-df679be0-dbee-434c-8b55-d3f7120baf76","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-f9f70326-da7f-4074-9e01-d9cd2107ce76",
          "item_id": "kn46wDNJDgt4brbzAVVksZnaBxm5NBuWn5WPp",
          "request_id": "EqZoXEDV0m6lb8N"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:03 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f9f70326-da7f-4074-9e01-d9cd2107ce76","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "kn46wDNJDgt4brbzAVVksZnaBxm5NBuWn5WPp",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "hP9orlcwygrApzp",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:57:04 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "O45JCfrW1ZAkQQj",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:57:04 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f9f70326-da7f-4074-9e01-d9cd2107ce76","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "uE65EEZ1nctM55p"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:05 GMT
recorded_with: VCR 4.0.0
