---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01","await_results":true},"webhook":"https://plaid.com/webhook-test"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-57bd5a34-7c6d-414b-8983-05136eb7e76e",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "KE3PxEnXb8cqkdVvZjkDCpmm6zBj3xcV83Bv5",
            "webhook": "https://plaid.com/webhook-test"
          },
          "request_id": "Sd8JmynpjkuFTux"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:16 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-57bd5a34-7c6d-414b-8983-05136eb7e76e","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "OC52N6Y65S1F7a2"
        }
  recorded_at: Wed, 20 Mar 2019 15:44:17 GMT
recorded_with: VCR 4.0.0
