---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-468a9295-9a63-4b3f-ab8b-26498cdc1f23",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "qg5bWzZbLWF4pXNe8JGrCEEwQaVRNmtN5kEbr",
            "webhook": ""
          },
          "request_id": "GwkkD"
        }
  recorded_at: Wed, 12 Jul 2017 13:09:59 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-468a9295-9a63-4b3f-ab8b-26498cdc1f23","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "expiration": "2017-07-12T13:40:00Z",
          "public_token": "public-sandbox-2a5d3936-1ad7-431d-ab8d-093e5a8af166",
          "request_id": "bssKM"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:00 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-2a5d3936-1ad7-431d-ab8d-093e5a8af166","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-468a9295-9a63-4b3f-ab8b-26498cdc1f23",
          "item_id": "qg5bWzZbLWF4pXNe8JGrCEEwQaVRNmtN5kEbr",
          "request_id": "TDgNJ"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:01 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-468a9295-9a63-4b3f-ab8b-26498cdc1f23","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "7qIRZ"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:03 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-a4d2cf16-8c86-4502-bf83-a0dfff9e0af9",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "Z1DEXGK8nkTvMn7L1bMbCZ7Gmn7QAWfnPZoJq",
            "webhook": ""
          },
          "request_id": "IZFJ3"
        }
  recorded_at: Tue, 10 Oct 2017 11:36:47 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-a4d2cf16-8c86-4502-bf83-a0dfff9e0af9","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "sLtty"
        }
  recorded_at: Tue, 10 Oct 2017 11:36:52 GMT
recorded_with: VCR 3.0.3
