---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["ABCDEFG1234567"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "initial_products contains invalid products: [\"ABCDEFG1234567\"]",
          "error_type": "INVALID_INPUT",
          "request_id": "ouav6eHNt6mY2oG",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:57:26 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["ABCDEFG1234567"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "documentation_url": "https://plaid.com/docs/?ref=error#invalid-input-errors",
          "error_code": "INVALID_PRODUCT",
          "error_message": "initial_products contains invalid products: [\"ABCDEFG1234567\"]",
          "error_type": "INVALID_INPUT",
          "request_id": "mfttZIsvalaOdax",
          "suggested_action": null
        }
  recorded_at: Wed, 03 Jun 2020 23:38:41 GMT
recorded_with: VCR 4.0.0
