---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["identity"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-a7a954e1-903b-47ac-aab1-873d2b6f3933",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "income",
              "transactions"
            ],
            "billed_products": [
              "identity"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "9Xp9W34vyWIDJR9kMMe3sGneVKLw9PiRpvNQz",
            "webhook": ""
          },
          "request_id": "AYeKdJdqtdSvHtf"
        }
  recorded_at: Tue, 21 May 2019 18:27:04 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/identity/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-a7a954e1-903b-47ac-aab1-873d2b6f3933","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "KXjlw8Ge3wIdEveaBB6bHRkLbdkvmkcVplXrW",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "owners": [
                {
                  "addresses": [
                    {
                      "data": {
                        "city": "Malakoff",
                        "country": null,
                        "postal_code": "14236",
                        "region": "NY",
                        "street": "2992 Cameron Road"
                      },
                      "primary": true
                    },
                    {
                      "data": {
                        "city": "San Matias",
                        "country": null,
                        "postal_code": "93405-2255",
                        "region": "CA",
                        "street": "2493 Leisure Lane"
                      },
                      "primary": false
                    }
                  ],
                  "emails": [
                    {
                      "data": "accountholder0@example.com",
                      "primary": true,
                      "type": "primary"
                    },
                    {
                      "data": "accountholder1@example.com",
                      "primary": false,
                      "type": "secondary"
                    },
                    {
                      "data": "extraordinarily.long.email.username.123456@reallylonghostname.com",
                      "primary": false,
                      "type": "other"
                    }
                  ],
                  "names": [
                    "Alberta Bobbeth Charleson"
                  ],
                  "phone_numbers": [
                    {
                      "data": "1112223333",
                      "primary": false,
                      "type": "home"
                    },
                    {
                      "data": "1112224444",
                      "primary": false,
                      "type": "work"
                    },
                    {
                      "data": "1112225555",
                      "primary": false,
                      "type": "mobile1"
                    }
                  ]
                }
              ],
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "rPlmX8ALNXH5ey4QxxDbf4zp8GzL6zulJrRNr",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standa[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-a7a954e1-903b-47ac-aab1-873d2b6f3933","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "X9qK2CV5Txg7dSx"
        }
  recorded_at: Tue, 21 May 2019 18:27:04 GMT
recorded_with: VCR 4.0.0
