---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["auth"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-5991f1d6-336a-4aab-9750-571fcae793ab",
          "request_id": "Dw8PgFGxZ7xUHNd"
        }
  recorded_at: Tue, 27 Aug 2019 19:25:04 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-5991f1d6-336a-4aab-9750-571fcae793ab","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-35a47e1e-8a3b-450c-a7fe-ce74507298f9",
          "item_id": "jqGgb9aqR7f99kKoG1w7T8mMv94Jo3i1mqrLQ",
          "request_id": "q7tSvDE1z2uoiuO"
        }
  recorded_at: Tue, 27 Aug 2019 19:25:05 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-35a47e1e-8a3b-450c-a7fe-ce74507298f9","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "jqGgb9aqR7f99kKoG1w7T8mMv94Jo3i1mqrLQ",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "H7agakvjNaijSmi",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Tue, 27 Aug 2019 19:25:06 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/ocrolus/processor_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-35a47e1e-8a3b-450c-a7fe-ce74507298f9","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "zCdYHSGI3Rl9LWm",
          "suggested_action": null
        }
  recorded_at: Tue, 27 Aug 2019 19:25:07 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-35a47e1e-8a3b-450c-a7fe-ce74507298f9","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "tShdH0DoFIxeG9q"
        }
  recorded_at: Tue, 27 Aug 2019 19:25:07 GMT
recorded_with: VCR 4.0.0
