---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["assets"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-3a975303-65ff-44fc-88c1-125114ed10c9",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "assets"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "AJeRAGV9WAcyaAQmwXKXfj5Keawkkrf1QpNA8",
            "webhook": ""
          },
          "request_id": "HSGwUcXeKYHXF5O"
        }
  recorded_at: Tue, 21 May 2019 18:24:44 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/create
    body:
      encoding: UTF-8
      string: '{"access_tokens":["access-sandbox-3a975303-65ff-44fc-88c1-125114ed10c9"],"days_requested":60,"options":{"client_report_id":"123","webhook":"https://www.example.com","user":{"client_user_id":"789","first_name":"Jane","middle_name":"Leah","last_name":"Doe","ssn":"123-45-6789","phone_number":"(555)
        123-4567","email":"jane.doe@example.com"}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "a27d38df-03d5-441c-a962-2321750873d8",
          "asset_report_token": "assets-sandbox-241b86a1-ba1a-4a07-8a6d-17a81e80641c",
          "request_id": "UsO7x5Rt0Y7oP0H"
        }
  recorded_at: Tue, 21 May 2019 18:24:45 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-241b86a1-ba1a-4a07-8a6d-17a81e80641c","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ASSET_REPORT_ERROR",
          "request_id": "02d327pZafmfF6R",
          "suggested_action": null
        }
  recorded_at: Tue, 21 May 2019 18:24:45 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-241b86a1-ba1a-4a07-8a6d-17a81e80641c","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "a27d38df-03d5-441c-a962-2321750873d8",
            "client_report_id": "123",
            "date_generated": "2019-05-21T18:24:47Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "7oBEZMbVNZUl8A6RQbvbfVj5xoLAkvtgWmaKJ",
                    "balances": {
                      "available": null,
                      "current": 1000,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
                      {
                        "current": 1000,
                        "date": "2019-05-20",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 2000,
                        "date": "2019-05-19",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 2000,
                        "date": "2019-05-[...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/pdf/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-241b86a1-ba1a-4a07-8a6d-17a81e80641c","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/pdf
      plaid-request-id:
      - ZTj8htLj5yHecO7
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        JVBERi0xLjQKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIK
        L1Jlc291cmNlcyAyIDAgUgovR3JvdXAgPDwvVHlwZSAvR3JvdXAgL1MgL1Ry
        YW5zcGFyZW5jeSAvQ1MgL0RldmljZVJHQj4+Ci9Db250ZW50cyA0IDAgUj4+
        CmVuZG9iago0IDAgb2JqCjw8L0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0
        aCAxODM4Pj4Kc3RyZWFtCngBpJldb9vG0sfv9SnmwgUaIM9mX/ly99ixG7io
        T11Ll71hLSZRIpIJJT[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/filter
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-241b86a1-ba1a-4a07-8a6d-17a81e80641c","account_ids_to_exclude":["7oBEZMbVNZUl8A6RQbvbfVj5xoLAkvtgWmaKJ"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "b7bcfe73-d978-42bf-8111-86fe079b6180",
          "asset_report_token": "assets-sandbox-06d007d6-694d-46b2-88a9-b8afaccae9de",
          "request_id": "UovHT3QeP15VmW6"
        }
  recorded_at: Tue, 21 May 2019 18:24:49 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-06d007d6-694d-46b2-88a9-b8afaccae9de","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "b7bcfe73-d978-42bf-8111-86fe079b6180",
            "client_report_id": "123",
            "date_generated": "2019-05-21T18:24:49Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "MJA5r34ZVrc7prgZJo9oFngba65AjDC9BE58M",
                    "balances": {
                      "available": null,
                      "current": 22258.294,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [],
                    "mask": "6666",
                    "name": "Plaid 401k",
                    "official_name": null,
                    "owners": [
                      {
                        "addresses": [
                          {
                            "data": {
                              "city": "Malakoff",
                              "state": "NY",
                              "street": "2992 Cameron Road",
                              "zip": "14236"
                            },
                            "primary": true
                          },
                          {
                            "data": {
                              "city": "San Matias",
                              "state": "CA",
                              "street": "2493 Leisure Lane",
                              "zip": "93405-2255"
                            },
                            "primary": false
                          }
                        ],
                        "emails": [
                          {
                            "data": "accountholder0@example.com",
                            "primary": true,
                            "type": "primary"
                          },
                          {
                            "data": "accountholder1@example.com",
                            "primary": false,
                            "type": "secondary"
                          },
                          {
                            "data": "extraordinarily.long.email.username.123456@reallylonghostname.com",
                            "primary": false,
                            "type": "other"
                          }
                        ],
                        "names": [
                          "Alberta Bobbeth Charleson"
                        ],
                        "phone_numbers": [
                          {
                            "data": "1112223333",
                            "primary": false,
                            "type": "home"
                          },
                          {
                            "data": "1112224444",
                            "primary": false,
                            "type": "work"
                          },
                          {
                            "data": "1112225555",
                            "primary": false,
                            "type": "mobile1"
                          }
                        ]
                      }
                    ],
                    "subtype": "401k",
                    "transactions": [],
                    "type": "brokerage"
                  },
                  {
                    "account_id": "PJq53aWEA3con3LXEZbZFz7GPqnarVu7D9nrL",
                    "balances": {
                      "available": 100,
                      "current": 110,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
            [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/refresh
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-241b86a1-ba1a-4a07-8a6d-17a81e80641c","days_requested":10,"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "87f18fcb-eab1-4b1a-9261-5ee4d6c72736",
          "asset_report_token": "assets-sandbox-619c936f-2e98-435e-af1c-d22f8dc66d6d",
          "request_id": "K408tjtefdIf8Os"
        }
  recorded_at: Tue, 21 May 2019 18:24:50 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/create
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-241b86a1-ba1a-4a07-8a6d-17a81e80641c","auditor_id":"PLAID_RUBY_CLIENT_ID","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "audit_copy_token": "a-sandbox-kh54soleynecfafrrwc5mruzk4",
          "request_id": "aNrn3CgcLet2z5F"
        }
  recorded_at: Tue, 21 May 2019 18:24:53 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/get
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-kh54soleynecfafrrwc5mruzk4","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/remove
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-kh54soleynecfafrrwc5mruzk4","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "Wzb72h06jJDlaFi"
        }
  recorded_at: Tue, 21 May 2019 18:24:54 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/remove
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-241b86a1-ba1a-4a07-8a6d-17a81e80641c","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "NALoSNX9Cq2iewj"
        }
  recorded_at: Tue, 21 May 2019 18:24:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3a975303-65ff-44fc-88c1-125114ed10c9","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "x3YjTZYTftP34kd"
        }
  recorded_at: Tue, 21 May 2019 18:24:55 GMT
recorded_with: VCR 4.0.0
