---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-8b7c5227-aab2-4575-a704-7ff3f3ec8131",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "eWvveLVQKKuPVe7J4zVbFrE11GvlbJHn9VPR9",
            "webhook": ""
          },
          "request_id": "LkkkH"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:39 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/update_version
    body:
      encoding: UTF-8
      string: '{"access_token_v1":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "access_token_v1 must be a non-empty, 160 character, hexadecimal string",
          "error_type": "INVALID_REQUEST",
          "request_id": "xNFxW"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:40 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-8b7c5227-aab2-4575-a704-7ff3f3ec8131","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "LWsAZ"
        }
  recorded_at: Wed, 12 Jul 2017 13:10:41 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-29c854f4-7ccd-4cd1-919c-4759ca3587fc",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "mxgP7bMLmwCb9v81WRojt1e685JpPXhLmQly9",
            "webhook": ""
          },
          "request_id": "lMeW0"
        }
  recorded_at: Tue, 10 Oct 2017 11:35:41 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-29c854f4-7ccd-4cd1-919c-4759ca3587fc","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "gT6hX"
        }
  recorded_at: Tue, 10 Oct 2017 11:35:45 GMT
recorded_with: VCR 3.0.3
