---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-85dfe7bc-b2aa-42ab-88ba-3f82abd3f61d",
          "item": {
            "available_products": [
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "KBKmAnJkmqiXz4Qdw96RSw9GpBm4nZTmoQM3G",
            "webhook": ""
          },
          "request_id": "uqQdH"
        }
  recorded_at: Wed, 12 Jul 2017 12:26:30 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/auth/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-85dfe7bc-b2aa-42ab-88ba-3f82abd3f61d","options":{"account_ids":"ABCDEFG1234567"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "options.account_ids must be a non-empty array of valid account ids",
          "error_type": "INVALID_REQUEST",
          "request_id": "csFhG"
        }
  recorded_at: Wed, 12 Jul 2017 12:26:31 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/delete
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-85dfe7bc-b2aa-42ab-88ba-3f82abd3f61d","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "db6zL"
        }
  recorded_at: Wed, 12 Jul 2017 12:26:33 GMT
recorded_with: VCR 3.0.3
