---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "jy2kwHD5hhkbzUm",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:57:20 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "documentation_url": "https://plaid.com/docs/?ref=error#invalid-input-errors",
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "qHBXA5Q1TthwmuL",
          "suggested_action": null
        }
  recorded_at: Wed, 03 Jun 2020 23:38:58 GMT
recorded_with: VCR 4.0.0
