---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["credit_details"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-2b398c50-a3b6-4ab5-b85f-059d207b9c33",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "n7gjW9ZqpAhLwgBkPAN9sVRDVPl8epf6kmyBx",
            "webhook": ""
          },
          "request_id": "x1AmOmJddXCVQ8o"
        }
  recorded_at: Wed, 20 Mar 2019 15:46:05 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2b398c50-a3b6-4ab5-b85f-059d207b9c33","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "VEV9KmbM1qT3lGNXLxJpipD7wkJwGMiWM3D3z",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "wkyor1W4AqIneL67pmPMIkwXGbPGDnUrXBQB5",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2b398c50-a3b6-4ab5-b85f-059d207b9c33","options":{"account_ids":["JjAmoWM3aVs7GnRZdBvNClvx7jX7Z3td8VnVq"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "JjAmoWM3aVs7GnRZdBvNClvx7jX7Z3td8VnVq",
              "balances": {
                "available": null,
                "current": 410,
                "iso_currency_code": "USD",
                "limit": 2000,
                "unofficial_currency_code": null
              },
              "mask": "3333",
              "name": "Plaid Credit Card",
              "official_name": "Plaid Diamond 12.5% APR Interest Credit Card",
              "subtype": "credit card",
              "type": "credit"
            }
          ],
          "credit_details": [
            {
              "account_id": "JjAmoWM3aVs7GnRZdBvNClvx7jX7Z3td8VnVq",
              "aprs": {
                "balance_transfers": {
                  "apr": 0.125,
                  "balance_subject_to_apr": 1200,
                  "interest_charge_amount": 150
                },
                "cash_advances": {
                  "apr": 0.165,
                  "balance_subject_to_apr": 0,
                  "interest_charge_amount": 0
                },
                "purchases": {
                  "apr": 0.125,
                  "balance_subject_to_apr": 1650,
                  "interest_charge_amount": 206.25
                }
              },
              "last_payment_amount": 875,
              "last_payment_date": "2016-09-13T00:00:00Z",
              "last_statement_balance": 3450,
              "last_statement_date": "2016-10-01T00:00:00Z",
              "minimum_payment_amount": 800,
              "next_bill_due_date": "2016-10-15T00:00:00Z"
            }
          ],
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "n7gjW9ZqpAhLwgBkPAN9sVRDVPl8epf6kmyBx",
            "webhook": ""
          },
          "request_id": "hG3zY3cmiMfzXHd"
        }
  recorded_at: Wed, 20 Mar 2019 15:46:06 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2b398c50-a3b6-4ab5-b85f-059d207b9c33","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "jcJFSub82c1NJJ5"
        }
  recorded_at: Wed, 20 Mar 2019 15:46:07 GMT
recorded_with: VCR 4.0.0
