---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get
    body:
      encoding: UTF-8
      string: '{"count":3,"offset":1,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institutions": [
            {
              "credentials": [
                {
                  "label": "User ID",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
              ],
              "has_mfa": false,
              "institution_id": "ins_10",
              "mfa": [],
              "name": "American Express",
              "products": [
                "assets",
                "balance",
                "transactions",
                "income"
              ]
            },
            {
              "credentials": [
                {
                  "label": "Online ID",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
             [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get
    body:
      encoding: UTF-8
      string: '{"count":3,"offset":1,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institutions": [
            {
              "credentials": [
                {
                  "label": "Login ID",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
              ],
              "has_mfa": true,
              "institution_id": "ins_113968",
              "mfa": [
                "questions"
              ],
              "mfa_code_type": "numeric",
              "name": "Amegy Bank of Texas",
              "products": [
                "assets",
                "auth",
                "balance",
                "transactions",
                "income"
              ]
            },
            {
              "credentials": [
                {
                  "label": "User ID",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
  [...]
[...]
