---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-56ec27a3-476a-438c-8850-cf5aa5d7e0b2",
          "item": {
            "available_products": [
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "Xyo3m8LwvVfwMPao86BJt3KlPKveoasxkaGlb",
            "webhook": ""
          },
          "request_id": "GJeLd"
        }
  recorded_at: Wed, 12 Jul 2017 12:25:59 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/auth/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-56ec27a3-476a-438c-8850-cf5aa5d7e0b2","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "nZ46N5qJaQfEzQLpXjk9cvnLGzDVqAf6WRLjn",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "bBpR5xbjvzczBrdqZ9PkT6wkxmVEbBFVZjMX1",
              "balances": {
                "available": 200,
                "current": 210,
                "limit": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
              "subtype": "savings",
              "type": "depository"
            },
            {
  [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/auth/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-56ec27a3-476a-438c-8850-cf5aa5d7e0b2","options":{"account_ids":["nZ46N5qJaQfEzQLpXjk9cvnLGzDVqAf6WRLjn"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "accounts": [
            {
              "account_id": "nZ46N5qJaQfEzQLpXjk9cvnLGzDVqAf6WRLjn",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            }
          ],
          "item": {
            "available_products": [
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "Xyo3m8LwvVfwMPao86BJt3KlPKveoasxkaGlb",
            "webhook": ""
          },
          "numbers": [
            {
              "account": "1111222233330000",
              "account_id": "nZ46N5qJaQfEzQLpXjk9cvnLGzDVqAf6WRLjn",
              "routing": "011401533",
              "wire_routing": "021000021"
            }
          ],
          "request_id": "E49yK"
        }
  recorded_at: Wed, 12 Jul 2017 12:26:02 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-56ec27a3-476a-438c-8850-cf5aa5d7e0b2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "fBQvB"
        }
  recorded_at: Wed, 12 Jul 2017 12:26:05 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-f1c5713b-8716-469d-98f1-9f030941f6e4",
          "item": {
            "available_products": [
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "gGGyNXX6R6h8qm83yyQeUBodVD6mrJHgV7G8K",
            "webhook": ""
          },
          "request_id": "KNmqn"
        }
  recorded_at: Tue, 10 Oct 2017 11:34:01 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f1c5713b-8716-469d-98f1-9f030941f6e4","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "qSfSE"
        }
  recorded_at: Tue, 10 Oct 2017 11:34:07 GMT
recorded_with: VCR 3.0.3
