---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":"ABCDEFG1234567","public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "products must either be null or a list of strings containing at least one valid product",
          "error_type": "INVALID_INPUT",
          "request_id": "gJkaC1aZ7stGGta",
          "suggested_action": null
        }
  recorded_at: Fri, 19 Jul 2019 21:23:35 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "documentation_url": "https://plaid.com/docs/?ref=error#invalid-input-errors",
          "error_code": "INVALID_PRODUCT",
          "error_message": "products must either be null or a list of strings containing at least one valid product",
          "error_type": "INVALID_INPUT",
          "request_id": "RMdeAsgT481789u",
          "suggested_action": null
        }
  recorded_at: Wed, 03 Jun 2020 23:39:24 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":"ABCDEFG1234567","country_codes":["US"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "documentation_url": "https://plaid.com/docs/?ref=error#invalid-input-errors",
          "error_code": "INVALID_PRODUCT",
          "error_message": "products must either be null or a list of strings containing at least one valid product",
          "error_type": "INVALID_INPUT",
          "request_id": "KhkMSgKv6WyJ9lv",
          "suggested_action": null
        }
  recorded_at: Wed, 30 Sep 2020 23:29:36 GMT
recorded_with: VCR 4.0.0
