---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      string: '{"query":"First Platypus Bank","products":["transactions"],"options":{"include_institution_data":true},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institutions": [
            {
              "credentials": [
                {
                  "label": "Username",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
              ],
              "has_mfa": true,
              "institution_id": "ins_109508",
              "logo": null,
              "mfa": [
                "code",
                "list",
                "questions",
                "selections"
              ],
              "name": "First Platypus Bank",
              "primary_color":  "#095aa6",
              "products": [
                "assets",
                "auth",
                "balance",
                "transactions",
                "credit_details",
                "income",
                "identity"
              ],
              "url": "https://plaid.com"
            },
            {
              "credentials": [
                {
                  "label": "Internet Banking ID",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Internet Banking Password",
                  "name": "password",
                  "type": "password"
                }
              ],
              "has_mfa": true,
              "institution_id": "ins_111296",
[...]
