---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["transactions"],"public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "public_key must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "chCR8F86KMJxw8A",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:25 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["transactions"],"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institutions": [
            {
              "country_codes": [
                "US"
              ],
              "credentials": [
                {
                  "label": "Username",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
              ],
              "has_mfa": true,
              "input_spec": "fixed",
              "institution_id": "ins_109508",
              "mfa": [
                "code",
                "list",
                "questions",
                "selections"
              ],
              "mfa_code_type": "numeric",
              "name": "First Platypus Bank",
              "products": [
                "assets",
                "auth",
                "balance",
                "transactions",
                "credit_details",
                "holdings",
                "income",
                "identity",
                "investments",
                "liabilities"
              ]
            }
          ],
          "request_id": "3If3xt4k8Gpax19"
        }
  recorded_at: Wed, 19 Jun 2019 18:06:33 GMT
[...]
