---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_bad","password":"pass_bad"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": "The provided credentials were not correct. Please try again.",
          "error_code": "INVALID_CREDENTIALS",
          "error_message": "the provided credentials were not correct",
          "error_type": "ITEM_ERROR",
          "request_id": "LkMLL"
        }
  recorded_at: Fri, 16 Mar 2018 02:19:44 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_bad","password":"pass_bad"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": "The provided credentials were not correct. Please try again.",
          "error_code": "INVALID_CREDENTIALS",
          "error_message": "the provided credentials were not correct",
          "error_type": "ITEM_ERROR",
          "request_id": "Xi1RnOWs81adrBW"
        }
  recorded_at: Fri, 16 Nov 2018 22:24:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_bad","password":"pass_bad"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": "The provided credentials were not correct. Please try again.",
          "error_code": "INVALID_CREDENTIALS",
          "error_message": "the provided credentials were not correct",
          "error_type": "ITEM_ERROR",
          "request_id": "yw5J9EHcJsRaRbo"
        }
  recorded_at: Fri, 16 Nov 2018 22:34:02 GMT
recorded_with: VCR 4.0.0
