---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["assets"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-9334be65-8e3d-4122-bda6-7342b327cb33",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "assets"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "ygJRpR8N7nHabjLblk8dIKp9XvWwddtyQ9gZv",
            "webhook": ""
          },
          "request_id": "d3QOlfzFkNLFDBx"
        }
  recorded_at: Thu, 16 May 2019 06:49:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/create
    body:
      encoding: UTF-8
      string: '{"access_tokens":["access-sandbox-9334be65-8e3d-4122-bda6-7342b327cb33"],"days_requested":60,"options":{"client_report_id":"123","webhook":"https://www.example.com","user":{"client_user_id":"789","first_name":"Jane","middle_name":"Leah","last_name":"Doe","ssn":"123-45-6789","phone_number":"(555)
        123-4567","email":"jane.doe@example.com"}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "45b86231-e0e1-4a9a-aa98-33ccce529619",
          "asset_report_token": "assets-sandbox-06d2e41f-74a1-44fc-a353-426bf0d29c5e",
          "request_id": "fBUNpOBLzjEiCpm"
        }
  recorded_at: Thu, 16 May 2019 06:49:24 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-06d2e41f-74a1-44fc-a353-426bf0d29c5e","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ASSET_REPORT_ERROR",
          "request_id": "GkXtgQTNhCBnUFh",
          "suggested_action": null
        }
  recorded_at: Thu, 16 May 2019 06:49:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-06d2e41f-74a1-44fc-a353-426bf0d29c5e","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "45b86231-e0e1-4a9a-aa98-33ccce529619",
            "client_report_id": "123",
            "date_generated": "2019-05-16T06:49:26Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "3akxNx9jRAsg5Rz5vMoeHEnb6Zn4N4UqANgq5",
                    "balances": {
                      "available": null,
                      "current": 1000,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
                      {
                        "current": 1000,
                        "date": "2019-05-15",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 1000,
                        "date": "2019-05-14",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 1000,
                        "date": "2019-05-[...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/pdf/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-06d2e41f-74a1-44fc-a353-426bf0d29c5e","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/pdf
      plaid-request-id:
      - kyrVjdJwE4Tl2Sw
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        JVBERi0xLjQKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIKL1Jlc291cmNlcyAyIDAgUgovR3JvdXAgPDwvVHlwZSAvR3JvdXAgL1MgL1RyYW5zcGFyZW5jeSAvQ1MgL0RldmljZVJHQj4+Ci9Db250ZW50cyA0IDAgUj4+CmVuZG9iago0IDAgb2JqCjw8L0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0aCAxODM3Pj4Kc3RyZWFtCngBpJndbttI0obPdRV14AEmQL5O//Ln7LNjT+DBeMdj6XBOOBaTKBHJhJKc9d6Yb2/RXdWsblPyeHcTwEAR5FPV9b7VbNMSfl1I+LJ[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/filter
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-06d2e41f-74a1-44fc-a353-426bf0d29c5e","account_ids_to_exclude":["3akxNx9jRAsg5Rz5vMoeHEnb6Zn4N4UqANgq5"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "743db141-0f0c-4cbb-8020-f270e97c7311",
          "asset_report_token": "assets-sandbox-aa2969b7-6f0c-47fd-8bad-61c28b2d40aa",
          "request_id": "yn24OEqBtOEkugy"
        }
  recorded_at: Thu, 16 May 2019 06:49:31 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-aa2969b7-6f0c-47fd-8bad-61c28b2d40aa","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "743db141-0f0c-4cbb-8020-f270e97c7311",
            "client_report_id": "123",
            "date_generated": "2019-05-16T06:49:31Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "44ydPdJ7R5CV1Ee1wzLaIzMxKNMRLRtdoEpdj",
                    "balances": {
                      "available": null,
                      "current": 22258.294,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [],
                    "mask": "6666",
                    "name": "Plaid 401k",
                    "official_name": null,
                    "owners": [
                      {
                        "addresses": [
                          {
                            "data": {
                              "city": "Malakoff",
                              "state": "NY",
                              "street": "2992 Cameron Road",
                              "zip": "14236"
                            },
                            "primary": true
                          },
                          {
                            "data": {
                              "city": "San Matias",
                              "state": "CA",
                              "street": "2493 Leisure Lane",
                              "zip": "93405-2255"
                            },
                            "primary": false
                          }
                        ],
                        "emails": [
                          {
                            "data": "accountholder0@example.com",
                            "primary": true,
                            "type": "primary"
                          },
                          {
                            "data": "accountholder1@example.com",
                            "primary": false,
                            "type": "secondary"
                          },
                          {
                            "data": "extraordinarily.long.email.username.123456@reallylonghostname.com",
                            "primary": false,
                            "type": "other"
                          }
                        ],
                        "names": [
                          "Alberta Bobbeth Charleson"
                        ],
                        "phone_numbers": [
                          {
                            "data": "1112223333",
                            "primary": false,
                            "type": "home"
                          },
                          {
                            "data": "1112224444",
                            "primary": false,
                            "type": "work"
                          },
                          {
                            "data": "1112225555",
                            "primary": false,
                            "type": "mobile1"
                          }
                        ]
                      }
                    ],
                    "subtype": "401k",
                    "transactions": [],
                    "type": "brokerage"
                  },
                  {
                    "account_id": "B8yWmW3Gjbco9Ev93eGNIMa19naJZJFwBJvwa",
                    "balances": {
                      "available": 200,
                      "current": 210,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
            [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/refresh
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-06d2e41f-74a1-44fc-a353-426bf0d29c5e","days_requested":10,"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "b503f640-4f96-4670-bc93-438aaa1e298e",
          "asset_report_token": "assets-sandbox-4b2fe055-8f54-4bab-8377-5ff7c6e8bf00",
          "request_id": "OyHkeEix2e3cmzF"
        }
  recorded_at: Thu, 16 May 2019 06:49:33 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/create
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-06d2e41f-74a1-44fc-a353-426bf0d29c5e","auditor_id":"PLAID_RUBY_CLIENT_ID","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "audit_copy_token": "a-sandbox-sxgclt5cnvdkrfvcfgp77mmmfa",
          "request_id": "s3bWeMdcPrW4Tdm"
        }
  recorded_at: Thu, 16 May 2019 06:49:38 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/get
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-sxgclt5cnvdkrfvcfgp77mmmfa","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/remove
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-sxgclt5cnvdkrfvcfgp77mmmfa","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "ZyeOiHVnvEwrEEc"
        }
  recorded_at: Thu, 16 May 2019 06:49:40 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/remove
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-06d2e41f-74a1-44fc-a353-426bf0d29c5e","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "nskMVPbC6bYiB1T"
        }
  recorded_at: Thu, 16 May 2019 06:49:41 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9334be65-8e3d-4122-bda6-7342b327cb33","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "EcXR1jWHr9WhpPg"
        }
  recorded_at: Thu, 16 May 2019 06:49:42 GMT
recorded_with: VCR 4.0.0
