---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-546c1e05-fe35-4ccf-b3f7-158031b51712",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "Rbbe5XlQdvcQeLVqXv3kiG9PD5lqPWURLg9w4",
            "webhook": ""
          },
          "request_id": "Pn8JS4evC2aw9z0"
        }
  recorded_at: Wed, 12 Jun 2019 05:02:24 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-546c1e05-fe35-4ccf-b3f7-158031b51712","start_date":"2019-05-28","end_date":"2019-06-12","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "l88XK5R9vxcGRyqB16JVfJgV4NVBEMfZxDBnp",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "qnnmxp6brPcWjybZmBK7i7P1E51jN6Cd34lL6",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-546c1e05-fe35-4ccf-b3f7-158031b51712","start_date":"2019-05-28","end_date":"2019-06-12","options":{"account_ids":["B77q6doDGETL1KZBgopbHWyNbgN4DEcwlDvXX"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "B77q6doDGETL1KZBgopbHWyNbgN4DEcwlDvXX",
              "balances": {
                "available": null,
                "current": 320.75,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "5555",
              "name": "Plaid IRA",
              "official_name": null,
              "subtype": "ira",
              "type": "investment"
            }
          ],
          "investment_transactions": [
            {
              "account_id": "B77q6doDGETL1KZBgopbHWyNbgN4DEcwlDvXX",
              "amount": 46.32,
              "cancel_transaction_id": null,
              "type": "buy",
              "date": "2019-05-30",
              "fees": null,
              "investment_transaction_id": "1nne13A4Ndc7vdgwxGpNfE8QA6QadWf51A9DG",
              "iso_currency_code": "USD",
              "name": "BUY NFLX DERIVATIVE",
              "price": 0.01,
              "quantity": 4211.152345617756,
              "security_id": "8E4L9XLl6MudjEpwPAAgivmdZRdBPJuvMPlPb",
              "unofficial_currency_code": null
            },
            {
              "account_id": "B77q6doDGETL1KZBgopbHWyNbgN4DEcwlDvXX",
              "amount": -1200,
              "cancel_transaction_id": null,
              "type": "cash",
              "date": "2019-05-30",
              "fees": null,
              "investment_transaction_id": "L88R5yA4KvcbwDgE7Jl6hRXGaeGEyKfP5V63G",
              "iso_currency_code": "USD",
              "na[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-546c1e05-fe35-4ccf-b3f7-158031b51712","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "iHySCDiX7vuO3EO"
        }
  recorded_at: Wed, 12 Jun 2019 05:02:26 GMT
recorded_with: VCR 4.0.0
