---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-3bc0ccf9-4145-47a4-bf93-864168673cae",
          "request_id": "9CAg650wsqRLCLJ"
        }
  recorded_at: Tue, 23 Feb 2021 16:32:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-3bc0ccf9-4145-47a4-bf93-864168673cae","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-2ae6b8e1-693c-4e2b-8a94-fbfc942c7e67",
          "item_id": "gdKPjkxR15FqDenrov3ZSlZaM6bQneFl9M5L3",
          "request_id": "dbi1MwOkeY9GS8F"
        }
  recorded_at: Tue, 23 Feb 2021 16:32:24 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2ae6b8e1-693c-4e2b-8a94-fbfc942c7e67","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "gdKPjkxR15FqDenrov3ZSlZaM6bQneFl9M5L3",
            "update_type": "background",
            "webhook": ""
          },
          "request_id": "Ztb8fsPuiLH37Pe",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Tue, 23 Feb 2021 16:32:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/apex/processor_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2ae6b8e1-693c-4e2b-8a94-fbfc942c7e67","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "documentation_url": "https://plaid.com/docs/?ref=error#invalid-request-errors",
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a valid account ID",
          "error_type": "INVALID_REQUEST",
          "request_id": "0u9Qu4B04sFZkqz",
          "suggested_action": null
        }
  recorded_at: Tue, 23 Feb 2021 16:32:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2ae6b8e1-693c-4e2b-8a94-fbfc942c7e67","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "request_id": "gzQ3Rgvo6fvsUNb"
        }
  recorded_at: Tue, 23 Feb 2021 16:32:27 GMT
recorded_with: VCR 4.0.0
