---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":"ABCDEFG1234567","institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "credentials must be an object with non-empty string values",
          "error_type": "INVALID_REQUEST",
          "request_id": "BXeZH"
        }
  recorded_at: Fri, 16 Mar 2018 02:18:57 GMT
recorded_with: VCR 3.0.3
