---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["auth"],"options":{},"public_key":"f149f72f9caae670aa7e1386b10103"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-593ba268-201c-41b1-8075-332e8ce6b679",
          "request_id": "CEqXp3bftJL22ia"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:20 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-593ba268-201c-41b1-8075-332e8ce6b679","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-f7c7f40f-17f9-496c-83d1-9e782b391a51",
          "item_id": "ywKnVxrdnwTKBlwjNz4XspvweMqgAzfy9bJBB",
          "request_id": "dtT6VehEGTtfLRc"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:21 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f7c7f40f-17f9-496c-83d1-9e782b391a51","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "investments_auth",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "ywKnVxrdnwTKBlwjNz4XspvweMqgAzfy9bJBB",
            "webhook": ""
          },
          "request_id": "GNolp3Oo09JdaGe",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:06:21 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/dwolla/processor_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f7c7f40f-17f9-496c-83d1-9e782b391a51","account_id":"ABCDEFG1234567","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "fj9GtpYzA1tDFIQ",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 22:06:21 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f7c7f40f-17f9-496c-83d1-9e782b391a51","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "iUbk3L6vkxZvc1H"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:22 GMT
recorded_with: VCR 4.0.0
