---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"mfa_questions_1_1"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 210
      message: status code 210
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-d60d72ce-4c18-4e4c-b096-98c98a28a040",
          "device": null,
          "device_list": null,
          "flexible_input_specs": null,
          "mfa_type": "questions",
          "questions": [
            "What is the answer to question_0_0?"
          ],
          "request_id": "KqK76Iiq3Goxv5w",
          "selections": null
        }
  recorded_at: Wed, 22 May 2019 19:10:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/mfa
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d60d72ce-4c18-4e4c-b096-98c98a28a040","mfa_type":"questions","responses":["answer_0_0"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "vPDQyqaRjgc7XvKrwoowIxWonvXJPGiWMdGnA",
            "webhook": ""
          },
          "request_id": "WAsc799Nu7qnUiD"
        }
  recorded_at: Wed, 22 May 2019 19:10:56 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d60d72ce-4c18-4e4c-b096-98c98a28a040","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "fW5vo8AxfUVrgQQ"
        }
  recorded_at: Wed, 22 May 2019 19:10:56 GMT
recorded_with: VCR 4.0.0
