---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["assets"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-0d1a0409-ca4c-401a-bc8a-e193c8520681",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "assets"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "yQn9Qm1pBrCavv8PAndzHj3RwgQ9R8CyaDQre",
            "webhook": ""
          },
          "request_id": "5DI36uH4UwXIK3B"
        }
  recorded_at: Wed, 17 Oct 2018 19:04:31 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/create
    body:
      encoding: UTF-8
      string: '{"access_tokens":["access-sandbox-0d1a0409-ca4c-401a-bc8a-e193c8520681"],"days_requested":60,"options":{"client_report_id":"123","webhook":"https://www.example.com","user":{"client_user_id":"789","first_name":"Jane","middle_name":"Leah","last_name":"Doe","ssn":"123-45-6789","phone_number":"(555)
        123-4567","email":"jane.doe@example.com"}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "de586c2f-d983-4398-891e-59763f03dfeb",
          "asset_report_token": "assets-sandbox-4d55d0f4-88dd-4cc7-81d5-27286ac1fa47",
          "request_id": "XCqki8mnQCzVUza"
        }
  recorded_at: Wed, 17 Oct 2018 19:04:31 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-4d55d0f4-88dd-4cc7-81d5-27286ac1fa47","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ASSET_REPORT_ERROR",
          "request_id": "qFFXBTGU8yx12Zw"
        }
  recorded_at: Wed, 17 Oct 2018 19:04:31 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-4d55d0f4-88dd-4cc7-81d5-27286ac1fa47","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "de586c2f-d983-4398-891e-59763f03dfeb",
            "client_report_id": "123",
            "date_generated": "2018-10-17T19:04:43Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "5QmzQK8jq5CzLL8ern3WFrK55KL3RxCZVR4RX",
                    "balances": {
                      "available": 43200,
                      "current": 43200,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
                      {
                        "current": 43200,
                        "date": "2018-10-16",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 43200,
                        "date": "2018-10-15",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 43200,
                        "date": "2018-1[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/pdf/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-4d55d0f4-88dd-4cc7-81d5-27286ac1fa47","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/pdf
      plaid-request-id:
      - kJHqr5CE55gUR29
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        JVBERi0xLjQKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIK
        L1Jlc291cmNlcyAyIDAgUgovR3JvdXAgPDwvVHlwZSAvR3JvdXAgL1MgL1Ry
        YW5zcGFyZW5jeSAvQ1MgL0RldmljZVJHQj4+Ci9Db250ZW50cyA0IDAgUj4+
        CmVuZG9iago0IDAgb2JqCjw8L0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0
        aCAxNjE4Pj4Kc3RyZWFtCngBpJjbbts+Esbv9RRzkQIt0GV5FKW7jZO0SNFs
        3diXvVEtNXFrSa0sp5[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/filter
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-4d55d0f4-88dd-4cc7-81d5-27286ac1fa47","account_ids_to_exclude":["5QmzQK8jq5CzLL8ern3WFrK55KL3RxCZVR4RX"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "32be4c4c-a91c-443d-8a17-ca3454445f36",
          "asset_report_token": "assets-sandbox-129d01d4-6945-48b3-a280-199d4d8394fa",
          "request_id": "ehVwpfu4BsJyg85"
        }
  recorded_at: Wed, 17 Oct 2018 19:04:45 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/refresh
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-4d55d0f4-88dd-4cc7-81d5-27286ac1fa47","days_requested":10,"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "ad7c4b19-5484-44e7-ac45-3837b6bff642",
          "asset_report_token": "assets-sandbox-6fdfe18b-4cfa-4aad-add9-620bc2a30924",
          "request_id": "4U1Kwvatsb0m6qz"
        }
  recorded_at: Wed, 17 Oct 2018 19:04:47 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/create
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-4d55d0f4-88dd-4cc7-81d5-27286ac1fa47","auditor_id":"PLAID_RUBY_CLIENT_ID","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "audit_copy_token": "a-sandbox-24fgscopincllcdjzi6tyx5f7a",
          "request_id": "bgaTr9Q2hnr48Vn"
        }
  recorded_at: Wed, 17 Oct 2018 19:04:49 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/get
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-24fgscopincllcdjzi6tyx5f7a","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/remove
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-24fgscopincllcdjzi6tyx5f7a","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "7dKFY5GMTsabY6m"
        }
  recorded_at: Wed, 17 Oct 2018 19:04:50 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/remove
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-4d55d0f4-88dd-4cc7-81d5-27286ac1fa47","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "kh46FjgUEwxnmsE"
        }
  recorded_at: Wed, 17 Oct 2018 19:04:50 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-0d1a0409-ca4c-401a-bc8a-e193c8520681","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "ZyGnWWHtbqTn45g"
        }
  recorded_at: Wed, 17 Oct 2018 19:04:50 GMT
recorded_with: VCR 4.0.0
