---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-152fb797-81f2-48d0-be33-4e57e11e8036","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "Jr9d8Vr4RACxgDpqVWa6hlDk5DVlKjCdyDbXZ",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "kKkXGAKxjLhAl6WgrRjmTDe79eJDRGuWjlx7q",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/create
    body:
      encoding: UTF-8
      string: '{"target_account_id":"Jr9d8Vr4RACxgDpqVWa6hlDk5DVlKjCdyDbXZ","target_access_token":"access-sandbox-152fb797-81f2-48d0-be33-4e57e11e8036","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "deposit_switch_id": "VeroxqeaGVTjoyR8KvzaHpQgpZ5QkWCWVBn5z",
          "request_id": "XcTB9uAXdkH5plb"
        }
  recorded_at: Fri, 24 Jan 2020 21:32:17 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/get
    body:
      encoding: UTF-8
      string: '{"deposit_switch_id":"VeroxqeaGVTjoyR8KvzaHpQgpZ5QkWCWVBn5z","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "date_created": "2020-01-24",
          "deposit_switch_id": "VeroxqeaGVTjoyR8KvzaHpQgpZ5QkWCWVBn5z",
          "request_id": "U59TP9R9SqVDXUm",
          "state": "initialized",
          "target_account_id": "Jr9d8Vr4RACxgDpqVWa6hlDk5DVlKjCdyDbXZ",
          "target_item_id": "yQ59jrQMzvfXz9QmxgJ6hNdooj3EZWCy9bJRV"
        }
  recorded_at: Fri, 24 Jan 2020 21:32:17 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/token/create
    body:
      encoding: UTF-8
      string: '{"deposit_switch_id":"VeroxqeaGVTjoyR8KvzaHpQgpZ5QkWCWVBn5z","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "deposit_switch_token": "deposit_switch-sandbox-c82dd9b9-7ee4-4a29-b9e3-92701f6ac64d",
          "deposit_switch_token_expiration_time": "2020-01-24T22:02:17Z",
          "request_id": "KXq41LQuCs2Xw94"
        }
  recorded_at: Fri, 24 Jan 2020 21:32:17 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/import
    body:
      encoding: UTF-8
      string: '{"products":["identity","auth"],"user_auth":{"user_id":"user_good","auth_token":"pass_good"},"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-c8e38cd7-6a0e-4249-9082-00f81425677e",
          "request_id": "KAsgbGWMqDsDuoN"
        }
  recorded_at: Fri, 24 Jan 2020 21:48:05 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/token/create
    body:
      encoding: UTF-8
      string: '{"deposit_switch_id":"5PWoKM5anxtw5o34Mg6WUWp9ZNKr3BiZoAaoz","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "deposit_switch_token": "deposit_switch-sandbox-9d7955a2-3a99-41e2-bdef-96fefa813810",
          "deposit_switch_token_expiration_time": "2020-01-24T22:18:07Z",
          "request_id": "GoxZelc8rBJQ2eS"
        }
  recorded_at: Fri, 24 Jan 2020 21:48:07 GMT
recorded_with: VCR 4.0.0
