---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/add_token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id","legal_name":"John Doe","phone_number":"+1
        415 555 0123","phone_number_verified_time":"2020-01-01T00:00:00Z","email_address":"example@plaid.com","email_address_verified_time":"2020-01-01T00:00:00Z"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "add_token": "item-add-sandbox-4719aa25-aca1-4927-8199-7d2064a8cb68",
          "expiration": "2020-04-23T19:18:09.475703728Z",
          "request_id": "i4dE1sWqbYTsHNg"
        }
  recorded_at: Wed, 22 Apr 2020 19:18:09 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/add_token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id","legal_name":"John Doe","phone_number":"+1
        415 555 0123","phone_number_verified_time":"2020-01-01T00:00:00Z","email_address":"example@plaid.com","email_address_verified_time":"2020-01-01T00:00:00Z"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "add_token": "item-add-sandbox-c2e68175-2c53-48bf-8e3c-d8253eb2db34",
          "expiration": "2020-06-04T23:38:40.848170021Z",
          "request_id": "yPsplkQbm36tExb"
        }
  recorded_at: Wed, 03 Jun 2020 23:38:40 GMT
recorded_with: VCR 4.0.0
