---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["assets"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-96ace8a9-225e-44cd-a72d-e666b164bb99",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "assets"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "gjjyJ5Vvj8I3BMnX7m4GUZwm3BwWaAFgD6NmJ",
            "webhook": ""
          },
          "request_id": "hAtaQsKtk7Q3usk"
        }
  recorded_at: Tue, 27 Nov 2018 16:15:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/create
    body:
      encoding: UTF-8
      string: '{"access_tokens":["access-sandbox-96ace8a9-225e-44cd-a72d-e666b164bb99"],"days_requested":60,"options":{"client_report_id":"123","webhook":"https://www.example.com","user":{"client_user_id":"789","first_name":"Jane","middle_name":"Leah","last_name":"Doe","ssn":"123-45-6789","phone_number":"(555)
        123-4567","email":"jane.doe@example.com"}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "3b6ef733-6960-42dc-8ba4-395c9ca7e9f4",
          "asset_report_token": "assets-sandbox-25b7402e-0259-4e21-8a46-25219dfb7dd6",
          "request_id": "Os63SYDdQXgwlh2"
        }
  recorded_at: Tue, 27 Nov 2018 16:15:56 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-25b7402e-0259-4e21-8a46-25219dfb7dd6","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ASSET_REPORT_ERROR",
          "request_id": "0yScbrjmvncs4TV"
        }
  recorded_at: Tue, 27 Nov 2018 16:15:56 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-25b7402e-0259-4e21-8a46-25219dfb7dd6","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "3b6ef733-6960-42dc-8ba4-395c9ca7e9f4",
            "client_report_id": "123",
            "date_generated": "2018-11-27T16:15:58Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "5KKQVgELKruzwM7xDyPJCW6lbjMkJGUZVLQ9a",
                    "balances": {
                      "available": null,
                      "current": 1000,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
                      {
                        "current": 1000,
                        "date": "2018-11-26",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 1000,
                        "date": "2018-11-25",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 1000,
                        "date": "2018-11-[...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/pdf/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-25b7402e-0259-4e21-8a46-25219dfb7dd6","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/pdf
      plaid-request-id:
      - myP1V94tIxmCrDt
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        JVBERi0xLjQKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIKL1Jlc291cmNlcyAyIDAgUgovR3JvdXAgPDwvVHlwZSAvR3JvdXAgL1MgL1RyYW5zcGFyZW5jeSAvQ1MgL0RldmljZVJHQj4+Ci9Db250ZW50cyA0IDAgUj4+CmVuZG9iago0IDAgb2JqCjw8L0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0aCAxNjE0Pj4Kc3RyZWFtCngBpJjLbts6E8f3eopZpEAL9GN5FaXdFydpkaJp3djLbtSITdxaUivL6cl5sbzeAW8mado5OTcgwKjSb/6c+Q9FC8P7AsP3giCM4Xc[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/filter
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-25b7402e-0259-4e21-8a46-25219dfb7dd6","account_ids_to_exclude":["5KKQVgELKruzwM7xDyPJCW6lbjMkJGUZVLQ9a"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "18cfe23b-2ebe-4088-a6bd-378691d7686e",
          "asset_report_token": "assets-sandbox-a24cfdb4-9a41-4dcb-acee-e1a5ad46c354",
          "request_id": "Kq4qcpAVHWbnxqe"
        }
  recorded_at: Tue, 27 Nov 2018 16:16:01 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/refresh
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-25b7402e-0259-4e21-8a46-25219dfb7dd6","days_requested":10,"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "1ecc496a-28ce-42b5-b657-c6be74df5057",
          "asset_report_token": "assets-sandbox-a8246067-8278-4dae-9dfe-059f37b8b345",
          "request_id": "4WLqKm5lDssVXMw"
        }
  recorded_at: Tue, 27 Nov 2018 16:16:02 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/create
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-25b7402e-0259-4e21-8a46-25219dfb7dd6","auditor_id":"PLAID_RUBY_CLIENT_ID","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "audit_copy_token": "a-sandbox-m6wkgraxmzbcxayl3irb7kqwua",
          "request_id": "jfbkMof4K7PwjbW"
        }
  recorded_at: Tue, 27 Nov 2018 16:16:05 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/get
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-m6wkgraxmzbcxayl3irb7kqwua","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/remove
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-m6wkgraxmzbcxayl3irb7kqwua","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "TDx7XzylzMn65rT"
        }
  recorded_at: Tue, 27 Nov 2018 16:16:06 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/remove
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-25b7402e-0259-4e21-8a46-25219dfb7dd6","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "pvXfUH1FsPgQm3c"
        }
  recorded_at: Tue, 27 Nov 2018 16:16:07 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-96ace8a9-225e-44cd-a72d-e666b164bb99","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "vRjh5Qow7FRKpLq"
        }
  recorded_at: Tue, 27 Nov 2018 16:16:07 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-bf56ff78-ae94-4ad9-bdd9-17d11c1aab76","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "46d05a17-0818-4b66-8f47-44170ec81dd3",
            "client_report_id": "123",
            "date_generated": "2019-03-20T03:15:11Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "6DLaJxvbzgtevdP8bPkgIR7wRgPdxAcgWddDR",
                    "balances": {
                      "available": null,
                      "current": 320.75,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [],
                    "mask": "5555",
                    "name": "Plaid IRA",
                    "official_name": null,
                    "owners": [
                      {
                        "addresses": [
                          {
                            "data": {
                              "city": "Malakoff",
                              "state": "NY",
                              "street": "2992 Cameron Road",
                              "zip": "14236"
                            },
                            "primary": true
                          },
                          {
                            "data": {
                              "city": "San Matias",
                              "state": "CA",
                              "street": "2493 Leisure Lane",
                              "zip": "93405-2255"
                            },
                            "primary": false
                          }
                        ],
                        "emails": [
                          {
                            "data": "accountholder0@example.com",
                            "primary": true,
                            "type": "primary"
                          },
                          {
                            "data": "accountholder1@example.com",
                            "primary": false,
                            "type": "secondary"
                          },
                          {
                            "data": "extraordinarily.long.email.username.123456@reallylonghostname.com",
                            "primary": false,
                            "type": "other"
                          }
                        ],
                        "names": [
                          "Alberta Bobbeth Charleson"
                        ],
                        "phone_numbers": [
                          {
                            "data": "1112223333",
                            "primary": false,
                            "type": "home"
                          },
                          {
                            "data": "1112224444",
                            "primary": false,
                            "type": "work"
                          },
                          {
                            "data": "1112225555",
                            "primary": false,
                            "type": "mobile1"
                          }
                        ]
                      }
                    ],
                    "subtype": "ira",
                    "transactions": [],
                    "type": "brokerage"
                  },
                  {
                    "account_id": "9X5PW46Mx8FkpMnq7nyKUmypmn6EDwsRLZZxx",
                    "balances": {
                      "available": null,
                      "current": 1000,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
          [...]
[...]
