---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-744a69cf-e273-4186-b24e-426a20988c5d",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "wr1B9NkX5wTx5VbGbGWKcny7a8B1Zycr6vQaL",
            "webhook": ""
          },
          "request_id": "0Sxbsp4grCh7r2s"
        }
  recorded_at: Thu, 16 May 2019 06:48:41 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-744a69cf-e273-4186-b24e-426a20988c5d","start_date":"2016-01-01","end_date":"2017-01-01","options":{"count":2,"offset":1},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "QnA1gKLGW6IgA5JeJeN3HjPJpmempxfpxkejX",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "Z3AKDNnyj6fEAKXkXk3eSgKWeGjGezSg58lxB",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-744a69cf-e273-4186-b24e-426a20988c5d","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "rsWO10dHGwrNu5w"
        }
  recorded_at: Thu, 16 May 2019 06:48:43 GMT
recorded_with: VCR 4.0.0
