---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/import
    body:
      encoding: UTF-8
      string: '{"products":["identity","auth"],"user_auth":{"user_id":"user_good","auth_token":"pass_good"},"options":{},"client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-74b24b84-84d4-4524-8c23-3d1580f858da",
          "request_id": "2ej7TAXx4aUFaE4"
        }
  recorded_at: Fri, 24 Jan 2020 21:39:56 GMT
recorded_with: VCR 4.0.0
