---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/webhook_verification_key/get
    body:
      encoding: UTF-8
      string: '{"key_id":"6c5516e1-92dc-479e-a8ff-5a51992e0001","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "key": {
            "alg": "ES256",
            "created_at": 1560466143,
            "crv": "P-256",
            "expired_at": null,
            "kid": "6c5516e1-92dc-479e-a8ff-5a51992e0001",
            "kty": "EC",
            "use": "sig",
            "x": "35lvC8uz2QrWpQJ3TUH8t9o9DURMp7ydU518RKDl20k",
            "y": "I8BuXB2bvxelzJAd7OKhd-ZwjCst05Fx47Mb_0ugros"
          },
          "request_id": "Y33DF7dQfDD8eWi"
        }
  recorded_at: Wed, 22 Jan 2020 21:01:05 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/webhook_verification_key/get
    body:
      encoding: UTF-8
      string: '{"key_id":"6c5516e1-92dc-479e-a8ff-5a51992e0001","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "key": {
            "alg": "ES256",
            "created_at": 1560466143,
            "crv": "P-256",
            "expired_at": null,
            "kid": "6c5516e1-92dc-479e-a8ff-5a51992e0001",
            "kty": "EC",
            "use": "sig",
            "x": "35lvC8uz2QrWpQJ3TUH8t9o9DURMp7ydU518RKDl20k",
            "y": "I8BuXB2bvxelzJAd7OKhd-ZwjCst05Fx47Mb_0ugros"
          },
          "request_id": "FZooWYCXczYOWdr"
        }
  recorded_at: Wed, 03 Jun 2020 23:40:05 GMT
recorded_with: VCR 4.0.0
