---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-2475d5e6-39cd-4474-85fc-4ac05f1767e8",
          "request_id": "HsVn8FVmDmA1DLa"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:53 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-2475d5e6-39cd-4474-85fc-4ac05f1767e8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-17bd2870-fa46-4453-adac-6ceac64f41b9",
          "item_id": "QKjRmAzBZ8iwVeeA6VZPTPE3pB3n9Ltp1PxJb",
          "request_id": "BPQxSvJev4PtTUQ"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:53 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-17bd2870-fa46-4453-adac-6ceac64f41b9","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "investments_auth",
              "liabilities"
            ],
            "billed_products": [
              "transactions"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "QKjRmAzBZ8iwVeeA6VZPTPE3pB3n9Ltp1PxJb",
            "webhook": ""
          },
          "request_id": "QHT2C0tc7Bxd5cJ",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": "2020-01-24T22:05:53.963Z"
            }
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:05:54 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/webhook/update
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-17bd2870-fa46-4453-adac-6ceac64f41b9","webhook":"https://plaid.com/webhook-test","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "investments_auth",
              "liabilities"
            ],
            "billed_products": [
              "transactions"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "QKjRmAzBZ8iwVeeA6VZPTPE3pB3n9Ltp1PxJb",
            "webhook": "https://plaid.com/webhook-test"
          },
          "request_id": "YmHonFdCLn8HKBS"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:54 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-17bd2870-fa46-4453-adac-6ceac64f41b9","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "aDESXeciMmnfD9G"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:55 GMT
recorded_with: VCR 4.0.0
