---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/import
    body:
      encoding: UTF-8
      string: '{"products":["identity","auth"],"user_auth":{"user_id":"user_good","auth_token":"pass_good"},"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-5fa6ded5-ffe8-40ee-926d-149ff064f215",
          "request_id": "iJsLDx04G9c42r6"
        }
  recorded_at: Thu, 23 Jan 2020 03:59:58 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-5fa6ded5-ffe8-40ee-926d-149ff064f215","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "jqp6Z7l44RfG1L5Jlb5WHG5Ll17Gj1H16JWgw",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "7MPNQXEnnguloVZWj8ZJSa1LgEnaXEtgdXJk6",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/create
    body:
      encoding: UTF-8
      string: '{"target_account_id":"jqp6Z7l44RfG1L5Jlb5WHG5Ll17Gj1H16JWgw","target_access_token":"access-sandbox-5fa6ded5-ffe8-40ee-926d-149ff064f215","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "deposit_switch_id": "qdloXAxZZ6teAKyzRNymSEx3nVxRR4IdDpNNG",
          "request_id": "inLnEEvajw0xq5E"
        }
  recorded_at: Thu, 23 Jan 2020 03:59:59 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/get
    body:
      encoding: UTF-8
      string: '{"deposit_switch_id":"qdloXAxZZ6teAKyzRNymSEx3nVxRR4IdDpNNG","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "created_date": "2020-01-23",
          "deposit_switch_id": "qdloXAxZZ6teAKyzRNymSEx3nVxRR4IdDpNNG",
          "request_id": "sChVz16JXzI19Y3",
          "state": "initialized",
          "target_account_id": "jqp6Z7l44RfG1L5Jlb5WHG5Ll17Gj1H16JWgw",
          "target_item_id": "Q4zAVZ5LLRF7rodyMndVS3zW3Vo5oVIp1a7XK"
        }
  recorded_at: Thu, 23 Jan 2020 03:59:59 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/token/create
    body:
      encoding: UTF-8
      string: '{"deposit_switch_id":"qdloXAxZZ6teAKyzRNymSEx3nVxRR4IdDpNNG","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "deposit_switch_token": "deposit_switch-sandbox-ac930268-c444-4599-bec7-25214d0dead8",
          "deposit_switch_token_expiration_time": "2020-01-23T04:30:00Z",
          "request_id": "nmcQq6vUTT9mm7W"
        }
  recorded_at: Thu, 23 Jan 2020 04:00:00 GMT
recorded_with: VCR 4.0.0
