---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["identity"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-ef1cac4a-9433-42af-98e5-80bcaf82929c",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "income",
              "transactions"
            ],
            "billed_products": [
              "identity"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "1pEBKR4A87ImXyjgdyDMFZjx3MdoxVsvjmVEa",
            "webhook": ""
          },
          "request_id": "Dr3IK"
        }
  recorded_at: Wed, 12 Jul 2017 12:33:09 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/identity/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ef1cac4a-9433-42af-98e5-80bcaf82929c","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "eVWD7pPRnesQdR73yRWMtM34EagNrAIL5QAzz",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "QoDAvqXRyPIZA4PQd4WESmo5KnME3wcp7XbJW",
              "balances": {
                "available": 200,
                "current": 210,
                "limit": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
              "subtype": "savings",
              "type": "depository"
            },
            {
              "account_id": "ZVWAr48kRzsWADxy1DbaFGLBNA7ldnHgXpZNV",
              "balances": {
                "available": null,
                "current": 1000,
                "limit": null
              },
              "mask": "2222",
              "name": "Plaid CD",
              "official_name": "Plaid Bronze Standard 0.2% Interest CD",
              "subtype": "cd",
              "type": "depository"
            },
            {
              "account_id": "MMDVb8jnXdIoNvgJ6vL4uGx16RlbyoH9PvaEP",
              "balances": {
                "available": null,
                "current": 410,
                "limit": 2000
              },
              "mask": "3333",
              "name": "Plaid Credit Card",
              "official_name": "Plaid Diamond 12.5% APR Interest Credit Card",
              "subtype": "credit",
              "type": "credit"
            }
          ],
          "identity": {
            "addresses": [
              {
                "accounts": [
                  "Plaid Checking 0000",
                  "Plaid Saving 1111",
                  "Plaid CD 2222"
                ],
                "data": {
                  "city": "Malakoff",
                  "state": "NY",
                  "street": "2992 Cameron Road",
                  "zip": "14236"
                },
                "primary": true
              },
              {
                "accounts": [
                  "Plaid Credit Card 3333"
                ],
                "data": {
                  "city": "San Matias",
                  "state": "CA",
                  "street": "2493 Leisure Lane",
                  "zip": "93405-2255"
                },
                "primary": false
              }
            ],
            "emails": [
              {
                "data": "accountholder0@example.com",
                "primary": true,
                "type": "primary"
              },
              {
                "data": "accountholder1@example.com",
                "primary": false,
                "type": "secondary"
              },
              {
                "data": "extraordinarily.long.email.username.123456@reallylonghostname.com",
                "primary": false,
                "type": "other"
              }
            ],
            "names": [
              "Alberta Bobbeth Charleson"
            ],
            "phone_numbers": [
              {
                "data": "1112223333",
                "primary": false,
                "type": "home"
              },
              {
                "data": "1112224444",
                "primary": false,
                "type": "work"
              },
              {
                "data": "1112225555",
                "primary": false,
                "type": "mobile1"
              }
            ]
          },
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "income",
              "transactions"
            ],
            "billed_products": [
              "identity"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "1pEBKR4A87ImXyjgdyDMFZjx3MdoxVsvjmVEa",
            "webhook": ""
          },
          "request_id": "t9RHz"
        }
  recorded_at: Wed, 12 Jul 2017 12:33:10 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/delete
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ef1cac4a-9433-42af-98e5-80bcaf82929c","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "ZSC9Q"
        }
  recorded_at: Wed, 12 Jul 2017 12:33:12 GMT
recorded_with: VCR 3.0.3
