---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/import
    body:
      encoding: UTF-8
      string: '{"products":["identity","auth"],"user_auth":{"user_id":"user_good","auth_token":"pass_good"},"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-d09194a7-0612-4c7f-a929-855e4fe09ea7",
          "request_id": "ohcudMIdnqsGuL2"
        }
  recorded_at: Fri, 07 Feb 2020 17:46:48 GMT
