---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/import
    body:
      encoding: UTF-8
      string: '{"products":["identity","auth"],"user_auth":{"user_id":"user_good","auth_token":"pass_good"},"options":{},"client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-62ecef88-c957-4f44-b1d7-4fbd0ed09b91",
          "request_id": "zE00FmsYcqvnIes"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:50 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-62ecef88-c957-4f44-b1d7-4fbd0ed09b91","options":{},"client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "WrJqgBRNPrckBbe1K6pZswl4mJQgKDtlraBzq",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "Aj1ybonNBjCKymgzQABxIaVR9xk5Q4t17eBNe",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/create
    body:
      encoding: UTF-8
      string: '{"target_account_id":"WrJqgBRNPrckBbe1K6pZswl4mJQgKDtlraBzq","target_access_token":"access-sandbox-62ecef88-c957-4f44-b1d7-4fbd0ed09b91","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "deposit_switch_id": "G1wKBVQZN1iKX8krRMAnIyvgGNjkxqu1BWjMW",
          "request_id": "30030RxuP9mPeVL"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:51 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/get
    body:
      encoding: UTF-8
      string: '{"deposit_switch_id":"G1wKBVQZN1iKX8krRMAnIyvgGNjkxqu1BWjMW","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "date_created": "2020-01-24",
          "deposit_switch_id": "G1wKBVQZN1iKX8krRMAnIyvgGNjkxqu1BWjMW",
          "request_id": "Y8Dhd17p9bC9t5K",
          "state": "initialized",
          "target_account_id": "WrJqgBRNPrckBbe1K6pZswl4mJQgKDtlraBzq",
          "target_item_id": "PGrNXLbzBGuboXrPL3R6INLyqg9kJMC7ePNQ7"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:51 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/deposit_switch/token/create
    body:
      encoding: UTF-8
      string: '{"deposit_switch_id":"G1wKBVQZN1iKX8krRMAnIyvgGNjkxqu1BWjMW","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "deposit_switch_token": "deposit_switch-sandbox-a691c954-4bd2-476a-90ed-a80430bc8ce8",
          "deposit_switch_token_expiration_time": "2020-01-24T22:37:51Z",
          "request_id": "DLVFVSGWQ6jhf8r"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:52 GMT
recorded_with: VCR 4.0.0
