---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-70669307-0c60-42e8-9cc3-c2b77ae710ce",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "31bwxBpwg1hm8BWBdk6ZfJ87AlZ6zMUNl8X79",
            "webhook": ""
          },
          "request_id": "suA9X"
        }
  recorded_at: Wed, 12 Jul 2017 13:20:41 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-70669307-0c60-42e8-9cc3-c2b77ae710ce","start_date":"2016-01-01","end_date":"2017-01-01","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "8KmVPwkVGKcRlAaAJKyQfboQnaqADlFx3vJ9W",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "g9XZ6A5ZV9iawKgKn5D1cGXDnw4PkEHl8j7Kg",
              "balances": {
                "available": 200,
                "current": 210,
                "limit": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
              "subtype": "savings",
              "type": "depository"
            },
            {
  [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-70669307-0c60-42e8-9cc3-c2b77ae710ce","start_date":"2016-01-01","end_date":"2017-01-01","options":{"account_ids":["8KmVPwkVGKcRlAaAJKyQfboQnaqADlFx3vJ9W"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "8KmVPwkVGKcRlAaAJKyQfboQnaqADlFx3vJ9W",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            }
          ],
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "31bwxBpwg1hm8BWBdk6ZfJ87AlZ6zMUNl8X79",
            "webhook": ""
          },
          "request_id": "WM2cY",
          "total_transactions": 77,
          "transactions": [
            {
              "account_id": "8KmVPwkVGKcRlAaAJKyQfboQnaqADlFx3vJ9W",
              "account_owner": null,
              "amount": 5.4,
              "category": null,
              "category_id": null,
              "date": "2017-01-01",
              "location": {
                "address": null,
                "city": null,
                "lat": null,
                "lon": null,
                "state": null,
                "store_number": null,
                "zip": null
              },
              "name": "Uber 063015 SF**POOL**",
              "payment_meta": {
                "by_order_of": null,
                "payee": null,
                "payer": null,
                "payment_method": null,
                "payment_processor": null,
                "ppd_id": null,
                "reason": null,
                "reference_number": null
              },
              "pending": false,
              "pending_transaction_id": null,
              "transaction_id": "PzWXAe5XpzCJnv8vlDLrsv3Mp1RZmVFw6Eyv9",
              "transaction_type": "unresolved"
            },
            {
              "account_id": "8KmVPwkVGKcRlAaAJKyQfboQnaqADlFx3vJ9W",
              "account_owner": null,
              "amount": -500,
              "category": [
                "Travel",
                "Airlines and Aviation Services"
              ],
              "category_id": "22001000",
              "date": "2016-12-30",
              "location": {
                "address": null,
                "city": null,
                "lat": null,
    [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/delete
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-70669307-0c60-42e8-9cc3-c2b77ae710ce","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "wYN6h"
        }
  recorded_at: Wed, 12 Jul 2017 13:20:46 GMT
recorded_with: VCR 3.0.3
