---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2016-02-01"},"webhook":"https://plaid.com/webhook-test"},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-13addac5-ae3b-4f1b-aa75-473447d1da65",
          "request_id": "mjHdTggqMUSsk6R"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:40 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-13addac5-ae3b-4f1b-aa75-473447d1da65","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-816d853b-e4cd-40d1-b385-bcc1f9341c05",
          "item_id": "NWAMXqga97UKQpwK8LKDfl7PB7q6A4uWdJWe4",
          "request_id": "RW409Wb91BWf2nK"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:41 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-816d853b-e4cd-40d1-b385-bcc1f9341c05","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "NWAMXqga97UKQpwK8LKDfl7PB7q6A4uWdJWe4",
            "webhook": "https://plaid.com/webhook-test",
            "consent_expiration_time": null
          },
          "request_id": "ZsmnE7PxGqt5guK",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": null
            }
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:57:41 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-816d853b-e4cd-40d1-b385-bcc1f9341c05","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "oPLDRn4vxsrCvYe"
        }
  recorded_at: Wed, 19 Jun 2019 19:57:41 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-e534512e-4512-407d-994a-c0b9ef294b6c","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "VCrOAgVpLnXn5bg"
        }
  recorded_at: Fri, 24 Jan 2020 21:52:15 GMT
recorded_with: VCR 4.0.0
