---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/liabilities/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","options":{},"client_id":null,"secret":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "client_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "KB9bwCXFpmOs5Dd",
          "suggested_action": null
        }
  recorded_at: Tue, 09 Jul 2019 00:59:47 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/liabilities/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "9LXKAHuNFIA0nZ0",
          "suggested_action": null
        }
  recorded_at: Tue, 09 Jul 2019 01:09:57 GMT
recorded_with: VCR 4.0.0
