---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"mfa_questions_1_1"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 210
      message: status code 210
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-a2559732-9703-4607-be09-068b14b07b26",
          "device": null,
          "device_list": null,
          "flexible_input_specs": null,
          "mfa_type": "questions",
          "questions": [
            "What is the answer to question_0_0?"
          ],
          "request_id": "sNYJ7LiA04gli6Z",
          "selections": null
        }
  recorded_at: Thu, 16 May 2019 06:51:09 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/mfa
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-a2559732-9703-4607-be09-068b14b07b26","mfa_type":"questions","responses":["answer_0_0"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "7x58nnWqDPHlrv73EAr5hxkeq7G4xWigQkVv6",
            "webhook": ""
          },
          "request_id": "uGoCIuk6LMvhA75"
        }
  recorded_at: Thu, 16 May 2019 06:51:10 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-a2559732-9703-4607-be09-068b14b07b26","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "cEt06xBnnAM46oK"
        }
  recorded_at: Thu, 16 May 2019 06:51:11 GMT
recorded_with: VCR 4.0.0
