---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-068a6137-f762-4dbf-81f5-25b36d6410c2",
          "request_id": "6uCFdmUspbmIHut"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:47 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-068a6137-f762-4dbf-81f5-25b36d6410c2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-20860ed1-e1f3-49fc-a65c-92411ca87edd",
          "item_id": "oMVLq91bXqfNkR35qjr9uB9paGeGQ6CRanJmR",
          "request_id": "1y4LlNEjGGNrTO8"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:47 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-20860ed1-e1f3-49fc-a65c-92411ca87edd","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "investments_auth",
              "liabilities"
            ],
            "billed_products": [
              "transactions"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "oMVLq91bXqfNkR35qjr9uB9paGeGQ6CRanJmR",
            "webhook": ""
          },
          "request_id": "jYI4WNMiSJM96UU",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": "2020-01-24T22:06:47.861Z"
            }
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:06:48 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/balance/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "0PpsN8c0kiqf93x",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 22:06:48 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-20860ed1-e1f3-49fc-a65c-92411ca87edd","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "krNXHhdIZRUmVki"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:48 GMT
recorded_with: VCR 4.0.0
