---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get
    body:
      encoding: UTF-8
      string: '{"count":"ABCDEFG1234567","offset":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "count must be an integer",
          "error_type": "INVALID_REQUEST",
          "request_id": "hkv1b"
        }
  recorded_at: Fri, 16 Mar 2018 02:21:06 GMT
recorded_with: VCR 3.0.3
