---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_1","initial_products":["income"],"options":{},"public_key":"f149f72f9caae670aa7e1386b10103"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-9bffbb6c-e0d9-4c38-bec5-8a21b244fc66",
          "request_id": "f5pQAFRMrJI1Xr4"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:33 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-9bffbb6c-e0d9-4c38-bec5-8a21b244fc66","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-3ac362bc-cfc3-4985-bede-192fbe7a9239",
          "item_id": "BjdK3RyV6LcW7jpwRQEZTa6V9xyxwPSwpbLzZ",
          "request_id": "OWZXxLhCmozknRm"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:33 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3ac362bc-cfc3-4985-bede-192fbe7a9239","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "income"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_1",
            "item_id": "BjdK3RyV6LcW7jpwRQEZTa6V9xyxwPSwpbLzZ",
            "webhook": ""
          },
          "request_id": "QFOvawPsTF42BEI",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:05:34 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/income/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "AYXErWMkVZTkgRL",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 22:05:34 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3ac362bc-cfc3-4985-bede-192fbe7a9239","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "b2vkJeNiYaTmVJC"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:34 GMT
recorded_with: VCR 4.0.0
