---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["credit_details"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-97c10845-d672-4a6c-9d92-f4845a6bcaf2",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "lxNPnywlKkIQEaKRdoVEfgQAoGXdm7uZW7WNW",
            "webhook": ""
          },
          "request_id": "t0R8tru9eyvva7P"
        }
  recorded_at: Wed, 20 Mar 2019 15:46:10 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-97c10845-d672-4a6c-9d92-f4845a6bcaf2","options":{"account_ids":"ABCDEFG1234567"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "options.account_ids must be a non-empty array of valid account ids",
          "error_type": "INVALID_REQUEST",
          "request_id": "8mLgG4slSu6nAFw"
        }
  recorded_at: Wed, 20 Mar 2019 15:46:10 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-97c10845-d672-4a6c-9d92-f4845a6bcaf2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "8bPfrGh23CTJDQU"
        }
  recorded_at: Wed, 20 Mar 2019 15:46:11 GMT
recorded_with: VCR 4.0.0
