---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":"ABCDEFG1234567","options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "initial_products must be a list of strings containing at least one product",
          "error_type": "INVALID_REQUEST",
          "request_id": "D5jYCVrnLts0m3s",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:57:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":"ABCDEFG1234567","options":{},"public_key":"f149f72f9caae670aa7e1386b10103"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "initial_products must be a list of strings containing at least one product",
          "error_type": "INVALID_REQUEST",
          "request_id": "eDIJLQLCsco6RpH",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 21:40:04 GMT
recorded_with: VCR 4.0.0
