---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["auth"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-e2579619-53d6-42dd-a002-487b16aaa88e",
          "request_id": "kqt5Q1D5kBOqp6F"
        }
  recorded_at: Wed, 19 Jun 2019 19:58:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-e2579619-53d6-42dd-a002-487b16aaa88e","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-31b7d56f-ceb9-4553-ae51-04f1740b607a",
          "item_id": "kBXlNgbkr4UKMvDKPkLxfZQGqKjQvBcWEEZpm",
          "request_id": "k879rJTCw5dZZuL"
        }
  recorded_at: Wed, 19 Jun 2019 19:58:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-31b7d56f-ceb9-4553-ae51-04f1740b607a","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "balance",
              "credit_details",
              "holdings",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "kBXlNgbkr4UKMvDKPkLxfZQGqKjQvBcWEEZpm",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "CcG4D2xTUsrqqz3",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Wed, 19 Jun 2019 19:58:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/auth/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-31b7d56f-ceb9-4553-ae51-04f1740b607a","options":{"account_ids":"ABCDEFG1234567"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "options.account_ids must be a non-empty array of valid account ids",
          "error_type": "INVALID_REQUEST",
          "request_id": "JtKACmY5rqeW2wn",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:58:24 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-31b7d56f-ceb9-4553-ae51-04f1740b607a","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "1ltsHYUnBzVoN7C"
        }
  recorded_at: Wed, 19 Jun 2019 19:58:24 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/auth/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-223dee61-9731-4d05-b834-965e905a21de","options":{"account_ids":"ABCDEFG1234567"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "documentation_url": "https://plaid.com/docs/?ref=error#invalid-request-errors",
          "error_code": "INVALID_FIELD",
          "error_message": "options.account_ids must be a non-empty array of valid account ids",
          "error_type": "INVALID_REQUEST",
          "request_id": "xIhdXs5xczcM9W1",
          "suggested_action": null
        }
  recorded_at: Wed, 03 Jun 2020 23:39:34 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-223dee61-9731-4d05-b834-965e905a21de","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "aVsvx44f1LEhLC4"
        }
  recorded_at: Wed, 03 Jun 2020 23:39:35 GMT
recorded_with: VCR 4.0.0
