---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["identity"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-af0fb3f2-7587-4a57-a0db-4f22126c8c42",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "income",
              "transactions"
            ],
            "billed_products": [
              "identity"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "y7AvVBdRW1FgbKkZv5XPsyMaojR6lLsjxXrBqm",
            "webhook": ""
          },
          "request_id": "tdOLw"
        }
  recorded_at: Fri, 16 Mar 2018 02:17:26 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/identity/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-af0fb3f2-7587-4a57-a0db-4f22126c8c42","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "LkgnV8MwNXUDx7QR1AqlhD6aeznq51Fz5NgQ7",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "5lL3oq7aM8TQBGZ1LyleULZAjyv4ygFxX7jZA",
              "balances": {
                "available": 200,
                "current": 210,
                "limit": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
              "subtype": "savings",
              "type": "depository"
            },
            {
              "account_id": "klJLygwoQBTRVaZbK4AJi8m93zWvNZTNeJxRom",
              "balances": {
                "available": null,
                "current": 1000,
                "limit": null
              },
              "mask": "2222",
              "name": "Plaid CD",
              "official_name": "Plaid Bronze Standard 0.2% Interest CD",
              "subtype": "cd",
              "type": "depository"
            },
            {
              "account_id": "ggvQb1p6aqsajox19mkvsl5G3kNgWWFkqQPyz",
              "balances": {
                "available": null,
                "current": 410,
                "limit": 2000
              },
              "mask": "3333",
              "name": "Plaid Credit Card",
              "official_name": "Plaid Diamond 12.5% APR Interest Credit Card",
              "subtype": "credit card",
              "type": "credit"
            }
          ],
          "identity": {
            "addresses": [
              {
                "accounts": [
                  "Plaid Checking 0000",
                  "Plaid Saving 1111",
                  "Plaid CD 2222"
                ],
                "data": {
                  "city": "Malakoff",
                  "state": "NY",
                  "street": "2992 Cameron Road",
                  "zip": "14236"
                },
                "primary": true
              },
              {
                "accounts": [
                  "Plaid Credit Card 3333"
                ],
                "data": {
                  "city": "San Matias",
                  "state": "CA",
                  "street": "2493 Leisure Lane",
                  "zip": "93405-2255"
                },
                "primary": false
              }
            ],
            "emails": [
              {
                "data": "accountholder0@example.com",
                "primary": true,
                "type": "primary"
              },
              {
                "data": "accountholder1@example.com",
                "primary": false,
                "type": "secondary"
              },
              {
                "data": "extraordinarily.long.email.username.123456@reallylonghostname.com",
                "primary": false,
                "type": "other"
              }
            ],
            "names": [
              "Alberta Bobbeth Charleson"
            ],
            "phone_numbers": [
              {
                "data": "1112223333",
                "primary": false,
                "type": "home"
              },
              {
                "data": "1112224444",
                "primary": false,
                "type": "work"
              },
              {
                "data": "1112225555",
                "primary": false,
                "type": "mobile1"
              }
            ]
          },
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "income",
              "transactions"
            ],
            "billed_products": [
              "identity"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "y7AvVBdRW1FgbKkZv5XPsyMaojR6lLsjxXrBqm",
            "webhook": ""
          },
          "request_id": "YKD9M"
        }
  recorded_at: Fri, 16 Mar 2018 02:17:27 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-af0fb3f2-7587-4a57-a0db-4f22126c8c42","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "CADpt"
        }
  recorded_at: Fri, 16 Mar 2018 02:17:29 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/identity/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-214d6025-dd8c-4461-b9e3-5eb5a0010980","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "x1oLVqrnJnUW3z5WmZvKHDRQpVdVnvCno4NGa",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "dvKeVXw6r6cPDlbPvVwQuPbapnRnG7tZwEGWj",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit":[...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-deacbe0f-2de6-4eac-8886-b8ff7ef3d5e9","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "ok4aYLFPemUfjq9"
        }
  recorded_at: Thu, 16 May 2019 06:40:36 GMT
recorded_with: VCR 4.0.0
