---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","options":{"include_optional_metadata":true},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institution": {
            "country_codes": [
              "US"
            ],
            "credentials": [],
            "has_mfa": true,
            "input_spec": null,
            "institution_id": "ins_109508",
            "logo": null,
            "mfa": [
              "code",
              "list",
              "questions",
              "selections"
            ],
            "mfa_code_type": "numeric",
            "name": "First Platypus Bank",
            "primary_color": "#0075a3",
            "products": [
              "assets",
              "auth",
              "balance",
              "transactions",
              "credit_details",
              "holdings",
              "income",
              "identity",
              "investments",
              "liabilities"
            ],
            "routing_numbers": [],
            "url": "https://www.plaid.com/",
            "oauth": false
          },
          "request_id": "483xjZEf63IU3ja"
        }
  recorded_at: Fri, 19 Jul 2019 21:23:31 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","options":{"include_optional_metadata":true},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institution": {
            "country_codes": [
              "US"
            ],
            "credentials": [],
            "has_mfa": true,
            "input_spec": null,
            "institution_id": "ins_109508",
            "logo": null,
            "mfa": [
              "code",
              "list",
              "questions",
              "selections"
            ],
            "mfa_code_type": "numeric",
            "name": "First Platypus Bank",
            "oauth": false,
            "primary_color": "#0075a3",
            "products": [
              "assets",
              "auth",
              "balance",
              "transactions",
              "credit_details",
              "income",
              "identity",
              "investments",
              "investments_auth",
              "liabilities",
              "sba_verification"
            ],
            "routing_numbers": [],
            "url": "https://www.plaid.com/"
          },
          "request_id": "um0UYjjAwOaSfoI"
        }
  recorded_at: Wed, 03 Jun 2020 23:39:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","country_codes":["US"],"options":{"include_optional_metadata":true},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2020-09-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institution": {
            "country_codes": [
              "US"
            ],
            "institution_id": "ins_109508",
            "logo": null,
            "name": "First Platypus Bank",
            "oauth": false,
            "primary_color": "#0075a3",
            "products": [
              "assets",
              "auth",
              "balance",
              "transactions",
              "credit_details",
              "income",
              "identity",
              "investments",
              "investments_auth",
              "liabilities",
              "liabilities_report",
              "sba_verification"
            ],
            "routing_numbers": [],
            "url": "https://www.plaid.com/"
          },
          "request_id": "bDmO2dtQk8cnuea"
        }
  recorded_at: Wed, 30 Sep 2020 23:29:37 GMT
recorded_with: VCR 4.0.0
