---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-fdd88597-b0bb-4d9f-9c93-0b79ed7506e5",
          "request_id": "j0uavlzOgRJ1gMC"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:52 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-fdd88597-b0bb-4d9f-9c93-0b79ed7506e5","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-781d587d-3502-40cf-9dbb-0eb97d1f0b7a",
          "item_id": "ge8D4kwWmWsq6ljk8vbgSZeaNjd96Wtg6xM4D",
          "request_id": "6mNBwd5X3KWS0cb"
        }
  recorded_at: Fri, 24 Jan 2020 22:06:52 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-781d587d-3502-40cf-9dbb-0eb97d1f0b7a","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "investments_auth",
              "liabilities"
            ],
            "billed_products": [
              "transactions"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "ge8D4kwWmWsq6ljk8vbgSZeaNjd96Wtg6xM4D",
            "webhook": ""
          },
          "request_id": "h98Z2ZUedUuPsIe",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": null
            }
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:06:53 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/balance/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-781d587d-3502-40cf-9dbb-0eb97d1f0b7a","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "noK6Zwmn8nT17NL6JgAVS7956KlpwjT6eB8N1",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "b41RBgeWmWcoJmd38nb6S9Wa5NXzpZsVxwG1D",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/balance/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-781d587d-3502-40cf-9dbb-0eb97d1f0b7a","options":{"account_ids":["noK6Zwmn8nT17NL6JgAVS7956KlpwjT6eB8N1"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "a[...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-781d587d-3502-40cf-9dbb-0eb97d1f0b7a","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "kP4NfiU2uJGNmc9"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:00 GMT
recorded_with: VCR 4.0.0
