---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id"},"client_name":"Plaid
        Test","products":["auth","transactions"],"country_codes":null,"language":null,"locale":null,"webhook":null,"access_token":null,"link_customization_name":null,"redirect_uri":null,"android_package_name":null,"institution_id":null,"account_filters":null,"cross_app_item_add":null,"payment_initiation":null,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2020-07-09T03:14:18Z",
          "request_id": "0Ab4GBlNaRXv9tG",
          "token": "link-sandbox-1d9353d6-8ea5-41a7-b4a9-cf0926ea4bcd"
        }
  recorded_at: Wed, 08 Jul 2020 03:14:17 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id"},"client_name":"Plaid
        Test","products":["auth","transactions"],"country_codes":null,"language":null,"webhook":null,"access_token":null,"link_customization_name":null,"redirect_uri":null,"android_package_name":null,"account_filters":null,"cross_app_item_add":null,"payment_initiation":null,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2020-07-10T17:35:06Z",
          "link_token": "link-sandbox-33d6abcf-5508-4208-8e38-583cf4bf9154",
          "request_id": "zfim2zCmCpo2o8I"
        }
  recorded_at: Thu, 09 Jul 2020 17:35:05 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id"},"client_name":"Plaid
        Test","products":["auth","transactions"],"country_codes":["GB"],"language":"en","webhook":null,"access_token":null,"link_customization_name":null,"redirect_uri":null,"android_package_name":null,"account_filters":null,"cross_app_item_add":null,"payment_initiation":null,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2020-09-08T20:39:27Z",
          "link_token": "link-sandbox-fad0aea8-9722-46f0-87ca-50e9bc911add",
          "request_id": "3bwlqy1uFBijXwy"
        }
  recorded_at: Tue, 08 Sep 2020 16:39:26 GMT
recorded_with: VCR 4.0.0
