---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/add_token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "add_token": "item-add-sandbox-ed01b40a-5572-46c6-8df8-3466d46d3b0a",
          "expiration": "2020-03-19T04:52:51.808167609Z",
          "request_id": "KNXc4GUtdi1dWPx"
        }
  recorded_at: Wed, 18 Mar 2020 04:52:51 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/add_token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "add_token": "item-add-sandbox-4f5b4746-6918-4e34-811f-5eee218b94b1",
          "expiration": "2020-06-04T23:38:38.158820031Z",
          "request_id": "ouI5TYZp9oh3z3Z"
        }
  recorded_at: Wed, 03 Jun 2020 23:38:38 GMT
recorded_with: VCR 4.0.0
