---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"mfa_questions_1_1"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 210
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-99199d9a-35b8-41f2-8558-33b88895b646",
          "device": null,
          "device_list": null,
          "mfa_type": "questions",
          "questions": [
            "What is the answer to question_0_0?"
          ],
          "request_id": "MjVMp",
          "selections": null
        }
  recorded_at: Fri, 16 Mar 2018 02:19:33 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/mfa
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-99199d9a-35b8-41f2-8558-33b88895b646","mfa_type":"questions","responses":["answer_0_0"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "ZXy4MbzEP6SEy6xz7vrxhN4vyWo9rJTdenvb1",
            "webhook": ""
          },
          "request_id": "dHkvo"
        }
  recorded_at: Fri, 16 Mar 2018 02:19:36 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-99199d9a-35b8-41f2-8558-33b88895b646","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "bAymm"
        }
  recorded_at: Fri, 16 Mar 2018 02:19:39 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/mfa
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-9aac6161-b05d-4dd3-ad7c-7fcf6202729b","mfa_type":"questions","responses":["answer_0_0"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "KjVJWvELVGcXRPykPQvvIlmEGleyrlFVP4EWQ",
            "webhook": ""
          },
          "request_id": "9M3NXBcGR5IvxV2"
        }
  recorded_at: Tue, 27 Nov 2018 16:11:21 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-7ff8af36-2ffc-4062-aab3-5b33d5c27c3a","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "L5W4IKwyUa96ciY"
        }
  recorded_at: Tue, 27 Nov 2018 16:15:33 GMT
recorded_with: VCR 4.0.0
