---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-d917fc67-1d16-49d5-98a9-a22bd4957a60","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-b7c55e7c-12ac-4011-9938-9462e65b4681",
          "item_id": "pNr6nlLX6BHGG5bKgJK3H659dmwp16tLlnZ6z",
          "request_id": "DvSTxO1HHchs5Hl"
        }
  recorded_at: Wed, 22 May 2019 19:11:17 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/item/fire_webhook
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b7c55e7c-12ac-4011-9938-9462e65b4681","webhook_code":"DEFAULT_UPDATE","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "request_id": "HGTxW8W6hz8S6rt",
          "webhook_fired": true
        }
  recorded_at: Wed, 22 May 2019 19:11:17 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{"webhook":"https://httpstat.us/200"},"public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "public_key must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "9KDq0tDxinIhdvy",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:18 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/item/fire_webhook
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-7b9a0fea-fb14-4e0d-a97b-9d85a4097f15","webhook_code":"DEFAULT_UPDATE","client_id":"58b9a231bdc6a453f37c338f","secret":"e60cac68bf07eba47e819b9ac45e01"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "request_id": "XGxaDBK3YFTEzz5",
          "webhook_fired": true
        }
  recorded_at: Wed, 19 Jun 2019 19:48:18 GMT
recorded_with: VCR 4.0.0
