---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-0cb84a00-86df-4f28-bac5-32fa9a51611e",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "QLGg66A4y7cGJEdWkMlxUj4xz6r43bFpQ8P8x",
            "webhook": ""
          },
          "request_id": "w9yBpjUwDbEHWLj"
        }
  recorded_at: Thu, 16 May 2019 06:51:00 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/item/reset_login
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-0cb84a00-86df-4f28-bac5-32fa9a51611e","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "request_id": "qPXyIjpA07K2dSB",
          "reset_login": true
        }
  recorded_at: Thu, 16 May 2019 06:51:03 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/credentials/update
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-0cb84a00-86df-4f28-bac5-32fa9a51611e","credentials":{"username":"user_good","password":"pass_good"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "QLGg66A4y7cGJEdWkMlxUj4xz6r43bFpQ8P8x",
            "webhook": ""
          },
          "request_id": "DKI275tWR8QFDKh"
        }
  recorded_at: Thu, 16 May 2019 06:51:05 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-0cb84a00-86df-4f28-bac5-32fa9a51611e","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "HYiJjZ25Aq393ZE"
        }
  recorded_at: Thu, 16 May 2019 06:51:06 GMT
recorded_with: VCR 4.0.0
