---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"public_key":"f149f72f9caae670aa7e1386b10103"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-251bc96c-dcec-4c8e-a848-7c203bde3e33",
          "request_id": "O0fsg9kSNrJqE8B"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:44 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-251bc96c-dcec-4c8e-a848-7c203bde3e33","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-a7bb2ff5-7fdb-4d0b-8de8-6ba92197b5ab",
          "item_id": "yg47zN5dAEtGQjDldAMlSpvobjxGPQFy9bJBz",
          "request_id": "Fd8ijz9LL5lZxS4"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:45 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-a7bb2ff5-7fdb-4d0b-8de8-6ba92197b5ab","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "investments_auth",
              "liabilities"
            ],
            "billed_products": [
              "transactions"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "yg47zN5dAEtGQjDldAMlSpvobjxGPQFy9bJBz",
            "webhook": ""
          },
          "request_id": "RVjukUVxhhRJIwE",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": null
            }
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:05:45 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-a7bb2ff5-7fdb-4d0b-8de8-6ba92197b5ab","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2020-01-24T22:35:46Z",
          "public_token": "public-sandbox-b509d204-5fda-45c0-b03d-b0361eed7d30",
          "request_id": "PwUubrGTm9ya0IO"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:45 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-a7bb2ff5-7fdb-4d0b-8de8-6ba92197b5ab","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "Ll0uU1elH1QtOCP"
        }
  recorded_at: Fri, 24 Jan 2020 22:05:46 GMT
recorded_with: VCR 4.0.0
