---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-6a505352-6c5c-45de-b1a1-c9764ed7d18b",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "qMkLnnJqQpIqemgGw8akTA6a1azaD9S4g85NQ",
            "webhook": ""
          },
          "request_id": "T9yut"
        }
  recorded_at: Fri, 16 Mar 2018 02:18:22 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-6a505352-6c5c-45de-b1a1-c9764ed7d18b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "expiration": "2018-03-16T02:48:24Z",
          "public_token": "public-sandbox-f43cdaa3-af76-4b03-94fb-5aeb3c148ee7",
          "request_id": "5iZBz"
        }
  recorded_at: Fri, 16 Mar 2018 02:18:24 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-f43cdaa3-af76-4b03-94fb-5aeb3c148ee7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-6a505352-6c5c-45de-b1a1-c9764ed7d18b",
          "item_id": "qMkLnnJqQpIqemgGw8akTA6a1azaD9S4g85NQ",
          "request_id": "XaeP6"
        }
  recorded_at: Fri, 16 Mar 2018 02:18:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-6a505352-6c5c-45de-b1a1-c9764ed7d18b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "v8112"
        }
  recorded_at: Fri, 16 Mar 2018 02:18:27 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-15c2963a-4319-47ea-b288-bc194344d8a3","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2019-05-16T06:48:01Z",
          "public_token": "public-sandbox-6c9ee63e-efb7-467e-8712-9f81be392c7f",
          "request_id": "I4zuxPhJd6MrMwT"
        }
  recorded_at: Thu, 16 May 2019 06:18:01 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-ea317364-3637-454d-9eba-a16adf842e95","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "VAyIRUFgriJ8BoD"
        }
  recorded_at: Thu, 16 May 2019 06:38:57 GMT
recorded_with: VCR 4.0.0
