---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-5c54be62-70d4-4c07-aa88-cc6d7a75ef3e",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "dKxPqxgBzWi3v6Ew9vXWiK5dwmB7eehZ3o7W5",
            "webhook": ""
          },
          "request_id": "RxoT5UuzVRhtEbW"
        }
  recorded_at: Tue, 21 May 2019 18:25:34 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-5c54be62-70d4-4c07-aa88-cc6d7a75ef3e","start_date":"ABCDEFG1234567","end_date":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "start_date must be a string of the format 'YYYY-MM-DD'",
          "error_type": "INVALID_REQUEST",
          "request_id": "RSeNXwqIffWer1q",
          "suggested_action": null
        }
  recorded_at: Tue, 21 May 2019 18:25:35 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-5c54be62-70d4-4c07-aa88-cc6d7a75ef3e","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "WXX9TKQwV4vClqT"
        }
  recorded_at: Tue, 21 May 2019 18:25:35 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01"}},"public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "public_key must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "8ajpJ6pP2VR8ihZ",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:07 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-8efda52a-4e36-4988-b16e-da612f010606","client_id":"PLAID_RUBY_CLIENT_ID","secret":"4718457c95d8d2d42518cfd3607c78"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_API_KEYS",
          "error_message": "invalid client_id or secret provided",
          "error_type": "INVALID_INPUT",
          "request_id": "8bENUlkIm8vPqIb",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:43:25 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b55eee8f-c3dd-496e-9235-a6d777a033f8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "wp4m7W7GWgINJRkym8ZltDB7LW6bqgcrwXrrr",
            "webhook": ""
          },
          "request_id": "FBLqLz1JJgFjv2N",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": null
            }
          }
        }
  recorded_at: Wed, 19 Jun 2019 17:48:57 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-1a5f3903-6d17-47e3-af3f-54c76fdc2a0f","client_id":"58b9a231bdc6a453f37c338f","secret":"e60cac68bf07eba47e819b9ac45e01"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "CjGfLiS5H3b2aTP"
        }
  recorded_at: Wed, 19 Jun 2019 19:47:01 GMT
recorded_with: VCR 4.0.0
