---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/update_version
    body:
      encoding: UTF-8
      string: '{"access_token_v1":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "access_token_v1 must be a non-empty, 160 character, hexadecimal string",
          "error_type": "INVALID_REQUEST",
          "request_id": "ZsdJ1dXvbMzqMil",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:57:22 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/update_version
    body:
      encoding: UTF-8
      string: '{"access_token_v1":"ABCDEFG1234567","client_id":"5d4db4be55135b001480afd5","secret":"4c4cd56f846ec206a4d2cf35b341d5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "access_token_v1 must be a non-empty, 160 character, hexadecimal string",
          "error_type": "INVALID_REQUEST",
          "request_id": "YNmlLAC7cW2SwVJ",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 21:39:40 GMT
recorded_with: VCR 4.0.0
