---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-961a7e25-9ff1-4d16-819d-6c79030bb752",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "RqmBvkp7xRCnQ9gl8MlbFZmkvwRqabtXL39mA",
            "webhook": ""
          },
          "request_id": "FPcZH"
        }
  recorded_at: Wed, 12 Jul 2017 12:05:46 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-961a7e25-9ff1-4d16-819d-6c79030bb752","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "BJewE1BV3rh9LV3eA7eluZLpvj1A74iwjQGPR",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "3MlP4zE89QC5N7vMGQMytNQ8eabAXocqRBapG",
              "balances": {
                "available": 200,
                "current": 210,
                "limit": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
              "subtype": "savings",
              "type": "depository"
            },
            {
  [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-961a7e25-9ff1-4d16-819d-6c79030bb752","options":{"account_ids":["BJewE1BV3rh9LV3eA7eluZLpvj1A74iwjQGPR"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "accounts": [
            {
              "account_id": "BJewE1BV3rh9LV3eA7eluZLpvj1A74iwjQGPR",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            }
          ],
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "RqmBvkp7xRCnQ9gl8MlbFZmkvwRqabtXL39mA",
            "webhook": ""
          },
          "request_id": "vGGRs"
        }
  recorded_at: Wed, 12 Jul 2017 12:05:48 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/delete
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-961a7e25-9ff1-4d16-819d-6c79030bb752","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "KghxP"
        }
  recorded_at: Wed, 12 Jul 2017 12:05:51 GMT
recorded_with: VCR 3.0.3
