---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id","legal_name":"John Doe","phone_number":"+1
        415 555 0123","phone_number_verified_time":"2020-01-01T00:00:00Z","email_address":"example@plaid.com","email_address_verified_time":"2020-01-01T00:00:00Z"},"client_name":"Plaid
        Test","products":["auth","transactions"],"country_codes":["GB"],"language":"en","locale":null,"webhook":"https://sample-webhook.com","access_token":null,"link_customization_name":null,"redirect_uri":null,"android_package_name":null,"institution_id":null,"account_filters":{"depository":{"account_subtypes":["checking","savings"]}},"cross_app_item_add":null,"payment_initiation":null,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2020-07-09T03:14:18Z",
          "request_id": "IFWsu9aoM5Fcefm",
          "token": "link-sandbox-8db1d1a3-c8d2-4a51-bc2d-ff3508af124f"
        }
  recorded_at: Wed, 08 Jul 2020 03:14:18 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id","legal_name":"John Doe","phone_number":"+1
        415 555 0123","phone_number_verified_time":"2020-01-01T00:00:00Z","email_address":"example@plaid.com","email_address_verified_time":"2020-01-01T00:00:00Z"},"client_name":"Plaid
        Test","products":["auth","transactions"],"country_codes":["GB"],"language":"en","webhook":"https://sample-webhook.com","access_token":null,"link_customization_name":"default","redirect_uri":null,"android_package_name":null,"account_filters":{"depository":{"account_subtypes":["checking","savings"]}},"cross_app_item_add":null,"payment_initiation":null,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2020-07-10T17:35:05Z",
          "link_token": "link-sandbox-21142370-37e5-4c1d-8254-fe9eb736a05e",
          "request_id": "SxCD1Sb8k8vyNZ8"
        }
  recorded_at: Thu, 09 Jul 2020 17:35:05 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id","legal_name":"John Doe","phone_number":"+1
        415 555 0123","phone_number_verified_time":"2020-01-01T00:00:00Z","email_address":"example@plaid.com","email_address_verified_time":"2020-01-01T00:00:00Z"},"client_name":"Plaid
        Test","products":["auth","transactions"],"country_codes":["GB"],"language":"en","webhook":"https://sample-webhook.com","access_token":null,"link_customization_name":"default","redirect_uri":null,"android_package_name":null,"account_filters":{"depository":{"account_subtypes":["checking","savings"]}},"cross_app_item_add":null,"payment_initiation":null,"client_id":"58c07d9e4e95b83268321242","secret":"67ec85d024f3512101a1ba5a4ef00f"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2020-07-18T05:19:45Z",
          "link_token": "link-sandbox-e98b7238-8a53-4579-bccd-e7ba0f1a3158",
          "request_id": "683zlHF2nMm9VwC"
        }
  recorded_at: Fri, 17 Jul 2020 05:19:44 GMT
recorded_with: VCR 6.0.0
