---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ABCDEFG1234567","public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "public_key must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "0yfDIznLBbSTsOH",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:24 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ABCDEFG1234567","public_key":"5cbfbd8ca018fb3f318df84d5ab6fe"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_INSTITUTION",
          "error_message": "invalid institution_id provided",
          "error_type": "INVALID_INPUT",
          "request_id": "fmUN9rnBeg8pZSk",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 19:48:55 GMT
recorded_with: VCR 4.0.0
