---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":null,"secret":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "client_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "3nodN"
        }
  recorded_at: Fri, 16 Mar 2018 11:48:02 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-1f6063f8-72e2-4812-bddb-6feadcd98315","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "zCuRd"
        }
  recorded_at: Fri, 16 Mar 2018 11:49:41 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/dwolla/bank_account_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-90596ee4-1f49-45d4-b977-3d5495c4aa85","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "NOT_FOUND",
          "error_message": "invalid route: /processor/dwolla/bank_account_token/create",
          "error_type": "INVALID_REQUEST",
          "request_id": "peVuo"
        }
  recorded_at: Fri, 16 Mar 2018 11:50:44 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-51633cd4-df2d-4d99-882c-7b5556dd8770",
          "item": {
            "available_products": [
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "X7PrzGP8WKszyeradKeaCXQ4klV1XZuVnJjnxK",
            "webhook": ""
          },
          "request_id": "D5Tsv"
        }
  recorded_at: Fri, 16 Mar 2018 11:51:48 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/dwolla/processor_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-51633cd4-df2d-4d99-882c-7b5556dd8770","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "j1n0K"
        }
  recorded_at: Fri, 16 Mar 2018 11:51:50 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-bd63c57c-65f6-4fdf-af53-7c2bc4ca4460","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "5HXnL"
        }
  recorded_at: Fri, 16 Mar 2018 11:57:16 GMT
recorded_with: VCR 3.0.3
