---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-faae6041-8f20-4cbc-b762-13a353b2bd24",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "MeRvqQKpGGSBdN3yPvjXsngxqQ984Bi9KV8bd",
            "webhook": ""
          },
          "request_id": "0THrtLOWKreFxnq"
        }
  recorded_at: Tue, 21 May 2019 18:25:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-faae6041-8f20-4cbc-b762-13a353b2bd24","start_date":"2016-01-01","end_date":"2017-01-01","options":{"count":"ABCDEFG1234567","offset":"ABCDEFG1234567"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "options.count must be an integer",
          "error_type": "INVALID_REQUEST",
          "request_id": "8Rfrq5lp0wJ5Hxa",
          "suggested_action": null
        }
  recorded_at: Tue, 21 May 2019 18:25:24 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-faae6041-8f20-4cbc-b762-13a353b2bd24","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "0YccQVkG52FS4qE"
        }
  recorded_at: Tue, 21 May 2019 18:25:24 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01"}},"public_key":null}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "public_key must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "hEfl6ImjdkR1d7z",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:35:08 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-9716c8ea-8d41-4435-b95f-e96f70678c90","client_id":"PLAID_RUBY_CLIENT_ID","secret":"4718457c95d8d2d42518cfd3607c78"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_API_KEYS",
          "error_message": "invalid client_id or secret provided",
          "error_type": "INVALID_INPUT",
          "request_id": "81SCAReEtDC3T91",
          "suggested_action": null
        }
  recorded_at: Wed, 19 Jun 2019 17:43:26 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-4789274f-fda2-43f9-b2f9-981b65311d64","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "dBrnBJy4aBH8ZDEk9pJzSl5RgpNnMLFZK1ZZo",
            "webhook": ""
          },
          "request_id": "fv49QxyhEGqkPuN",
          "status": {
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": null
            }
          }
        }
  recorded_at: Wed, 19 Jun 2019 17:48:51 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-2c02b9ed-48b8-48cf-8971-b83c78931170","client_id":"58b9a231bdc6a453f37c338f","secret":"e60cac68bf07eba47e819b9ac45e01"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "HalSLplDJVMw4di"
        }
  recorded_at: Wed, 19 Jun 2019 19:47:21 GMT
recorded_with: VCR 4.0.0
