---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["investments"],"options":{"transactions":{"start_date":"2019-05-28","end_date":"2019-06-12"}},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-2e7f172e-572c-418f-9de6-52fc893ec5c4",
          "request_id": "YJcpUUZF1opYkLC"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:38 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-2e7f172e-572c-418f-9de6-52fc893ec5c4","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-5a913de1-113b-4259-8eb0-a0eedecd3fe2",
          "item_id": "qK1wGW4kMoUnlPmXzwl3hvjN1VMzbvtdEla1W",
          "request_id": "D3hBcIfVALcysiS"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:38 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-5a913de1-113b-4259-8eb0-a0eedecd3fe2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments_auth",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "investments"
            ],
            "consent_expiration_time": null,
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "qK1wGW4kMoUnlPmXzwl3hvjN1VMzbvtdEla1W",
            "webhook": ""
          },
          "request_id": "ZBE6EpTMdmxXzId",
          "status": {
            "investments": {
              "last_failed_update": null,
              "last_successful_update": "2020-01-24T22:07:37.698Z"
            },
            "last_webhook": null
          }
        }
  recorded_at: Fri, 24 Jan 2020 22:07:38 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-5a913de1-113b-4259-8eb0-a0eedecd3fe2","start_date":"2019-05-28","end_date":"2019-06-12","options":{"count":"ABCDEFG1234567","offset":"ABCDEFG1234567"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "options.count must be an integer",
          "error_type": "INVALID_REQUEST",
          "request_id": "ma4AxGEW5FMR2yA",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 22:07:39 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-5a913de1-113b-4259-8eb0-a0eedecd3fe2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "JpKnkQQbj3sO3wv"
        }
  recorded_at: Fri, 24 Jan 2020 22:07:39 GMT
recorded_with: VCR 4.0.0
