---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["credit_details"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-6dc51488-869e-43e1-ad4f-ba36124e37ae",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "zXexMdVEM1CzmV1dzNqJH3KkZlaM55IwKWV49",
            "webhook": ""
          },
          "request_id": "RS3Jl"
        }
  recorded_at: Wed, 12 Jul 2017 12:30:26 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-6dc51488-869e-43e1-ad4f-ba36124e37ae","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "mnKZLp7BLwfVKamDVdlxsRlpKVgjnjtLdNV5o",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "yn7z3xyZ3RfWznVXWPmRFaJNpWmrArtyXm7Q3",
              "balances": {
                "available": 200,
                "current": 210,
                "limit": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
              "subtype": "savings",
              "type": "depository"
            },
            {
              "account_id": "9EzNVpDgVjsR1g6nRVJ5szaJPdMNgNuRQ1Xm8",
              "balances": {
                "available": null,
                "current": 1000,
                "limit": null
              },
              "mask": "2222",
              "name": "Plaid CD",
              "official_name": "Plaid Bronze Standard 0.2% Interest CD",
              "subtype": "cd",
              "type": "depository"
            },
            {
              "account_id": "vnN95zy75JfAReaXANbJf5PR4eB3r3hWkm9Dm",
              "balances": {
                "available": null,
                "current": 410,
                "limit": 2000
              },
              "mask": "3333",
              "name": "Plaid Credit Card",
              "official_name": "Plaid Diamond 12.5% APR Interest Credit Card",
              "subtype": "credit",
              "type": "credit"
            }
          ],
          "credit_details": [
            {
              "account_id": "vnN95zy75JfAReaXANbJf5PR4eB3r3hWkm9Dm",
              "aprs": {
                "balance_transfers": {
                  "apr": 0.125,
                  "balance_subject_to_apr": 1200,
                  "interest_charge_amount": 150
                },
                "cash_advances": {
                  "apr": 0.165,
                  "balance_subject_to_apr": 0,
                  "interest_charge_amount": 0
                },
                "purchases": {
                  "apr": 0.125,
                  "balance_subject_to_apr": 1650,
                  "interest_charge_amount": 206.25
                }
              },
              "last_payment_amount": 875,
              "last_payment_date": "2016-09-13T00:00:00Z",
              "last_statement_balance": 3450,
              "last_statement_date": "2016-10-01T00:00:00Z",
              "minimum_payment_amount": 800,
              "next_bill_due_date": "2016-10-15T00:00:00Z"
            }
          ],
          "item": {
            "available_products": [
              "auth",
              "balance",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "zXexMdVEM1CzmV1dzNqJH3KkZlaM55IwKWV49",
            "webhook": ""
          },
          "request_id": "bCqca"
        }
  recorded_at: Wed, 12 Jul 2017 12:30:27 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-6dc51488-869e-43e1-ad4f-ba36124e37ae","options":{"account_ids":["vnN95zy75JfAReaXANbJf5PR4eB3r3hWkm9Dm"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "vnN95zy75JfAReaXANbJf5PR4eB3r3hWkm9Dm",
              "balances": {
                "a[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-6dc51488-869e-43e1-ad4f-ba36124e37ae","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "NoY9q"
        }
  recorded_at: Wed, 12 Jul 2017 12:30:30 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["credit_details"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-d08878a2-9203-434c-8ae9-8a3953c4be7d",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "blv3knqEXjFdprXjd37Ns4ZPGRRym5igEARmg",
            "webhook": ""
          },
          "request_id": "FkIo9"
        }
  recorded_at: Tue, 10 Oct 2017 11:34:56 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d08878a2-9203-434c-8ae9-8a3953c4be7d","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "deleted": true,
          "request_id": "FSUt0"
        }
  recorded_at: Tue, 10 Oct 2017 11:35:00 GMT
recorded_with: VCR 3.0.3
