---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get
    body:
      encoding: UTF-8
      string: '{"count":3,"offset":1,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "institutions": [
            {
              "credentials": [
                {
                  "label": "User ID",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
              ],
              "has_mfa": false,
              "institution_id": "ins_10",
              "mfa": [],
              "name": "American Express",
              "products": [
                "assets",
                "balance",
                "transactions",
                "income"
              ]
            },
            {
              "credentials": [
                {
                  "label": "Online ID",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
             [...]
