---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get
    body:
      encoding: UTF-8
      string: '{"count":"ABCDEFG1234567","offset":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "count must be an integer",
          "error_type": "INVALID_REQUEST",
          "request_id": "WICp3VeFlN2T1DN",
          "suggested_action": null
        }
  recorded_at: Fri, 19 Jul 2019 21:23:37 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get
    body:
      encoding: UTF-8
      string: '{"count":"ABCDEFG1234567","offset":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "count must be an integer",
          "error_type": "INVALID_REQUEST",
          "request_id": "NYtwzqRMejo6lPK",
          "suggested_action": null
        }
  recorded_at: Fri, 24 Jan 2020 21:48:00 GMT
recorded_with: VCR 4.0.0
