---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["assets"],"options":{},"client_id":"560a1ea51abbf9e13f581f6b","secret":"d61278b105a23db347f4f887bcdb18"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-3f3e43df-00e5-4f6f-acd4-740c6a3a82cd",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "assets"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "A7w3ZQmV6dFPq1MGm6ZkcMDNXxa6PBI1kbMD1",
            "webhook": ""
          },
          "request_id": "Wc58j"
        }
  recorded_at: Tue, 19 Jun 2018 01:29:20 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/create
    body:
      encoding: UTF-8
      string: '{"access_tokens":["access-sandbox-3f3e43df-00e5-4f6f-acd4-740c6a3a82cd"],"days_requested":60,"options":{"client_report_id":"123","webhook":"https://www.example.com","user":{"client_user_id":"789","first_name":"Jane","middle_name":"Leah","last_name":"Doe","ssn":"123-45-6789","phone_number":"(555)
        123-4567","email":"jane.doe@example.com"}},"client_id":"560a1ea51abbf9e13f581f6b","secret":"d61278b105a23db347f4f887bcdb18"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: UTF-8
      string: |-
        {
          "asset_report_id": "abc85faf-e986-4a3e-be9d-687bc2b9740f",
          "asset_report_token": "assets-sandbox-bd1933ff-bf8e-4afa-8b9f-27274dbe36ee",
          "request_id": "sP0vQ"
        }
  recorded_at: Tue, 19 Jun 2018 01:29:21 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-bd1933ff-bf8e-4afa-8b9f-27274dbe36ee","client_id":"560a1ea51abbf9e13f581f6b","secret":"d61278b105a23db347f4f887bcdb18"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ASSET_REPORT_ERROR",
          "request_id": "xT5qD"
        }
  recorded_at: Tue, 19 Jun 2018 01:29:21 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-bd1933ff-bf8e-4afa-8b9f-27274dbe36ee","client_id":"560a1ea51abbf9e13f581f6b","secret":"d61278b105a23db347f4f887bcdb18"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "abc85faf-e986-4a3e-be9d-687bc2b9740f",
            "client_report_id": "123",
            "date_generated": "2018-06-19T01:29:27Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "DZnaLRvq6NfA8nMg7Z5zf4jb5eyyNgivqdG35",
                    "balances": {
                      "available": 100,
                      "current": 110,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 59,
                    "historical_balances": [
                      {
                        "current": 110,
                        "date": "2018-06-18",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 110,
                        "date": "2018-06-17",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 110,
                        "date": "2018-06-16[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-3f3e43df-00e5-4f6f-acd4-740c6a3a82cd","client_id":"560a1ea51abbf9e13f581f6b","secret":"d61278b105a23db347f4f887bcdb18"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "jYTT8"
        }
  recorded_at: Tue, 19 Jun 2018 01:29:28 GMT
recorded_with: VCR 4.0.0
