---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["ABCDEFG1234567"],"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "invalid product in products: \"ABCDEFG1234567\"",
          "error_type": "INVALID_INPUT",
          "request_id": "Yqjaf"
        }
  recorded_at: Fri, 16 Mar 2018 02:21:03 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["ABCDEFG1234567"],"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "invalid product in products: \"ABCDEFG1234567\"",
          "error_type": "INVALID_INPUT",
          "request_id": "Ra0tZEcQzAsjT8I",
          "suggested_action": null
        }
  recorded_at: Thu, 16 May 2019 06:37:25 GMT
recorded_with: VCR 4.0.0
