---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["auth"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-0bf7b82f-b9b4-4e3e-8e64-8005c4d3dcab",
          "item": {
            "available_products": [
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "kZdKvE9vWBSarw3yDDLVI8mMRGWoDvUyLr3zE",
            "webhook": ""
          },
          "request_id": "k8aJU"
        }
  recorded_at: Fri, 16 Mar 2018 02:17:03 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/auth/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-0bf7b82f-b9b4-4e3e-8e64-8005c4d3dcab","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "GL7lJZ9JDXIAobv3GG8nSN4JKjRa39SEXpBnd",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "r8eavEzvnPUgl4BwbbX8s6xpyn8eNkH8wWobe",
              "balances": {
                "available": 200,
                "current": 210,
                "limit": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
              "subtype": "savings",
              "type": "depository"
            },
            {
  [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/auth/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-0bf7b82f-b9b4-4e3e-8e64-8005c4d3dcab","options":{"account_ids":["GL7lJZ9JDXIAobv3GG8nSN4JKjRa39SEXpBnd"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "accounts": [
            {
              "account_id": "GL7lJZ9JDXIAobv3GG8nSN4JKjRa39SEXpBnd",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            }
          ],
          "item": {
            "available_products": [
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "kZdKvE9vWBSarw3yDDLVI8mMRGWoDvUyLr3zE",
            "webhook": ""
          },
          "numbers": [
            {
              "account": "1111222233330000",
              "account_id": "GL7lJZ9JDXIAobv3GG8nSN4JKjRa39SEXpBnd",
              "routing": "011401533",
              "wire_routing": "021000021"
            }
          ],
          "request_id": "fDZrH"
        }
  recorded_at: Fri, 16 Mar 2018 02:17:05 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-0bf7b82f-b9b4-4e3e-8e64-8005c4d3dcab","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "liIwf"
        }
  recorded_at: Fri, 16 Mar 2018 02:17:09 GMT
recorded_with: VCR 3.0.3
