---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["auth"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-829bb45f-a55e-417c-93fe-02ba415cbaed",
          "request_id": "o4ZlH7AfqKIOpnt"
        }
  recorded_at: Thu, 05 Dec 2019 08:12:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-829bb45f-a55e-417c-93fe-02ba415cbaed","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-c693b558-7ad6-4b52-bb9c-33274a75b8a7",
          "item_id": "y1gm5N6NjAiKyzEDwgZLuJdjR1KMldcyd8bjW",
          "request_id": "9u9FVZ3KVRXDHlG"
        }
  recorded_at: Thu, 05 Dec 2019 08:12:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c693b558-7ad6-4b52-bb9c-33274a75b8a7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "balance",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "auth"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "y1gm5N6NjAiKyzEDwgZLuJdjR1KMldcyd8bjW",
            "webhook": ""
          },
          "request_id": "HvnAEj5wMhVgzT4",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Thu, 05 Dec 2019 08:12:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/modern_treasury/processor_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c693b558-7ad6-4b52-bb9c-33274a75b8a7","account_id":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "account_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "9GxUsYO7Npp3zgP",
          "suggested_action": null
        }
  recorded_at: Thu, 05 Dec 2019 08:12:24 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-c693b558-7ad6-4b52-bb9c-33274a75b8a7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "yI4r1MXUTpHajFH"
        }
  recorded_at: Thu, 05 Dec 2019 08:12:24 GMT
recorded_with: VCR 4.0.0
