---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/get_by_id
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","options":{"include_optional_metadata":true},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "institution": {
            "credentials": [
              {
                "label": "Username",
                "name": "username",
                "type": "text"
              },
              {
                "label": "Password",
                "name": "password",
                "type": "password"
              }
            ],
            "has_mfa": true,
            "institution_id": "ins_109508",
            "logo": null,
            "mfa": [
              "code",
              "list",
              "questions",
              "selections"
            ],
            "name": "First Platypus Bank",
            "primary_color":  "#095aa6",
            "products": [
              "assets",
              "auth",
              "balance",
              "transactions",
              "credit_details",
              "income",
              "identity"
            ],
            "url": "https://plaid.com"
          },
          "request_id": "Z3WOJ"
        }
  recorded_at: Fri, 16 Mar 2018 02:20:57 GMT
recorded_with: VCR 3.0.3
