---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"mfa_selections"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 210
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-aa64cae0-7c4f-4889-948d-e5a836b462f8",
          "device": null,
          "device_list": null,
          "mfa_type": "selections",
          "questions": null,
          "request_id": "U23bx",
          "selections": [
            {
              "answers": [
                "tomato",
                "potato"
              ],
              "question": "You say tomato, I say...?"
            },
            {
              "answers": [
                "ketchup",
                "mustard"
              ],
              "question": "Ketchup or mustard?"
            }
          ]
        }
  recorded_at: Fri, 16 Mar 2018 02:18:50 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/mfa
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-aa64cae0-7c4f-4889-948d-e5a836b462f8","mfa_type":"selections","responses":["tomato","ketchup"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "7mAdglBJrrtvGWN7Aa7KhoBMLaAr7bu7d4aMD",
            "webhook": ""
          },
          "request_id": "qWsJN"
        }
  recorded_at: Fri, 16 Mar 2018 02:18:53 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-aa64cae0-7c4f-4889-948d-e5a836b462f8","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "gMy6g"
        }
  recorded_at: Fri, 16 Mar 2018 02:18:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"mfa_selections"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 210
      message: status code 210
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-73074762-d6e0-4359-9eff-577e65e66d16",
          "device": null,
          "device_list": null,
          "mfa_type": "selections",
          "questions": null,
          "request_id": "XGG9dRHuKhx5XME",
          "selections": [
            {
              "answers": [
                "tomato",
                "potato"
              ],
              "question": "You say tomato, I say...?"
            },
            {
              "answers": [
                "ketchup",
                "mustard"
              ],
              "question": "Ketchup or mustard?"
            }
          ]
        }
  recorded_at: Fri, 16 Nov 2018 22:24:48 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-6d1b23e5-b999-4150-9391-3332bbec8412","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "RnVOwvAyjprAakH"
        }
  recorded_at: Fri, 16 Nov 2018 22:33:41 GMT
recorded_with: VCR 4.0.0
