---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/update_version
    body:
      encoding: UTF-8
      string: '{"access_token_v1":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "access_token_v1 must be a non-empty, 160 character, hexadecimal string",
          "error_type": "INVALID_REQUEST",
          "request_id": "L1hoC"
        }
  recorded_at: Fri, 16 Mar 2018 02:17:58 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/access_token/update_version
    body:
      encoding: UTF-8
      string: '{"access_token_v1":"ABCDEFG1234567","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "access_token_v1 must be a non-empty, 160 character, hexadecimal string",
          "error_type": "INVALID_REQUEST",
          "request_id": "S7nXCFgdAKJxmN0"
        }
  recorded_at: Wed, 17 Oct 2018 18:46:13 GMT
recorded_with: VCR 4.0.0
