---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-79f4de2c-5a6b-4ec7-afe4-b96ae2114150",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "LJvJmWvm47f7KLPbyyEXUDwykvwGyjIVkgm98",
            "webhook": ""
          },
          "request_id": "ZJ70m"
        }
  recorded_at: Fri, 16 Mar 2018 02:20:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-79f4de2c-5a6b-4ec7-afe4-b96ae2114150","start_date":"2016-01-01","end_date":"2017-01-01","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "9JQJPxQPdpfKAqjNkkJesWrjLXkb8QtbALLWM",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "1QdQzGdz4jixoQB7rrw6iDb4xErBQ7sq7gJ88",
              "balances": {
                "available": 200,
                "current": 210,
                "limit": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
              "subtype": "savings",
              "type": "depository"
            },
            {
  [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-79f4de2c-5a6b-4ec7-afe4-b96ae2114150","start_date":"2016-01-01","end_date":"2017-01-01","options":{"account_ids":["9JQJPxQPdpfKAqjNkkJesWrjLXkb8QtbALLWM"]},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "9JQJPxQPdpfKAqjNkkJesWrjLXkb8QtbALLWM",
              "balances": {
                "available": 100,
                "current": 110,
                "limit": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            }
          ],
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "LJvJmWvm47f7KLPbyyEXUDwykvwGyjIVkgm98",
            "webhook": ""
          },
          "request_id": "ykrcj",
          "total_transactions": 77,
          "transactions": [
            {
              "account_id": "9JQJPxQPdpfKAqjNkkJesWrjLXkb8QtbALLWM",
              "account_owner": null,
              "amount": 5.4,
              "category": null,
              "category_id": null,
              "date": "2017-01-01",
              "location": {
                "address": null,
                "city": null,
                "lat": null,
                "lon": null,
                "state": null,
                "store_number": null,
                "zip": null
              },
              "name": "Uber 063015 SF**POOL**",
              "payment_meta": {
                "by_order_of": null,
                "payee": null,
                "payer": null,
                "payment_method": null,
                "payment_processor": null,
                "ppd_id": null,
                "reason": null,
                "reference_number": null
              },
              "pending": false,
              "pending_transaction_id": null,
              "transaction_id": "7o7o4B74a1TJA8GvllmosogDWkxRXkcRXZNAmo",
              "transaction_type": "unresolved"
            },
            {
              "account_id": "9JQJPxQPdpfKAqjNkkJesWrjLXkb8QtbALLWM",
              "account_owner": null,
              "amount": -500,
              "category": [
                "Travel",
                "Airlines and Aviation Services"
              ],
              "category_id": "22001000",
              "date": "2016-12-30",
              "location": {
                "address": null,
                "city": null,
                "lat": null,
    [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-79f4de2c-5a6b-4ec7-afe4-b96ae2114150","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "wHXhF"
        }
  recorded_at: Fri, 16 Mar 2018 02:20:31 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{"transactions":{"start_date":"2016-01-01","end_date":"2017-01-01","await_results":true}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-63b885b0-5144-4036-9493-30c64e5042c9",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "Rd88npqqanHVAVVaGVmrhG3oEG4bNghRqGQy4",
            "webhook": ""
          },
          "request_id": "2LhHG48VxgJhVmG"
        }
  recorded_at: Wed, 17 Oct 2018 18:47:17 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-63b885b0-5144-4036-9493-30c64e5042c9","start_date":"2016-01-01","end_date":"2017-01-01","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "eAvvnBLLGnf3d33ab36oI6NDEyRVDBFL4Gkpx",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "QxJJyLlldyUQAQQlGQbnH4EdKqp6dGFp5VevB",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit":[...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-63b885b0-5144-4036-9493-30c64e5042c9","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      plaid-version:
      - '2018-05-22'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "cEHs5BWWfV7uUyO"
        }
  recorded_at: Wed, 17 Oct 2018 18:47:19 GMT
recorded_with: VCR 4.0.0
