---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["assets"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-644e6000-3af3-4535-8a5a-df8414b27246",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "assets"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "o3MV7BXMJeFodwxWQXa5hxJBBJbZv6iR9abPP",
            "webhook": ""
          },
          "request_id": "GuNtVbTiCyM2ZPk"
        }
  recorded_at: Mon, 20 May 2019 20:52:09 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/create
    body:
      encoding: UTF-8
      string: '{"access_tokens":["access-sandbox-644e6000-3af3-4535-8a5a-df8414b27246"],"days_requested":60,"options":{"client_report_id":"123","webhook":"https://www.example.com","user":{"client_user_id":"789","first_name":"Jane","middle_name":"Leah","last_name":"Doe","ssn":"123-45-6789","phone_number":"(555)
        123-4567","email":"jane.doe@example.com"}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "ab0a1284-1030-47e7-812d-9f150e39ac82",
          "asset_report_token": "assets-sandbox-8223b9f1-0c47-43d9-a905-7faf74b2ab86",
          "request_id": "FRdvyhCK3Xma6UM"
        }
  recorded_at: Mon, 20 May 2019 20:52:09 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-8223b9f1-0c47-43d9-a905-7faf74b2ab86","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ASSET_REPORT_ERROR",
          "request_id": "UKAVEDEmEuUT6zk",
          "suggested_action": null
        }
  recorded_at: Mon, 20 May 2019 20:52:10 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-8223b9f1-0c47-43d9-a905-7faf74b2ab86","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "ab0a1284-1030-47e7-812d-9f150e39ac82",
            "client_report_id": "123",
            "date_generated": "2019-05-20T20:52:12Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "81lGQkwlDbuRjegzx3EVTVlknNNwVrFw1jMkl",
                    "balances": {
                      "available": null,
                      "current": 1000,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
                      {
                        "current": 2000,
                        "date": "2019-05-19",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 2000,
                        "date": "2019-05-18",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 2000,
                        "date": "2019-05-[...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/pdf/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-8223b9f1-0c47-43d9-a905-7faf74b2ab86","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/pdf
      plaid-request-id:
      - 4DCQ11UQSvPqU2r
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        JVBERi0xLjQKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIK
        L1Jlc291cmNlcyAyIDAgUgovR3JvdXAgPDwvVHlwZSAvR3JvdXAgL1MgL1Ry
        YW5zcGFyZW5jeSAvQ1MgL0RldmljZVJHQj4+Ci9Db250ZW50cyA0IDAgUj4+
        CmVuZG9iago0IDAgb2JqCjw8L0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0
        aCAxODQxPj4Kc3RyZWFtCngBpJndcttG0obPeRV9oFTFVf7G84ufs0+yFJdS
        0UYReZgTRIRt2gRgg6[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/filter
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-8223b9f1-0c47-43d9-a905-7faf74b2ab86","account_ids_to_exclude":["81lGQkwlDbuRjegzx3EVTVlknNNwVrFw1jMkl"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "9f3a1f2f-91d3-4248-a623-402cd016f2e8",
          "asset_report_token": "assets-sandbox-8229d1be-086a-442a-9fcc-642e6e5c0e3b",
          "request_id": "LcYvPj4hr8ejGx2"
        }
  recorded_at: Mon, 20 May 2019 20:52:14 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-8229d1be-086a-442a-9fcc-642e6e5c0e3b","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "9f3a1f2f-91d3-4248-a623-402cd016f2e8",
            "client_report_id": "123",
            "date_generated": "2019-05-20T20:52:14Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "AGa3mRQaxzf1LnGjoRbwhP4lWddKPBf1jEZnp",
                    "balances": {
                      "available": null,
                      "current": 320.75,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [],
                    "mask": "5555",
                    "name": "Plaid IRA",
                    "official_name": null,
                    "owners": [
                      {
                        "addresses": [
                          {
                            "data": {
                              "city": "Malakoff",
                              "state": "NY",
                              "street": "2992 Cameron Road",
                              "zip": "14236"
                            },
                            "primary": true
                          },
                          {
                            "data": {
                              "city": "San Matias",
                              "state": "CA",
                              "street": "2493 Leisure Lane",
                              "zip": "93405-2255"
                            },
                            "primary": false
                          }
                        ],
                        "emails": [
                          {
                            "data": "accountholder0@example.com",
                            "primary": true,
                            "type": "primary"
                          },
                          {
                            "data": "accountholder1@example.com",
                            "primary": false,
                            "type": "secondary"
                          },
                          {
                            "data": "extraordinarily.long.email.username.123456@reallylonghostname.com",
                            "primary": false,
                            "type": "other"
                          }
                        ],
                        "names": [
                          "Alberta Bobbeth Charleson"
                        ],
                        "phone_numbers": [
                          {
                            "data": "1112223333",
                            "primary": false,
                            "type": "home"
                          },
                          {
                            "data": "1112224444",
                            "primary": false,
                            "type": "work"
                          },
                          {
                            "data": "1112225555",
                            "primary": false,
                            "type": "mobile1"
                          }
                        ]
                      }
                    ],
                    "subtype": "ira",
                    "transactions": [],
                    "type": "brokerage"
                  },
                  {
                    "account_id": "Eyj465NjwdHKdnXrWRvgUAVmWQQ5AJtXRJGpw",
                    "balances": {
                      "available": null,
                      "current": 410,
                      "iso_currency_code": "USD",
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
           [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/refresh
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-8223b9f1-0c47-43d9-a905-7faf74b2ab86","days_requested":10,"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "b9422a62-1fb2-45f6-a159-d52ef69eb3d7",
          "asset_report_token": "assets-sandbox-5eedd6b6-9385-467f-b83e-c7ef221f8754",
          "request_id": "16GDC82Zlz3RS7r"
        }
  recorded_at: Mon, 20 May 2019 20:52:16 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/create
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-8223b9f1-0c47-43d9-a905-7faf74b2ab86","auditor_id":"PLAID_RUBY_CLIENT_ID","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "audit_copy_token": "a-sandbox-d6ympc3uubahldkddy4ksy6kgm",
          "request_id": "dp8xtvIspsJVW04"
        }
  recorded_at: Mon, 20 May 2019 20:52:20 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/get
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-d6ympc3uubahldkddy4ksy6kgm","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/remove
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-d6ympc3uubahldkddy4ksy6kgm","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "3cLGQbBFhoF4YpN"
        }
  recorded_at: Mon, 20 May 2019 20:52:20 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/remove
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-8223b9f1-0c47-43d9-a905-7faf74b2ab86","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "Sj0XgDp8MEuIC4o"
        }
  recorded_at: Mon, 20 May 2019 20:52:21 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-644e6000-3af3-4535-8a5a-df8414b27246","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "4g3sTU4ZXUaLDJq"
        }
  recorded_at: Mon, 20 May 2019 20:52:21 GMT
recorded_with: VCR 4.0.0
