---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["transactions"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-d48a425e-e037-4787-bff8-9a76a0309c16",
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income"
            ],
            "billed_products": [
              "transactions"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "EjlrGr65JKHBDPLqA7Q7UKWx1j9AaPfp4ZMEP",
            "webhook": ""
          },
          "request_id": "HEuFA"
        }
  recorded_at: Fri, 16 Mar 2018 02:19:11 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/item/reset_login
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d48a425e-e037-4787-bff8-9a76a0309c16","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "request_id": "ByHTW",
          "reset_login": true
        }
  recorded_at: Fri, 16 Mar 2018 02:19:12 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/credentials/update
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d48a425e-e037-4787-bff8-9a76a0309c16","credentials":{"username":"user_good","password":"pass_good"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "ITEM_NO_ERROR",
          "error_message": "The item provided is not in an error state. Only items in an error state may have their credentials updated.",
          "error_type": "ITEM_ERROR",
          "request_id": "OnlQn"
        }
  recorded_at: Fri, 16 Mar 2018 02:19:13 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d48a425e-e037-4787-bff8-9a76a0309c16","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "removed": true,
          "request_id": "699NX"
        }
  recorded_at: Fri, 16 Mar 2018 02:19:16 GMT
recorded_with: VCR 3.0.3
