---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["transactions"],"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "institutions": [
            {
              "credentials": [
                {
                  "label": "User ID",
                  "name": "username",
                  "type": "text"
                },
                {
                  "label": "Password",
                  "name": "password",
                  "type": "password"
                }
              ],
              "has_mfa": true,
              "institution_id": "ins_109508",
              "mfa": [
                "code",
                "list",
                "questions",
                "selections"
              ],
              "name": "First Platypus Bank",
              "products": [
                "auth",
                "balance",
                "credit_details",
                "identity",
                "income",
                "transactions"
              ]
            }
          ],
          "request_id": "w6J0E"
        }
  recorded_at: Wed, 12 Jul 2017 12:36:00 GMT
recorded_with: VCR 3.0.3
