---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["ABCDEFG1234567"],"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_PRODUCT",
          "error_message": "invalid product in products: \"ABCDEFG1234567\"",
          "error_type": "INVALID_INPUT",
          "request_id": "Br4Z9c5PzKHgoWf",
          "suggested_action": null
        }
  recorded_at: Fri, 19 Jul 2019 21:23:36 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/institutions/search
    body:
      encoding: UTF-8
      string: '{"query":"First Platypus Bank","products":["ABCDEFG1234567"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "documentation_url": "https://plaid.com/docs/?ref=error#invalid-input-errors",
          "error_code": "INVALID_PRODUCT",
          "error_message": "invalid product in products: \"ABCDEFG1234567\"",
          "error_type": "INVALID_INPUT",
          "request_id": "hYDl5fpLchS1Qey",
          "suggested_action": null
        }
  recorded_at: Wed, 03 Jun 2020 23:39:24 GMT
recorded_with: VCR 4.0.0
