---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["assets"],"options":{},"public_key":"PLAID_RUBY_PUBLIC_KEY"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-d4a4bcde-e2da-4284-8e4b-3a5f18d61e1b",
          "request_id": "PGn9Vcobpy35pBm"
        }
  recorded_at: Tue, 27 Aug 2019 00:29:35 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-d4a4bcde-e2da-4284-8e4b-3a5f18d61e1b","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-8b65e569-70f8-427f-800d-bc6b398d63b7",
          "item_id": "aVwxj8ox85il3qRbVBVPIAnkZj1LxNI7BZDmK",
          "request_id": "OpzW4CII0gv2h7w"
        }
  recorded_at: Tue, 27 Aug 2019 00:29:35 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-8b65e569-70f8-427f-800d-bc6b398d63b7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "auth",
              "balance",
              "credit_details",
              "identity",
              "income",
              "investments",
              "liabilities",
              "transactions"
            ],
            "billed_products": [
              "assets"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "aVwxj8ox85il3qRbVBVPIAnkZj1LxNI7BZDmK",
            "webhook": "",
            "consent_expiration_time": null
          },
          "request_id": "3SB94qFQWV8jxvO",
          "status": {
            "last_webhook": null
          }
        }
  recorded_at: Tue, 27 Aug 2019 00:29:35 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/create
    body:
      encoding: UTF-8
      string: '{"access_tokens":["access-sandbox-8b65e569-70f8-427f-800d-bc6b398d63b7"],"days_requested":60,"options":{"client_report_id":"123","webhook":"https://www.example.com","user":{"client_user_id":"789","first_name":"Jane","middle_name":"Leah","last_name":"Doe","ssn":"123-45-6789","phone_number":"(555)
        123-4567","email":"jane.doe@example.com"}},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "dc4216a4-ee8d-4625-9c42-fbacfafa3712",
          "asset_report_token": "assets-sandbox-782c4c43-c35c-4153-b421-90d825cd70cb",
          "request_id": "27atCeuQ3hlgGqA"
        }
  recorded_at: Tue, 27 Aug 2019 00:29:36 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-782c4c43-c35c-4153-b421-90d825cd70cb","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "PRODUCT_NOT_READY",
          "error_message": "the requested product is not yet ready. please provide a webhook or try the request again later",
          "error_type": "ASSET_REPORT_ERROR",
          "request_id": "NFL0libfTPkoQQC",
          "suggested_action": null
        }
  recorded_at: Tue, 27 Aug 2019 00:29:36 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-782c4c43-c35c-4153-b421-90d825cd70cb","include_insights":false,"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "report": {
            "asset_report_id": "dc4216a4-ee8d-4625-9c42-fbacfafa3712",
            "client_report_id": "123",
            "date_generated": "2019-08-27T00:29:39Z",
            "days_requested": 60,
            "items": [
              {
                "accounts": [
                  {
                    "account_id": "5EDKqBLKBgiJbvWjdod6FKLjGx4p6GsZvW4ZP",
                    "balances": {
                      "available": null,
                      "current": 410,
                      "iso_currency_code": "USD",
                      "limit": null,
                      "unofficial_currency_code": null
                    },
                    "days_available": 60,
                    "historical_balances": [
                      {
                        "current": 410,
                        "date": "2019-08-26",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 410,
                        "date": "2019-08-25",
                        "iso_currency_code": "USD",
                        "unofficial_currency_code": null
                      },
                      {
                        "current": 410,
                        "date": "2019-08-24[...]
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/pdf/get
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-782c4c43-c35c-4153-b421-90d825cd70cb","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/pdf
      plaid-request-id:
      - nO3Bx5J74CHnpLo
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        JVBERi0xLjQKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIKL1Jlc291cmNlcyAyIDAgUgovR3JvdXAgPDwvVHlwZSAvR3JvdXAgL1MgL1RyYW5zcGFyZW5jeSAvQ1MgL0RldmljZVJHQj4+Ci9Db250ZW50cyA0IDAgUj4+CmVuZG9iago0IDAgb2JqCjw8L0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0aCAxOTU2Pj4Kc3RyZWFtCngBpJnPcttGEsbvfIo+KFVxlXc8fzHAbSVbcTllbxRRx1wQEZZpE4QNkvJqX0yvtzXTPegZgXSU3aTKVY0ift3T39eDASTh14WEzws[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/filter
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-782c4c43-c35c-4153-b421-90d825cd70cb","account_ids_to_exclude":["5EDKqBLKBgiJbvWjdod6FKLjGx4p6GsZvW4ZP"],"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "70b8db67-cb1e-4523-a5ad-d0e2886f60ca",
          "asset_report_token": "assets-sandbox-27fbbd28-9f2c-4c60-9f31-7f9eea9fd0da",
          "request_id": "vi2OeMwlJrAASEm"
        }
  recorded_at: Tue, 27 Aug 2019 00:29:42 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/refresh
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-782c4c43-c35c-4153-b421-90d825cd70cb","days_requested":10,"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_report_id": "f6508611-e890-42aa-bde3-29b55d5220b4",
          "asset_report_token": "assets-sandbox-d6f42da7-a349-4ef4-b449-a38a046d3eb2",
          "request_id": "krktKttCD5L9GrE"
        }
  recorded_at: Tue, 27 Aug 2019 00:29:43 GMT
[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/create
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-782c4c43-c35c-4153-b421-90d825cd70cb","auditor_id":"PLAID_RUBY_CLIENT_ID","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "audit_copy_token": "a-sandbox-gnzdregybzcubehqgyz3byx75y",
          "request_id": "aJqx8h59Iv6q1z8"
        }
  recorded_at: Tue, 27 Aug 2019 00:29:46 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/get
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-gnzdregybzcubehqgyz3byx75y","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/audit_copy/remove
    body:
      encoding: UTF-8
      string: '{"audit_copy_token":"a-sandbox-gnzdregybzcubehqgyz3byx75y","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "xv8NnOVKz24MVPh"
        }
  recorded_at: Tue, 27 Aug 2019 00:29:47 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/asset_report/remove
    body:
      encoding: UTF-8
      string: '{"asset_report_token":"assets-sandbox-782c4c43-c35c-4153-b421-90d825cd70cb","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "xQjRhtLuNzix9G6"
        }
  recorded_at: Tue, 27 Aug 2019 00:29:48 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-8b65e569-70f8-427f-800d-bc6b398d63b7","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "Lq4xojMC4ev35Ve"
        }
  recorded_at: Tue, 27 Aug 2019 00:29:48 GMT
[...]
