---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["identity"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-b9e49d82-985c-40bb-bf68-e689a8670ba2",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "credit_details",
              "income",
              "transactions"
            ],
            "billed_products": [
              "identity"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "gxJ3Lo8REaFmdGLpPPgoSBkrgMjNjZcgBjwZ5",
            "webhook": ""
          },
          "request_id": "0iQ3yiM9vEuxI1d"
        }
  recorded_at: Wed, 20 Mar 2019 03:21:25 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/identity/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b9e49d82-985c-40bb-bf68-e689a8670ba2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "oeL7kvrKlmsa4LvV66MNIynD4nrWPaHRjLgLj",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "gxJ3Lo8REaFmdGLpPPgoSBkrlkbL3Dcgo3z36",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-b9e49d82-985c-40bb-bf68-e689a8670ba2","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "Cc1jv3xBgWydlj7"
        }
  recorded_at: Wed, 20 Mar 2019 03:21:26 GMT
recorded_with: VCR 4.0.0
