---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/categories/get
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "categories": [
            {
              "category_id": "10000000",
              "group": "special",
              "hierarchy": [
                "Bank Fees"
              ]
            },
            {
              "category_id": "10001000",
              "group": "special",
              "hierarchy": [
                "Bank Fees",
                "Overdraft"
              ]
            },
            {
              "category_id": "10002000",
              "group": "special",
              "hierarchy": [
                "Bank Fees",
                "ATM"
              ]
            },
            {
              "cat[...]
