---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/create
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"user_good","password":"pass_good"},"institution_id":"ins_109508","initial_products":["credit_details"],"options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-21d55b21-2d9c-4117-bb9c-06bd446c9a63",
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "identity",
              "income",
              "transactions"
            ],
            "billed_products": [
              "credit_details"
            ],
            "error": null,
            "institution_id": "ins_109508",
            "item_id": "rPw7m476W5uZ91aZKQqmfr4kDMJJpgFlPALaN",
            "webhook": ""
          },
          "request_id": "ZTjMq45Wu2Ub7XT"
        }
  recorded_at: Wed, 20 Mar 2019 15:46:08 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/credit_details/get
    body:
      encoding: UTF-8
      string: '{"access_token":"ABCDEFG1234567","options":{},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_ACCESS_TOKEN",
          "error_message": "provided access token is in an invalid format. expected format: access-\u003cenvironment\u003e-\u003cidentifier\u003e",
          "error_type": "INVALID_INPUT",
          "request_id": "C23GpGIzXUKJn2L"
        }
  recorded_at: Wed, 20 Mar 2019 15:46:08 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/remove
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-21d55b21-2d9c-4117-bb9c-06bd446c9a63","client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-02-14'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-02-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "removed": true,
          "request_id": "VPclvnQ2sIesHJL"
        }
  recorded_at: Wed, 20 Mar 2019 15:46:09 GMT
recorded_with: VCR 4.0.0
