---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/add_token/create
    body:
      encoding: UTF-8
      string: '{"user":{"client_user_id":"123-fake-user-id","legal_name":"John Doe","phone_number":"+1
        415 555 0123","phone_number_verified_time":"2020-01-01T00:00:00Z","email_address":"example@plaid.com"},"client_id":"PLAID_RUBY_CLIENT_ID","secret":"PLAID_RUBY_SECRET"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      plaid-version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "add_token": "item-add-sandbox-87dc01e4-6a3a-4aed-8d26-dd25480d2a59",
          "expiration": "2020-04-23T17:11:19.947954017Z",
          "request_id": "qs77W2vu8wd2KFj"
        }
  recorded_at: Wed, 22 Apr 2020 17:11:20 GMT
recorded_with: VCR 4.0.0
