# Plaid::VerificationStatus

## Properties

| Name | Type | Description | Notes |
| ---- | ---- | ----------- | ----- |

## Example

```ruby
require 'plaid'

instance = Plaid::VerificationStatus.new()
```

